{% extends 'base.html' %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" href={% static "/about/css/about.css" %}>{% endblock %}

{% block content %}

<div class="container-fluid m-0 p-0 overflow-hidden">
  <div class="row about-row">
    <div class="col-md-3 submenu pt-3">
      <h4 class="text-center font-weight-normal ml-3 mt-3">Om Mannhullet</h4>
      <hr class="ml-3">
      <ul
        class="nav nav-pills nav-stacked flex-sm-row flex-md-column justify-content-sm-center affix-top rounded mt-5 pt-2">
        <li class="nav-item ">
          <a class="nav-link btn-color-dark" href={% url 'general_info' %}>Generelt</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link btn-color-dark" href={% url 'styret' %}>Styret</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'statutter' %}>Statutter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'undergrupper' %}>Undergruppesjefer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'ITVKTR' %}>ITV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'DNV' %}>DNV</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'losen' %}>Losen Styret</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'offiserer' %}>Offiserer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-color-dark" href={% url 'referat' %}>Referater</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-9 pr-4 pt-5">
      {% block info %}
      {% endblock %}
    </div>
  </div>
</div>



{% endblock %}
