{% extends 'base.html' %}
{% block title %}Legg til nytt referat{% endblock %}

{% block content %}
<div class="container text-center mt-3 mb-3 bg-white shadow rounded">
  <h2>Legg til nytt referat</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default about-btn" style="margin: 20px; width: 15em;">Last opp</button>
  </form>
</div>
{% endblock %}
