{% extends './about_base.html' %}
{% load static %}

{% block title %}Styret{% endblock %}

{% block info %}
<h1 class="ml-2 display-4">Styret</h1>
<hr class="py-3">
<div class="row justify-content-center pl-2 mt-3">
  {% for member in board_members %}
  <div class="col-md-4 card-group">
    <div class="card shadow text-center w-100 h-100">
      <img class="card-img-top" {% if not member.image %} src="{% static 'img/business_alt.png' %}" {% else %}
        src="{{ member.image.url }}" {% endif %} onerror="imgError(this)" alt="{{member.first_name}} Bilde">
      <div class="card-body">
        <h5 class="card-title"> {{member.first_name}} {{member.surname}} </h5>
        <h6 class="card-subtitle font-weight-light font-italic"> {{member.position}} </h6>
        <p class="card-text"> Email: <span><br><a href="mailto:{{member.mail}}"> {{member.mail}} </a></span></p>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:'3' %}
</div>
<div class="row justify-content-center pl-2 mt-3">
  {% endif %}
  {% endfor %}
</div>


<script type="text/javascript">
  function imgError(image) {
    image.onerror = '';
    image.src = "{% static 'about/img/buisness_alt.png' %}";
    return true;
  }
</script>
{% endblock %}
