{% extends './about_base.html' %}
{% load static %}

{% block title %}DNV{% endblock %}

{% block info %}

<div class="jumbotron-fluid pt-1 mx-2">
    <img class="mb-4 hsp-img" src="{% static 'global/img/DNV_logo_big.png' %}" alt="">
    <h3 class="display-4">DNV</h3>
    <p class="lead">Mannhullet er meget stolt av sin hovedsamarbeidspartner, en
      av markedets mest ettertraktede
        arbeidsgivere, DNV</p>
    <hr class="py-4">
    <h3 class="mb-3">OM DNV</h3>

    <p class="mb-5 dnv-text">Vi er et globalt selskap innen kvalitetssikring og risikohåndtering med tilstedeværelse i
        over
        100 land. Vårt
        formål er å sikre liv, verdier og miljøet. Med vår unike tekniske ekspertise og uavhengighet bistår vi våre
        kunder med å forbedre sikkerhet, effektivitet og bærekraft.
        <br><br>
        Enten vi godkjenner et nytt skipsdesign, optimerer energiproduksjonen fra en vindmøllepark, analyserer
        sensordata fra en gassrørledning eller sertifiserer verdikjeden til en matprodusent, hjelper vi våre kunder med
        å ta gode og riktige beslutninger og øke tilliten til virksomheten, produktene og tjenestene deres. Verden er i
        endring. Vi kan påvirke utviklingen. Sammen skal vi takle de globale utfordringene og omstillingene vi vil møte.
    </p>
</div>


{% endblock %}
