{% extends './about_base.html' %}
{% load static %}

{% block title %}Om Mannhullet{% endblock %}

{% block info %}

<div class="jumbotron-fluid pt-1 mx-2">
    <h3 class="display-4 ml-2 mb-3">Om Mannhullet</h3>
    <hr class="py-3">

    <p class="ml-2 mannhullet-text"> Mannhullet er
    linjeforeningen til Marin Teknikk ved NTNU i Trondheim. Siden stiftelsen i 1917 har foreningen blitt driftet av frivillige som
    jobber for et godt studentmiljø ved studiet. Mannhullet er åpent for alle studenter ved instituttet for Marin teknikk,
    NTNU Trondheim og tidligere studenter ved Skipsteknisk- og Nautikk
    avdeling. Medlemskapet oppnås ved betaling av engangskontingent som gir livsvarig medlemskap. Medlemmer i
    Mannhullet omtales som Mannhullitter. Medlemmer får tilgang til medlemsdelen av vår hjemmeside, noe som gir mulighet
    for å lese linjeforeningsavisen vår, melde seg på arrangementer og se bilder i arkivet. I tillegg blir medlemmer lagt til en mail-liste hvor informasjon om aktiviteter
    jevnlig sendes ut.
    <br><br>
    Styret er Mannhullets nest høyeste
    organ og har det overordnede ansvaret for den daglige driften av
    linjeforeningen, samt økonomien. Leder av Styret kalles
    Formann og velges hvert år demokratisk på et
    valgmøte der samtlige Mannhullitter som møter
    opp har stemmerett. Formann har deretter ansvar for å sette
    sammen et styre. Styrestillingene lyses ut og alle Mannhullitter har
    mulighet til å søke. Mannhullet har mange
    undergrupper som arrangerer sammenkomster og arrangement som gagner
    alle Mannhullitter. Dette fører til at Mannhullitter har
    et bredt tilbud av aktiviteter knyttet til studietiden sammen med
    andre studenter ved Marin teknikk. I tillegg har Mannhullet underlagt
    to konferansekomiteer som arrangerer større faglige
    arrangement, med fokus på nærings, arbeid og
    mellommenneskelige temaer. I forbindelse med at linjeforeningen ble
    100 år januar 2017, ble det opprettet en komite
    til. Denne hadde ansvar for å arrangere to ukers feiring
    med et bredt spekter av aktiviteter for alle nåværende
    og tidligere Mannhullitter.
    </p>
</div>


{% endblock %}
