{% extends './about_base.html' %}
{% load static %}

{% block title %}ITV{% endblock %}

{% block info %}
<h1 class="display-4 ml-2">Instituttillitsvalgt</h1>
<hr class="py-3">

<div class="row justify-content-center pl-2 mt-3">
  {% for itv in ITVs %}
  <div class="col-md-4 card-group">
    <div class="card shadow text-center w-100 mb-3">
      <img class="card-img-top" {% if not itv.image %} src="{% static 'img/business_alt.png' %}" {% else %}
        src="{{ itv.image.url }}" {% endif %} onerror="imgError(this)" alt="{{itv.first_name}} Bilde">
      <div class="card-body">
        <h5 class="card-title">{{itv.first_name}} {{itv.surname}}</h5>
        <h6 class="card-subtitle font-weight-light font-italic"> {{itv.year}}.klasse </h6>
        <p class="card-text"> Email: <span><br><a href="{{itv.mail}}" class="btn-default btn-color-dark">
              {{itv.mail}} </a></span></p>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-md-4 mt-3">
    <h3>Om ITV</h3>
    <p>Som instituttillitsvalgt (ITV) er vi tillitsvalgte på vegne av alle studentene på Tyholt og vår hovedoppgave er å
      sørge for at studentenes rettigheter blir ivaretatt og at deres ønsker blir hørt. Vi er i jevnlige møter med
      studentrådet for IVT, ledelsen på instituttet og studenttinget.</p>
    <p>Er det noe du ikke er fornøyd med, eller har du forslag som kan gjøre din og alles studiehverdag bedre; kom til
      oss! Det er vår jobb å formidle dette videre. Vi holder til på styrekontoret (A1.021), så kom innom for en
      hyggelig prat eller send oss en mail.</p>
  </div>
</div>


<script type="text/javascript">
  function imgError(image) {
    image.onerror = '';
    image.src = "{% static 'about/img/buisness_alt.png' %}";
    return true;
  }
</script>

{% endblock %}
