{% extends './about_base.html' %}
{% load static %}

{% block title %}Offiserer{% endblock %}

{% block info %}
<h1 class="ml-2 display-4">Offiserer</h1>
<p class="ml-2 mannhullet-text">Liste over de øverste rangene i Mannhullet.</p>
<hr class="py-3">

<!-- Iterate over the ordered ranks and associated officers -->
{% for rank, officers in ordered_officers.items %}
<div class="row justify-content-center pl-2 mt-3">
  {% if officers %}
    <h2 class="col-12 text-center">{{ rank }}</h2>
    {% for officer in officers %}
      <div class="col-md-4 card-group mb-2">
        <div class="card shadow text-center w-100 h-100">
          <div class="card-body">
            <h5 class="card-title"> {{ officer.get_full_name }} </h5>
            <h6 class="card-subtitle font-weight-light font-italic"> {{ officer.rank }} </h6>
            <!-- Add more officer details you want to display -->
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endfor %}
{% endblock %}
