{% extends './about_base.html' %}
{% load static %}
{% load group_tags %}

{% block title %}Referater{% endblock %}

{% block info %}
<div class="container mt-3 mb-3">
    <div class="header-area d-flex justify-content-between align-items-center">
        <div>
            <h1 class="display-4 ml-2 mb-0">Referater</h1>
            <p class="ml-2 mannhullet-text">Gamle referater fra f.eks. generalforsamlinger.</p>
        </div>
        {% if user|has_group:"Styret" %}
            <a href="{% url 'referat-create' %}" class="btn btn-default about-btn">Legg til nytt referat</a>
        {% endif %}
    </div>
    <hr>
    {% for referat in referater %}
        <div class="document-list">
            <div class="list-group-item shadow-sm ml-2">
                <a class="text-dark" target="_blank" href="{{ referat.pdf_file.url }}" style="text-decoration: none;">
                    <h3 class="mb-0 text-center">{{ referat.upload_date.year }} - {{ referat.title }}</h3>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
