{% extends './about_base.html' %}
{% load static %}

{% block title %}Statutter{% endblock %}

{% block info %}
<h1 class="display-4 ml-2">Statutter</h1>
<hr class="py-3">
<p class="ml-2 font-weight-light">(Oppdatert etter Generalforsamling 29.04.2022)</p>
<div class="ml-2 statutter-section">
    <div id="organization">
      <h5>1 Organisasjonen</h5>
      <p>§1.1 Mannhullet (Org. nr: 991 538 836) er Linjeforeningen til studenter ved Institutt for Marin Teknikk og tidligere studenter ved Skipsteknisk- og Nautikk avd. NTH og Marin Teknikk NTNU. </p>
      <p>§1.2 Hans Majestet (H M) Neptunus Rex er Mannhullets Admiral og overhode.</p>
      <p>§1.3 Mannhullets utøvende leder har tittelen Formann.</p>
      <p>§1.4 Generalforsamlingen er høyeste myndighet i Mannhullet.</p>
    </div>

    <div id="members">
      <h5>2 Medlemmer</h5>
      <p>§2.1 Alle studenter ved Marin Teknikk NTNU i Trondheim kan bli medlemmer i Mannhullet. Mannhulletstyret har myndighet til å innvilge medlemskap til utenforstående.</p>
      <p>§2.2 Medlemskapet oppnås ved betaling av engangskontingent og er livsvarig.</p>
      <p>§2.3 Et medlem i Mannhullet omtales som Mannhullitt.</p>
      <p>§2.4 Medlemskontingenten fastsettes av Mannhulletstyret etter budsjett for Barsling.</p>
    </div>

    <div id="voting">
      <h5>3 Avstemming</h5>
      <p>§3.1 Kun Mannhullitter har stemmerett i Mannhullet. For å kunne avgi stemme kreves fysisk tilstedeværelse under avstemming.</p>
      <p>§3.2 Avstemming foretas ved håndsopprekning. Hvis minst ti eller en tiendedel av de oppmøtte Mannhullittene krever det, skal det foretas skriftlig avstemming. Skriftlig avstemming skjer ved anonym innlevering av stemmesedler, som telles av et forhåndsbestemt tellekorps.</p>
      <p>§3.3 Gyldige stemmer ved skriftlig avkrysningsvalg inneholder avkrysning av ett foreslått alternativ eller blank stemme ved eget avkrysningsvalg. </p>
      <p>§3.4 For å bli godkjent må et alternativ oppnå alminnelig flertall, hvis ikke noe annet er presisert i statuttene. Dersom et alternativ ikke oppnår alminnelig flertall av de oppgitte stemmene, foretas bundet omvalg. Hvis det er mer enn to alternativer, foretas omvalget mellom de to alternativene som har oppnådd flest stemmer.</p>
    </div>

    <div id="election">
      <h5>4 Formannsvalg</h5>
      <p>§4.1 Kun studerende Mannhullitter kan stille som kandidater ved Formannsvalg. </p>
      <p>§4.2 Formann i Mannhullet velges på Formannsvalg i begynnelsen av hvert vårsemester, og burde velges fra 2. årskull.</p>
      <p>§4.3 Innkalling til Formannsvalg skal være sendt ut senest tre uker før møtet. </p>
      <p>§4.4 Forhåndsmeldte kandidater må være meldt til Mannhulletstyret senest to uker før Formannsvalget, og offentliggjøres senest en uke før Formannsvalget. </p>
      <p>§4.5 På Formannsvalget skal det være mulighet til å foreta benkeforslag, det vil si at andre kandidater enn de(n) forhåndsmeldte kan foreslås enten av seg selv eller andre Mannhullitter.</p>
      <p>§4.6 Dersom ingen stiller til Formannsvalg, er sittende Formann ansvarlig frem til en arvtaker er på plass. Ekstraordinær Generalforsamling må avholdes innen en måned. </p>
    </div>

    <div id="generalAssembly">
      <h5>5 Generalforsamling</h5>
      <p>§5.1 Ordinær Generalforsamling skal avholdes i slutten av hvert vårsemester, og Mannhulletstyret er ansvarlig for gjennomføringen.</p>
      <p>§5.2 Kommende styre skal godkjennes på Generalforsamlingen. </p>
      <p>§5.3 Leder for hver undergruppe skal godkjennes av Generalforsamlingen.</p>
      <p>§5.4 Dersom en undergruppeleder ikke blir godkjent av Generalforsamlingen, er undergruppen selv ansvarlig for å finne en ny leder. </p>
      <p>§5.5 Innkallelsen til Generalforsamlingen skal offentliggjøres senest 3 uker før møtet. Komplett saksliste og forslag til statuttendringer skal offentliggjøres senest 2 uker før Generalforsamlingen.</p>
      <p>§5.6 Saksliste på Ordinær Generalforsamling skal minimum inneholde:</p>
      <ol>
        <li>Styrets beretning.</li>
        <li>Presentasjon av Mannhullets økonomi.</li>
        <li>Revisors beretning.</li>
        <li>Presentasjon av undergruppenes økonomi og nye undergruppeledere.</li>
        <li>Mannhulletstyret trer av og det nye styret trer inn.</li>
      </ol>
      <p>§5.7 Statuttendring krever 2/3 flertall. Avstemming foregår i henhold til avsnitt 3, «Avstemming».</p>
      <p>§5.8 Regnskapet for Mannhullet og dets undergrupper og komiteer skal legges frem, og godkjennes på Generalforsamling. Mannhullets økonomiansvarlig og undergruppenes økonomiansvarlige legger frem økonomien for tiden siden forrige Ordinære Generalforsamling.</p>
      <p>§5.9 Mannhulletstyret plikter å utpeke en revisor, fortrinnsvis en fra 4. eller 5. klasse med god kjennskap til Mannhullets drift, som presenteres ved innkalling til Generalforsamlingen. Revisor legger frem sin rapport for det foregående regnskapsåret på Generalforsamlingen. Revisjonen av undergruppenes regnskap utføres av økonomiansvarlig.</p>
      <p>§5.10 Ekstraordinær Generalforsamling skal avholdes hvis Mannhulletstyret, eller en Mannhullitt fra hvert klassetrinn samt et samlet antall på minst en tidel av de studerende Mannhullittene, krever dette. Initiativtaker foretar da innkallelsen etter §5.5Kun de sakene som gjør Ekstraordinær Generalforsamling nødvendig skal behandles. </p>
      <p>§5.11 Dersom Mannhulletstyret ikke lenger har Mannhullitters tillit, kan det fremsettes et mistillitsforslag overfor hele Mannhulletstyret.  Ekstraordinær Generalforsamling kalles inn i henhold til §5.10 hvor mistillitsforslaget skal presenteres og stemmes over i henhold til avsnitt 3, «Avstemming».  Kravet for gjennomslag er 2/3 flertall. Hvis mistillitsforslaget får gjennomslag, avholdes nytt Formannsvalg øyeblikkelig etter i den Ekstraordinære Generalforsamlingen. Etter endt Formannsvalg tar nye Formann opp et nytt Mannhulletstyre. Leder for Bedriftskontakt Marin og leder for Skipslogen går under avsnitt 8, «Undergrupper», og blir derfor ikke påvirket av mistillitsforslaget mot Mannhulletstyret. Virketiden til det nye Mannhulletstyret er fra Ekstraordinær Generalforsamling til neste Ordinære Generalforsamling.</p>
      <p>§5.12 Generalforsamlingen er beslutningsdyktig hvis en Mannhullitt fra hvert klassetrinn, samt et samlet antall på minst en tidel av de studerende Mannhullittene er tilstede. </p>
    </div>

    <div id="board">
      <h5>6 Mannhulletstyret</h5>
      <p>§6.1 Mannhulletstyret foreslås av påtroppende Formann. </p>
      <p>§6.2 Styret skal minst bestå av Formann, 1. Styrmann, leder for Bedriftskontakt Marin, leder for Skipslogen og Økonomiansvarlig. På høsten skal det opptas en Jungmann fra det nye kullet med førsteklassinger, denne stillingen inngår i Mannhulletstyret. Leder for Skipslogen, leder for Bedriftskontakt Marin og leder av Sekstanten velges henholdsvis av styret for Skipslogen, styret for Bedriftskontakt Marin og Sekstanten.</p>
      <p>§6.3 Mannhulletstyret skal ha ansvaret for driften av Mannhullet, og arbeide for faglige og sosiale arrangementer.</p>
      <p>§6.4 Mannhulletstyrets funksjonstid er ett år fra og med Ordinær Generalforsamling. </p>
    </div>

    <div id="operating">
      <h5>7 Drift</h5>
      <p>§7.1 Mannhulletstyret har ansvaret for Mannhullets aktiviteter og vedlikehold av Mannhullets eiendeler. </p>
      <p>§7.2 Mannhulletstyret skal prioritere å avholde følgende:</p>
      <ul>
        <li>Årets foreleser</li>
        <li>17-mai-feiring</li>
        <li>Barsling </li>
        <li>Barslingsgalla</li>
        <li>Faglig arrangement</li>
        <li>Biljard- og bordtennisturnering</li>
        <li>Juleavslåpning</li>
        <li>Åretur</li>
        <li>Mannhullets bursdag</li>
        <li>Formannsvalg</li>
        <li>Regatta</li>
        <li>Generalforsamling</li>
      </ul>
      <p>§7.3 Hvert år skal Mannhullet gi en pris til én av undervisningspersonalet som har utmerket seg i løpet av studieåret. Prisen overrekkes i forbindelse med arrangementet Årets Foreleser. Komiteen som deler ut prisen skal bestå av fem Mannhullitter, derav to fra Mannhulletstyret, én ITV og to fra fjerde eller femte årstrinn som følger ulike hovedprofiler, og har kjennskap til en eller flere av de nominerte foreleserne. </p>
      <p>Kriterier: Vinneren bør utmerke seg med høy kvalitet på det faglige opplegget, være tilgjengelig for sine studenter, holde seg faglig oppdatert innen sitt fagfelt og stimulere studenter til å søke en akademisk karriere.</p>
      <p>§7.4 RUKA, Mannhullets Skipsfartskonferanse og andre arrangementer med eget styre i Mannhullet er underlagt Mannhulletstyret. Mannhullets Formann forplikter seg til, sammen med gammelt styre av arrangementet, å velge ny leder. Mannhulletstyret har ansvaret for å følge opp gjennomføringen av de respektive arrangementene, og økonomisk ansvar som gjelder både behandling av underskudd og overskudd.</p>
    </div>

    <div id="undergroups">
      <h5>8 Undergrupper</h5>
      <p>§8.1 En undergruppe er en gruppe underlagt Mannhullet med mål om å berike Mannhullitters studiehverdag med sosiale og faglige tilbud. </p>
      <p>§8.2 Et utvalg er en mindre gruppe underlagt Mannhullet som utreder en spesifikk sak relatert til Mannhullets interesser. Utvalgene kan være permanente, eller operere i mindre tidsrom som f.eks. en Jubileumskomite.</p>
      <p>§8.3 Mannhullets undergrupper er selvstyrte og velger sine medlemmer gjennom en egendefinert prosess. </p>
      <p>§8.4 Mannhullets undergrupper og deres ansvarsområde er:</p>
      <ul>
        <li>Bedriftskontakt Marin (BK) - Ansvar for kontakten mellom næringslivet og Mannhullet</li>
        <li>COMA - Mannhullets turgruppe</li>
        <li>Mannhullets interne Teater (MiT) - Mannhullets revygruppe</li>
        <li>Motorbåtkomiteen (MBK) - Ansvar for Mannhullets motorbåt</li>
        <li>Marina - Mannhullets interne avis</li>
        <li>Marin FK - Mannhullets herrelag i fotball </li>
        <li>Marin FKK - Mannhullets damelag i fotball</li>
        <li>Nordens Tekniska Högskolors Skeppsbyggarekongress Delegasjonen (NTHS) - Samarbeid mellom nordiske universiteter</li>
        <li>Seilbåtkomiteen (SBK) - Ansvar for Mannhullets seilbåt</li>
        <li>Skipslogen - Ansvar for Mannhullets bar, kalt Skipslogen</li>
        <li>Tåkeluren - Mannhullets kor</li>
        <li>Mannhullets Ølbryggerlaug – Mannhullets gruppe for ølbrygging </li>
        <li>Mannhullets Medieutstyrsgruppe (MMUG) – Mannhullets gruppe for bruk og oppbevaring av digitalt utstyr</li>
        <li>Sekstanten – Mannhullets gruppe for vedlikehold og videreutvikling av mannhullet.no</li>
        <li>Marine Pinnar – Mannhullets gruppe for alle håndarbeidsinteresserte</li>
      </ul>
      <p>§8.5 Mannhulletstyret pålegges å møte lederne for undergruppene minst én gang i semesteret. Undergruppene forplikter seg til å sende inn: </p>
      <ol>
        <li>Fremdriftsplaner og budsjett til Mannhulletstyret ved begynnelsen av hvert semester.</li>
        <li>Regnskap for tiden etter Ordinær Generalforsamling senest en uke etter undervisningsslutt for høstsemesteret og to uker før Ordinær Generalforsamlingen på vårsemesteret.</li>
      </ol>
      <p>§8.6 Lederne for undergruppene er ansvarlig for undergruppens virksomhet. Dersom dette arbeidet forsømmes, har Generalforsamling myndighet til å avsette sittende leder. Ny leder velges av undergruppen og må godkjennes av en Generalforsamling.</p>
    </div>

    <div id="rank">
      <h5>9 Mannhullets grader og utmerkelser</h5>
      <p>§9.1 Rangstigen til Mannhullet er som følger:</p>
      <ul>
        <li>Admiral - H M Kong Neptunus Rex</li>
        <li>Æresadmiral - H M Kongen av Norge</li>
        <li>Viseadmiral - Én fra næringslivet og én fra Institutt for Marin Teknikk</li>
        <li>Kontreadmiral - Sittende Formann</li>
        <li>Flagg-Kommandør - Mannhullitt med en ekstra stor innsats for Mannhullet etter endt studietid</li>
        <li>Kommandør</li>
        <li>Kommandørkaptein</li>
        <li>Orlogskaptein</li>
        <li>Kapteinløytnant </li>
        <li>Løytnant - Sivilingeniører og diplomkandidater som har vært Formenn</li>
        <li>Fenrik - Diplomkandidat med ekstra innsats for Mannhullet gjennom studietiden</li>
        <li>Kvartermester – Diplomkandidat </li>
        <li>Kadett – Student etter betaling av engangskontigent </li>
        <li>Phoster – Student før betaling av engangskontigent </li>
      </ul>
      <p>§9.2 Tidligere Formenn og Fenriker utnevnes til Kapteinløytnant ved uteksaminering. </p>
      <p>§9.3 Flagg-Kommandør kan kun oppnås ved opphøying på større arrangementer i Mannhullet. </p>
      <p>§9.4 Offiserskorpset består av alle Mannhullitter med tittelen Fenrik og høyere. Kommandørkorpset er den delen av Offiserskorpset som består av Mannhullets tidligere Formenn. </p>
      <p>§9.5 Forfremmelse av Mannhullitter foretas av Mannhulletstyret etter forslag fra H M Kong Neptunus Rex. De forplikter seg til at det til enhver tid er et Offiserskorps i Mannhullet, samt å holde ved like og ajourføre en offisersrull. </p>
      <p>§9.6 Mannhulletstyret plikter å skriftlig invitere medlemmer av Offiserkorpset over Løytnanttittel til større begivenheter i Mannhullet.</p>
      <p>§9.7 En dalje er en utmerkelse som kan oppnås ved diplomkandidatur eller ved større innsats for Mannhullet.</p>
      <p>§9.8 Ved representasjon av Mannhullet skal Mannhullets merker og daljer bæres. I tillegg til dette kan daljer og merker fra Linjelederforumet, Teknologiporten og Fakultetet bæres. </p>
      <p>§9.9 Mannhullets daljer er:</p>
      <ul>
        <li>Formannsdalje</li>
        <li>Styredalje</li>
        <li>Undergruppeleder-dalje</li>
        <li>Rukastyre-dalje</li>
        <li>Diplomdalje</li>
      </ul>
      <p>§9.10 Forslag til nye daljer for Mannhullet må godkjennes av Mannhulletstyret.  </p>
      <p>§9.11 Mannhullets pin kan kun bæres av Diplomkandidater, Formenn og Offiserkorpset. </p>
    </div>
</div>
{% endblock %}
