{% extends './about_base.html' %}
{% load static %}

{% block title %}Undergruppesjefer{% endblock %}

{% block info %}
<h1 class="display-4 ml-2">Undergruppesjefer</h1>
<hr class="py-3">
<div class="row justify-content-center pl-2 mt-3">
  {% for leader in leaders %}
  <div class="col-md-4 card-group">
    <div class="card shadow text-center w-100 h-100">
      <img class="card-img-top" {% if not leader.image %} src="{% static 'img/business_alt.png' %}" {% else %}
        src="{{ leader.image.url }}" {% endif %} onerror="imgError(this)" alt="{{leader.first_name}} Bilde">
      <!-- <img class="card-img-top" src={% static '' %} onerror="imgError(this)" alt="{{leader.first_name}} Bilde"> -->
      <div class="card-body">
        <h5 class="card-title"> {{leader.first_name}} {{leader.surname}} </h5>
        <h6 class="card-subtitle font-weight-light font-italic"> {{leader.group}} </h6>
        <p class="card-text">Email:<span><br><a href="mailto:{{leader.mail}}" class="btn-default btn-color-dark">
              {{leader.mail}} </a></span></p>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:'3' %}
</div>
<div class="row justify-content-center pl-2 mt-3">
  {% endif %}
  {% endfor %}
</div>


<script type="text/javascript">
  function imgError(image) {
    image.onerror = '';
    image.src = "{% static 'about/img/buisness_alt.png' %}";
    return true;
  }
</script>
{% endblock %}
