.registration-container {
  margin: 50px auto;
}

.content {
  margin-left: 0;
}

li {
  list-style: none;
}

.registration-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Messages and Error lists */
.messages, .errorlist {
  padding-left: 0;
}

#id_main_specialization {
  margin-top: 30px;
  margin-left: -95px;
  width: 70%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  padding: 6px 12px;
}

.user-info p {
    margin-bottom: 0.5em; /* Reduces the bottom margin */
    line-height: 1.5; /* Adjusts the line height for better readability */
}

.messages .success { color: #28a745 }
.messages .error { color: #dc3545 }
.messages .info { color: #dc3545 }