{% extends './rental_base.html' %}
{% load rental_tags %}

{% block title %}
Godkjenning
{% endblock %}

{% block main_content %}
<style>
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px 12px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #e9e9e9;
    }
    button {
        padding: 5px 10px;
        border: none;
        background-color: #ff6b6b;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }
    button:hover {
        background-color: #ff4d4d;
    }
</style>
<div class="col-md-9">
{% if user|has_rental_permission %}
    <h1 class="h1-approval mt-5 mb-5">Godkjenning for MBK og SBK</h1>
{% elif user|is_MBK %}
    <h1 class="h1-approval mt-5 mb-5">Godkjenning for MBK</h1>
{% elif user|is_SBK %}
    <h1 class="h1-approval mt-5 mb-5">Godkjenning for SBK</h1>
{% endif %}

    <table>
        <thead>
            <tr>
                <th>Leietaker</th>
                <th>Leieobjekt</th>
                <th>Starttid utleie</th>
                <th>Sluttid utleie</th>
                <th>Godkjenning</th>
                <th>Slett</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in pending_rentals %}
            <tr>
                <td>{{ rental.renter_full_name }}</td>
                <td>{{ rental.rental_object }}</td>
                <td>{{ rental.start_time }}</td>
                <td>{{ rental.end_time }}</td>
                <td>
                   <form method="post" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="approve_id" value="{{ rental.id }}">

                    <div class="modal fade" id="approveRentalModal" tabindex="-1" role="dialog" aria-labelledby="approveRentalModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="approveRentalModalLabel">Godkjenne leie</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Vil du godkjenne leie for {{ rental.renter_full_name }} fra {{ rental.start_time }} til {{ rental.end_time }}?
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm-6">
                                        <button type="button" class="modal-close-btn btn btn-default modal-rental-btn" data-dismiss="modal">Lukk</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-success modal-rental-btn btn-default">Godkjenn</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button to trigger the modal -->
                    <button type="button" class="btn btn-success rental-btn rental-approve-btn" data-toggle="modal" data-target="#approveRentalModal">
                        Godkjenn leie
                    </button>
                </form>
                </td>
                <td>
                  <!-- Modal for the rental deletion -->
                <form method="post" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete_id" value="{{ rental.id }}">

                    <div class="modal fade" id="deleteRentalModal" tabindex="-1" role="dialog" aria-labelledby="deleteRentalModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteRentalModalLabel">Slett leie</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Er du sikker på at du vil slette leie for {{ rental.renter_full_name }} fra {{ rental.start_time }} til {{ rental.end_time }}?
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm-6">
                                        <button type="button" class="modal-close-btn btn btn-default modal-rental-btn" data-dismiss="modal">Lukk</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-default btn-danger modal-rental-btn">Slett</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button to trigger the modal -->
                    <button type="button" class="btn btn-danger rental-btn rental-delete-btn" data-toggle="modal" data-target="#deleteRentalModal">
                        Slett leie
                    </button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
