{% extends './rental_base.html' %}
{% load static %}

{% block title %} Utleiekalender {% endblock %}

{% block main_content %}
    <div class="col-md-9 pr-4 pt-5">
        <h2 class="text-center mb-3">Utleiekalender</h2>
        <p class="text-center mb-3"><i>Kalender over hva som er leid ut denne uken</i></p>

        <div class="row calender-top-section">
            <div class="col-1 justify-content-center">
                <a href="{% url 'calendar_week' year=prev_year week=prev_week %}" class="month-arrow-left">
                    <i class="fa fa-angle-double-left arrow-left"></i>
                </a>
            </div>
             <div class="col-10 text-center">
                <h3>{{ month_name }} - Uke {{ current_week }}</h3>
            </div>
            <div class="col-1 justify-content-center">
                <a href="{% url 'calendar_week' year=next_year week=next_week %}" class="month-arrow-right">
                    <i class="fa fa-angle-double-right arrow-right"></i>
                </a>
            </div>
        </div>

        {{ calendar }}
    </div>
{% endblock %}

