{% extends './rental_base.html' %}

{% block title %} Bekreftelse {% endblock %}

{% block main_content %}
        <div class="col-md-9">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Bekreftelse</h3>
                    <p class="card-text">Leieperioden er ledig og venter godkjennelse.</p>
                </div>
            </div>
        </div>

{% endblock %}
