{% extends './rental_base.html' %}
{% load static %}

{% block title %} {{ rental_object.title }} {% endblock %}

{% block main_content %}

<div class="col-md-9 pr-4 pt-3">
    <div class="card">
        <div class="card-horizontal">

            <div class="card-body">
                <h3 class="card-title">{{rental_object.title}}</h3>
                <p class="card-text font-weight-light">Antall: {{rental_object.quantity}}</p>
                <p class="card-text">{{rental_object.info | safe}}</p>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <h6>{{ field.label_tag }}</h6>
                        <p class="evnt-helptext">{{field.help_text}}</p>
                        <p>{{ field }}</p>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger error-message-container">{{ error }}</p>
                    {% endfor %}

                    <button type="submit" class="btn btn-default save-btn clear-btn" name="submit">Save</button>
                </form>

            </div>
            <div class="card-image">
                <img class="card-img-top" {% if rental_object.image %} src="{{ rental_object.image.url }}" {% else %} src="{% static 'global/img/logo_default.png' %}" {% endif %} alt="Card image cap">
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Undergruppe: {{rental_object.get_renting_group_display }}</small>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<link rel="stylesheet" type="text/css" href={% static "admin/css/widgets.css" %} />
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src={% static "/admin/js/admin/RelatedObjectLookups.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/calendar.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/admin/DateTimeShortcuts.js" %}></script>
<script type="text/javascript" src={% static "admin/js/vendor/jquery/jquery.js" %}></script>
<script type="text/javascript" src={% static "admin/js/jquery.init.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "admin/css/widgets.css" %} />

{% endblock %}
