{% extends 'base.html' %}
{% load rental_tags %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" href={% static "/about/css/about.css" %}>
<link rel="stylesheet" href={% static "/rental/css/rental.css" %}>

{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="container-fluid m-0 p-0 overflow-hidden">
    <div class="row about-row">
      <div class="col-md-3 submenu pt-3" style="min-height: 70vh;">
        <h4 class="text-center font-weight-normal ml-3 mt-3">Utleiegrupper</h4>
        <hr class="ml-3">
        <ul
          class="nav nav-pills nav-stacked flex-sm-row flex-md-column justify-content-sm-center affix-top rounded mt-5 pt-2">
          {% if user|has_rental_permission %}
            <li class="nav-item">
              <a class='nav-link btn-color-dark' href={% url 'admin_approval' %}>Godkjenning</a>
            </li>
          {% elif user|is_MBK %}
          <li class="nav-item">
              <a class='nav-link btn-color-dark' href={% url 'admin_approval' %}>Godkjenning</a>
          </li>
          {% elif user|is_SBK %}
            <li class="nav-item">
              <a class='nav-link btn-color-dark' href={% url 'admin_approval' %}>Godkjenning</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href="{% url 'calendar' %}">Kalender</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'all' %} >Alle</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'coma' %}>COMA</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'mbk' %}>MBK</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'sbk' %}>SBK</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'board' %}>Styret</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'beer' %}>Ølbryggerlauget</a>
          </li>
          <li class="nav-item">
            <a class='nav-link btn-color-dark' href={% url 'others' %}>Andre</a>
          </li>
        </ul>
      </div>
      {% block main_content %}{% endblock %}
    </div>
  </div>
  {% else %}
    <h1 class="text-center mt-5"> Oi, her var det ikke noe! </h1>
    <p class="text-center mt-2"> For å leie noe må du logge deg på ;) </p>
    <a class="text-center btn btn-default rental-btn" href="{% url 'login' %}?next={{ request.path }}">Logg inn her</a>
  {% endif %}
{% endblock %}
