{% extends './rental_base.html' %}
{% load static %}

{% block title %} Utleie {% endblock %}

{% block main_content %}
  <div class="col-md-9 pr-4 pt-5">
    <div class="row pl-2 mt-4 mb-4">
      {% for obj in objects %}
          {% if forloop.counter|divisibleby:'4'%} <!-- Adjusted this line -->
          </div>  {# Close the previous row #}
          <div class="row pl-2 mt-4 mb-4">  {# Start a new row #}
          {% endif %}
              <div class="col-md-4 card-group mb-3">
                  <a href={% url 'object_view' pk=obj.pk %} style="text-decoration: none; color:black;">
                      <div class="card shadow text-center w-100 h-100">
                              <img class="card-img-top" {% if not obj.image %} src="{% static 'global/img/logo_default.png' %}"
                              {% else %} src="{{ obj.image.url }}" {% endif %}>

                          <div class="card-body">
                              <h5 class="card-title"> {{obj.title}} </h5>
                          </div>
                      </div>
                  </a>
              </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
