.custom-container {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    h1 {
        font-size: 24px; /* Smaller font size on smaller screens */
    }
    pre {
        font-size: 14px; /* Smaller font size for preformatted text */
    }
}

.list-group-item {
  border: 1px solid gray;
  width: 80%;
  margin: auto;
}

.list-group-item:hover {
  background-color: rgba(10, 10, 10, 0.1);
}