.content-news {
    margin: 0rem auto 0 auto;
    padding: 0;
    position: relative;
    height: 90vh;
    width: 100vw;
}

.im {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.overlay {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: auto;
  min-height: 20%;
  background: rgba(64, 77, 117,  0.7);
}

h1#banner-title {
    position: relative;
    color: black;
    text-align: center;
    color: white;
}
p#banner-p {
  position: relative;
  color: black;
  text-align: center;
  color: white;
}
a#button {
    display: block;
    position: relative;
    text-align: center;
    width: 100px;
    margin: 5px auto;
    padding: 5px;
    color: black;
    text-transform: uppercase;
    border: 1px solid #808080;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
}

/*Thank you to TP for inspiration*/

#layout-headerwrap {
	width: auto;
	min-height: 90vh;
    padding-top: 25vh;
    @include respond-to(handhelds) {
		padding-top: 15vh;
	}
    overflow: hidden;
    a {
    	color: white;
    }
    
    img {
    	max-height: 100vh;
    	max-width: 100vw;
    	width: auto;
    	vertical-align: middle;
    	@include respond-to(handhelds) {
			max-width: 90vw;
		}
    }
    h1 {
    	size: 90px;
    	margin: 5px 0 5px 0;
    }
    h4 {
    	margin: 5px 0 5px 0;
    }
    .ikon {
    	max-height: 20px;
		width: 20px;
	}
    .featureWrap {
    	text-align: center;
    }
    .navWrap {
    	text-align: center;
    	padding-top: 30px;
    }
    * {box-sizing:border-box}
	/* Slideshow container */
	.slideshow-container {
	  margin: auto;
	  width:100%; 
	  margin: 0 auto; 
	  float: none; 
	  color:#194479;
	}
	/* Hide the images by default */
	.mySlides {
	    display: none;
	    transition: all 0.6s ease;
	}
	/* Next & previous buttons */
	.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: #194479;
	  font-weight: bold;
	  font-size: 40px;
	  -webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
    	-khtml-user-select: none; /* Konqueror HTML */
    	-moz-user-select: none; /* Firefox */
    	-ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	  @include respond-to(handhelds) {
			width: 30px;
			padding: 5px;
			margin-top: 170px;
		}
	}
	/* Position the "next button" to the right */
	.next {
	  right: 0;
	}
	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  color: black;
	}
	/* Caption text */
	.text {
	  color: #f2f2f2;
	  font-size: 15px;
	  padding: 8px 12px;
	  position: absolute;
	  bottom: 8px;
	  width: 100%;
	  text-align: center;
	}
	/* The dots/bullets/indicators */
	.dot {
	  cursor:pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	  -webkit-touch-callout: none; /* iOS Safari */
	    	-webkit-user-select: none; /* Safari */
	    	-khtml-user-select: none; /* Konqueror HTML */
	    	-moz-user-select: none; /* Firefox */
	    	-ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	}
	.active, .dot:hover {
	  background-color: #194479;
	}
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* or any other value depending on your layout preference */
	margin: 20px;
  }
  
  .flex-item {
	width: 50%; /* Adjust the width as needed */
	margin-bottom: 20px; /* Optional: Add margin between items */
	margin: 5px;
  }
  
.news-head{
	text-align: center;
	margin: auto;
	margin-bottom: 35px;
	color: black; /* Change 'red' to the color you prefer */
    text-decoration: none; 
}

.news-card-img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
