body {
    margin-bottom: 0px;
    height: 100%;
}

.navbar {
    margin-bottom: 0px;

}

.nav {
    padding-top: 3.1%;
}

#sliderTxt{
    font-size: medium;
    background-color: ;
}

@media screen and (max-width: 768px) {

    #sliderTxtHead {
        font-size: 12px;
        margin-top: 0px;
    }

    #sliderTxt{
        font-size: xx-small;
    }

    .carousel-inner {
        overflow: scroll;
        background-color: #222222;
    }

    .carousel-caption {
        padding-top: 0px;
    }

    #waveBackground {

    }

}


.page-header{
    margin-top: 0px;
}

.panel-body{
    padding-top: 0px;
}


#myCarousel{
    margin-bottom: 0px;
	width:100%;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  background-color: #f5f5f5;
  padding-top:20px;
}


#sponsors tr td {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-collapse:collapse;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pictext
{
font-size:x-small;
}

.modal-dialog {}
.thumbnail {
    margin-bottom:6px;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:0%;
  width:10%;
}
#rowpictures{
    width: 97%;
    margin: 0 auto;
}

.carousel-caption {
    position:absolute;
    top: 20px;
    background-color:rgba(80, 80, 80, 0.5);
}

.behindBigPhoto {
    width: 100%;
    background-color: #222222;
    padding-bottom: 20px;
}

#SponsLast {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.bigPhoto {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
    background-color: #222222;
}

#groupPhoto {
    position: inherit;
    width: 100%;
}


.navbar-inverse{
  background-color: #404d75;
}

.active a {
  border-radius: 10px 10px 0 0;
}

#sponsHeader {
  text-align: center;
}

#behindHomePhoto {
  background-color: #4b5c92;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #4b5c92;
  border-radius: 0 0 10px 10px;
}

.navbar-brand {
  float:left;
  padding:15px 15px;
  font-size:18px;
  line-height:20px;
}
