{% extends 'base.html' %}
{% load static %}
{% load group_tags %}


{% block title %}FAQS{% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/css/undergroups.css" %}>{% endblock %}

{% block content %}
<div class="container bg-white mt-4 mb-4 shadow rounded">
    <div class="accordion" id="faqAccordion">
        <h4 class="text-center display-4 mb-2">FAQs: Tips og triks om alt fra A til Å</h4>
        {% if user|has_group:"Styret" %}
        <div class="d-flex justify-content-center mt-3 mb-3">
            <a href="{% url 'undergroups:faq_item_create' %}" class="btn btn-default" style="width: 15em;">Legg til FAQ-post</a>
        </div>
        {% endif %}
        {% for category in faq_categories %}
            <div class="card mb-2">
                <div class="card-header" id="heading-{{ category.id }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ category.id }}" aria-expanded="false" aria-controls="collapse-{{ category.id }}">
                            {{ category.name }}
                        </button>
                    </h2>
                </div>
                <div id="collapse-{{ category.id }}" class="collapse" aria-labelledby="heading-{{ category.id }}" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="accordion" id="subAccordion-{{ category.id }}">
                            {% for item in category.faq_items.all %}
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center" id="subHeading-{{ item.id }}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#subCollapse-{{ item.id }}" aria-expanded="false" aria-controls="subCollapse-{{ item.id }}">
                                                {{ item.subcategory }}
                                            </button>
                                        </h2>
                                        {% if user|has_group:"Styret" %}
                                            <a href="{% url 'undergroups:faq_item_edit' item.id %}" class="btn btn-default" style="width: 10em;">Rediger</a>
                                        {% endif %}
                                    </div>
                                    <div id="subCollapse-{{ item.id }}" class="collapse" aria-labelledby="subHeading-{{ item.id }}" data-parent="#subAccordion-{{ category.id }}">
                                    <div class="card-body">
                                        {{ item.answer|safe }}
                                        {% if item.files.all.exists %}
                                            <strong>Relevante filer:</strong>
                                            {% for file in item.files.all %}
                                                <a href="{{ file.file.url }}">{{ file.file.name }}</a><br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="text-white">Jeg sliter med å kode</p>
</div>
{% endblock %}
