{% extends 'base.html' %}
{% load static %}

{% block title %}Rediger FAQ-post{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center mt-3">Rediger FAQ-post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}

        <h3>Eksisterende filer:</h3>
        {% for file in existing_files %}
            <div class="uploaded-file">
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
                <label>
                    <input type="checkbox" name="delete_files" value="{{ file.id }}"> Marker for å slette
                </label>
            </div>
        {% endfor %}

        <h3>Last opp nye filer:</h3>
        <input type="file" name="files" multiple>

        <div class="d-flex justify-content-center mt-4">
            <button name="submit" class="btn btn-default" style="width: 15em;">Oppdater FAQ-post</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/init-tinymce.js' %}"></script>

{% endblock %}
