{% extends 'base.html' %}
{% load static %}

{% block title %}Legg til FAQ-Kategori{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-3">Legg til ny FAQ-Kategori</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in category_form %}
          <h3>{{ field.label_tag }}</h3>
          <p>{{ field }}</p>
          {% if field.help_text %}
            <p class="help-text">{{ field.help_text }}</p>
          {% endif %}
          {{ field.errors }}
        {% endfor %}
        <div class="d-flex justify-content-center mt-3">
            <button name="submit" class="btn btn-default" style="width: 15em;">Lagre</button>
        </div>
    </form>
</div>
{% endblock %}
