{% extends 'base.html' %}
{% load static %}

{% block title %}Legg til FAQ{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center mt-3">Legg til ny FAQ-post</h2>
    <div class="d-flex justify-content-center mt-3 mb-3">
        <a href="{% url 'undergroups:faq_category_create' %}" class="btn btn-default" style="width: 15em;">Legg til ny kategori</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-group">
            <h3>Relevante filer:</h3>
            <input type="file" name="files" multiple>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-default" style="width: 15em;">Lagre</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/init-tinymce.js' %}"></script>

{% endblock %}

