
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .img-container {
    max-width:100%;
    max-height: 100vh;
    position: relative;
    justify-content: center;
    display: flex;
    margin: 60px
  }

  .placeholder-img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: contain;
    overflow: hidden;
  }

  .place-title {
    color: rgb(192, 192, 192);
    text-align: center;
  }