
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@media only screen and (max-width: 760px) {
  .wrapper .title {
    max-width: 1vw;
    font-size: 10px;
    width: 50%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(192, 192, 192);
    position: relative;
  }
}

.wrapper {
  margin-top: 25px;
  text-align: center;
}

.wrapper .title {
  max-width: 1vw;
  font-size: 100%;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  color: rgb(192, 192, 192);
  position: relative;
}

.wrapper .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: rgb(192, 192, 192);
}

.wrapper .team .team_member {
  width: 300px;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
}

.wrapper .team .team_member img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid rgb(192, 192, 192);
  object-fit: cover;
}

.wrapper .team .team_member h2 {
  margin-top: 5px;
  font-size: 14px;
  text-decoration: underline;
}
.wrapper .team .team_member h3 {
  font-size: 18px;
}

.wrapper .team .team_member a {
  font-size: 12px;
}

