.returnerende-info {
    display: flex;
    flex-direction: column;
    width:95%;
    position: relative;
    box-sizing: border-box;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .returnerende-title {
    font-size: 24px;
    color: rgb(192, 192, 192);
    text-align: left;
    font-weight: 350;
    text-shadow: 0px 2px 2px grey;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .returnerende-description {
    font-size: 12px;
    color: rgb(192, 192, 192);
    text-align: left;
    position: relative;
  }

  .input[type=text], .select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input[type=submit] {
    width: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container{
    width: 70%;
    margin:0 auto;
    display: inline-block;
    justify-content: center;
    text-align: center;
    position: relative;
    background: whitesmoke
  }

  .form-title {
    text-decoration: underline;
  }

  .input-field {
    width: 75%;
  }
  .form-button {
    background-color: rgb(0, 13, 19);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.blank-space {
  height: 480px;
}

.image-container{
  display: flex;
  width: 100%;
  object-fit: contain;
}