.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
  color: rgb(192, 192, 192);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* I fucking hate css */

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */

@media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }

  .greeting-card {
    display: flex;
    align-items: flex-end; 
    height: 400px;
    width:100%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgb(192, 192, 192);
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 60px;
  }
  
  .greeting-card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 72%;
    justify-content: left;
    align-items: left; 
    background: white;
    box-sizing: border-box;
    padding: 40px;
  }

  .greeting-card-img {
    height: 100%;
    width: 28%;
    justify-content: right;
    position: relative;
    size: contain;
  }

  .greeting-title {
    font-size: 24px;
    color: black;
    text-align: left;
    font-weight: 350;
    color: #181818;
    text-shadow: 0px 2px 2px grey;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
  }
  
  .greeting-description {
    font-size: 12px;
    color: black;
    text-align: left;
    position: relative;
  }
  
  .greeting-signature {
    font-size: 14px;
    color: black;
    text-align: left;
    position: left;
  }
}

@media only screen and (max-width: 760px) {
  .greeting-card {
    display: flex;
    align-items: flex-end; 
    width:100%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgb(192, 192, 192);
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .greeting-card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: left; 
    background: white;
    box-sizing: border-box;
    padding: 40px;
  }
  
  .greeting-title {
    font-size: 16px;
    color: black;
    text-align: left;
    font-weight: 350;
    color: #181818;
    text-shadow: 0px 2px 2px grey;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
  }
  
  .greeting-description {
    font-size: 6px;
    color: black;
    text-align: left;
    position: relative;
  }
  .greeting-signature {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 16px;
    color: black;
    text-align: left;
    position: left;
  }

  .greeting-card-img {
    display: none;
    width: 0%;
  }

  .event-card {
    display: flex;
    align-items: flex-end;
    height: 400px; 
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgb(192, 192, 192);
    padding: 20px;
    margin: 20px;
    background-image: url('/static/jubileum/img/test-background.jpg');
    background-size: cover;
  }
}

body{
  background-color: rgb(0, 19, 33);
  font-family: 'Courier New', Courier, monospace;
  font-weight:100;
  margin: 0;
 }
 
header {
    text-align:center !important;
}

.jub-footer {
  height: 10vh;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.jub-footer-fixed {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

.page-title {
  opacity: .75 !important;
}

.temp-front {
  display: flex;
  background-image: url('/static/jubileum/img/logo-new.png');
  position: relative;
  max-width: 960px;
  height: 83vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.img-container-one {
  max-width:100%;
  height: 82vh;
  position: relative;
  justify-content: center;
  display: flex;
}

.placeholder-img-one {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: fill;
  overflow: hidden;
}

/* Footer animations */

/* waves */
.ocean {
  height: 10vh; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}
 
/* Event cards */

.event-card {
  display: flex;
  align-items: flex-end;
  height: 400px; 
  width: 432px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid rgb(192, 192, 192);
  padding: 20px;
  margin: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.event-card-inner {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 40px;
}

.card-title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 350;
  color: #181818;
  text-shadow: 0px 2px 2px grey;
  text-decoration: underline;
  position: relative;
  margin: 0 0 10px 0;
}

.card-description {
  font-size: 10px;
  color: black;
  text-align: center;
  position: relative;
  margin: 0 0 5px 0;
}

.card-info-row {
  text-align: center;
  padding-bottom: 10px;
  font-size: 10px;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.card-time, .card-tickets,  .card-location, .card-price{
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 10px;
  font-size: 10px;
}

.galla-card {
  background-image: url('/static/jubileum/img/galla-event.png');;
}

.artist-card {
  background-image: url('/static/jubileum/img/artist-placeholder.png');;
}

.revy-card  {
  background-image: url('/static/jubileum/img/revy-card.png');;
}


.åpent-card  {
  background-image: url('/static/jubileum/img/åpent-card.png');;
}


/* Frontpage contdown css */

.countdown-container {
  margin: 0 auto;
  color: rgb(192, 192, 192);
  text-align: center;
}

.countdown-title {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.countdown-li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-shadow: whitesmoke;
  text-transform: uppercase;
}

.countdown-span {
  display: block;
  text-shadow: whitesmoke;
  font-size: 6rem;
}

/* CSS for greeting from big boss borgar */ 


/* CSS for logos */ 


.logo-container {
  width:45%;
  max-height: 15vh;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
  object-fit: contain;
}

/* CSS for slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 960px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Funke-greier */


.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}


