.delegasjon {
  width: 50px;
}

.face {
  width: 100px;
  margin: auto;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brands__item {
  flex: 0 0 50%;
}

.sponsors-3 {
  max-width: 30%;
  min-width: 30%;
  margin: auto;
  padding-top: 2em;
}

.sponsors-2 {
  max-width: 70%;
  min-width: 70%;
  margin: auto;
  padding-top: 2em;
}
.sponsors-1 {
  max-width: 50%;
  min-width: 50%;
  margin: auto;
  padding-top: 2em;
}

.sponsors_heading {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  margin-block: 0;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: calc(4rem - 1.5em) 1em 0 1em;
  padding: 0;
}

.report-img{
  height: 100%;
}

.list-item-tier-1 {
  display: block;
  margin: auto;
  width: 25%;
  min-width: 100px;
  padding: 1.5em;
  margin-bottom: 24px;
}

.list-item-tier-2 {
  display: block;
  margin: auto;
  width: 50%;
  min-width: 100px;
}

.list-item-tier-3 {
  display: block;
  margin: auto;
  width: 100%;
  min-width: 100px;
  padding: 2em;
  margin-bottom: 40px;
}

.list-content {
  width: 100%;
  display: flex;
}

.list-content > a {
  width: 100%;
  height: 100%;
  display: flex;
}

.card-container{
  max-width: 1200px;
}

@media (max-width: 768px) {
  .list-item {
      width: 50%;
  }

  .sponsors_heading {
      font-size: 40px;
  }

  .sponsors {
      max-width: 100%;
  }
}

@media (min-width: 700px) {
  .brands__item {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 1100px) {
  .brands__item {
    flex: 0 0 25%;
  }
}


.centered-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centered-content > div {
    display: inline-block;
}

.row-spons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar .nav-link {
  color: #ffffff  !important; /* This will change the text color to white */
}

.navbar {
  background-color: #6c757d; /* Replace #yourColorCode with the actual color code you want to use */
}