html {
  /*position: relative;*/
  min-height: 100%;
}

body {
  margin: 0;
  /*margin: 0 0 250px;/*
  /* bottom = footer height */
  padding: 0px;
  background-color: #e8ecef;
}

h1,
h2,
h3 {
  font-weight: normal;
}

nav,
footer {
  background-color: #404d75;
}

/* Dropdown in nav */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 100%;
}

.login {
  padding: 10px;
  min-width: 240px;
}

/* Content block inside main */
.content {
  margin-left: 1em;
  min-height: 70vh;
}

.btn-color {
  color: rgba(255, 255, 255, 0.5);
}

.btn-color:hover {
  color: rgba(255, 255, 255, 0.75);
}

.btn-color-dark {
  color: #404d75;
}

/* Footer */
footer {
  padding: 4rem 0;
  position: relative;
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer div.social-icons a {
  display: inline-block;
  margin: 0 8px 0 0;
  font-size: 20pt;
  color: #fff;
  width: 25px;
  height: 30px;
}

footer div.social-icons a i {
  position: relative;
  top: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

footer div.social-icons a:hover i {
  opacity: 1;
}

footer div.social-icons a:hover {
  transform: scale(1.2);
}

footer div.social-icons a i.grey {
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-errors {
  color: red;
}
