
.content {
  margin-left: 0;
}

.container-fluid {
  margin-top: 2rem;
}

.container-fluid p {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  letter-spacing: 1px;
}

.marina {
  list-style: none;
  border: none;
}

.row .col-md-12 {
  padding: 0;
}

.marina_list {
  padding-left: 0;
}

.list-marina-item {
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid gray;
}

.list-marina-item:last-child {
  border-bottom: 0;
}

.list-marina-item:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.list-marina-item:hover p {
  text-decoration: underline;
}

.marina_link,
.marina_link:hover {
  color: black;
  padding: 1em 0;
  text-decoration: none;
  display: grid;
  grid-template-columns: [first] 25% [logo] 10% [text] auto [last] 25%;
}

.marina_link img {
  max-width: 3em;
  grid-column-start: logo;
  justify-self: center;
  align-self: center;
}

.marina_link p {
  grid-column-start: text;
  margin: 0;
  align-self: center;
}

/* base_groups.html styling */

.container img {
  max-width: 100%;
  max-height: 50vh;
  border-radius: .2em;
}

.marina-card-info {
  margin-top: 0;
}

.marina-card-info .card {
  border: none;
  border-radius: 0;
}

.marina-card-info .card-body {
  margin: 1rem 4rem;
}
