{% extends 'base.html' %}
{% load static %}

{% block title %} {{group.name}} {% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/css/undergroups.css" %}>{% endblock %}

{% block content %}


<div class="container-fluid text-center">
  <h1 class="display-4"> {{ group.name }}</h1>
  <p class="lead"> {{ group.short_info }}</p>
</div>

<div class="container text-center">

  {% if group.cover_image %}
    <img class="cover-img" src="{{ group.cover_image.url }}" alt="{{group.name}} picture">
  {% endif %}
</div>

<div class="d-flex justify-content-center mb-5">
  <div class="card undergroup-card-info">
    <div class="card-body text-left">
      {% if group.history %}
        <h4 class="card-subtitle">Historie</h4>
        <p>{{group.history|linebreaks}}</p>
      {% endif %}

      {% if group.long_info %}
        <h4 class="card-subtitle justify-content-center">Oppgaver</h4>
        <p>{{group.long_info|linebreaks|urlize}}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
