{% extends 'base.html' %}
{% load static %}

{% block title %} Undergrupper {% endblock %}


{% block app_css %}
<link rel="stylesheet" href={% static "/css/undergroups.css" %}>{% endblock %}

{% block content %}

<div class="container-fluid text-center">
  <h1>Mannhullets undergrupper</h1>
  <p>Linjeforeningen Mannhullet ble grunnlagt i 1917 og har siden den gang
    etablert en rekke undergrupper. <br>
    Den første undergruppen ble opprettet i 1961 og den siste så sent som i
    2018. <br>
    Her kan du lese mer om de ulike gruppene og hva de holder på med.
  </p>

  <div class="row">
    <div class="col-md-12">
      <ul class="undergroup_list">
        {% for group in group_list %}
        <li class="list-group-item">
          <a class="undergroup_link" href="{{group.get_absolute_url}}">
            <img class="card-img-top" {% if not group.logo %} src="{% static 'global/img/logo_default.png' %}"
              {% else %} src="{{ group.logo.url }}" {% endif %}>
            <p>{{group.name}}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
