/* Group_list.html styling */

.content {
  margin-left: 0;
}

.container-fluid {
  margin-top: 2rem;
}

.container-fluid p {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  letter-spacing: 1px;
}

.undergroup {
  list-style: none;
  border: none;
}

.row .col-md-12 {
  padding: 0;
}

.undergroup_list {
  padding-left: 0;
}

.list-group-item {
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid gray;
}

.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.list-group-item:hover p {
  text-decoration: underline;
}

.undergroup_link,
.undergroup_link:hover {
  color: black;
  padding: 1em 0;
  text-decoration: none;
  display: grid;
  grid-template-columns: [first] 25% [logo] 10% [text] auto [last] 25%;
}

.undergroup_link img {
  max-width: 3em;
  grid-column-start: logo;
  justify-self: center;
  align-self: center;
}

.undergroup_link p {
  grid-column-start: text;
  margin: 0;
  align-self: center;
}

/* base_groups.html styling */

.cover-img{
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.sweater-img{
  max-width: 100%;
  max-height: 100vh;
}

.sweater-btn{
  width: 30em;
  height: 3em;
  margin-top: 5vh;
  background-color: #ccc;
}

.undergroup-card-info {
  margin-top: 0;
  width: 75%;
}

.undergroup-card-info .card {
  border: none;
  border-radius: 0;
}

.undergroup-card-info .card-body {
  margin: 1rem 4rem;
}

.card-header button {
    color: black; /* Make the text black */
    text-align: left;
    font-size: 1.25rem; /* Adjust the size as needed */
    font-weight: bold; /* Make it bold */
}

.card-header button::before {
    content: "+ ";
    color: black; /* Plus sign color */
    font-weight: bold; /* If you want the plus sign to be bold */
}

.card-header button.collapsed::before {
    content: "+ "; /* Change to '-' if you want a minus sign when expanded */
}

.card-header button:not(.collapsed)::before {
    content: "- "; /* Change to '+' if you want a plus sign when collapsed */
}

.card {
    background-color: white; /* Make the card white */
    border: none; /* Remove the border if needed */
}

.card:not(:last-of-type) {
    margin-bottom: 10px; /* Add some space between cards */
}

.card-header button {
    color: black; /* Make the text black */
    text-align: left;
    font-size: 1.25rem; /* Adjust the size as needed */
    font-weight: bold; /* Make it bold */
}

.card-header button::before {
    /* This is the default state, before the button is clicked */
    content: "+";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1.5em; /* Fixed width for alignment */
    margin-left: -1.5em; /* Pull the icon back over to the left */
}

.card-header button[aria-expanded="true"]::before {
    /* This state is when the accordion item is open */
    content: "-";
}

.card-header button[aria-expanded="false"]::before {
    /* This state is when the accordion item is closed */
    content: "+";
}

.card {
    background-color: white; /* Make the card white */
    border: none; /* Remove the border if needed */
}

.card:not(:last-of-type) {
    margin-bottom: 10px; /* Add some space between cards */
}

.mh-btn {
  width: 15em;
  margin: 25px;
}