.users_list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items to the top */
}

.row .col-md-12 {
  padding: 0;
}

.list-group-item {
  border: none;
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.list-group-item:hover p {
  text-decoration: underline;
}

.user-info {
  display: flex;
  justify-content: center; /* Centers the .user-info container */
}

.user-info > span {
  flex: 1; /* Each span will take equal width */
  text-align: center; /* Centers text within each span */
  display: block; /* Optional: Makes the span behave like a block element */
}

/* Style for header text */
.header-text .user-info > span {
  font-weight: bold;
}

#load-more {
  margin-top: 2rem; /* Add top margin to the Load More button */
}

.load-more-btn {
  margin-top: 2rem;
}

.user-btn {
  width: 15em;
  margin: 15px;
}

.update-btn {
  width: 7em;
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.filter-section {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adjust as needed */
    margin-bottom: 1rem;
}


.filter-section > select {
    width: 190px; /* Set the width to 150px */
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Adjust the width as needed */
}

/* Add some global styles for the form elements */
form input, form select, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Adds space between form elements */
}

/* Style for the submit button */
form button {
    width: auto; /* Allows the button to shrink to fit its content */
    margin-top: 20px;
    padding: 10px 20px; /* Adds some padding around the button text */
}

.error-message, .errorlist {
    color: red;
    font-weight: bold;
}

.error-message ul {
    list-style-type: none;
    padding: 0;
}