nav {
  margin-bottom: 0;
}

.content {
  position: relative;
  width: 100%;
  margin-left: 0;
}

.container-fluid {
  height: 100%;
}

.container-fluid .about-row {
  height: 100%;
}


.main {
  min-height: 50vh;
}

.about-header {
  background-color: rgba(100, 100, 100, .1);
  margin-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-row {
  margin-right: 0px;
  margin-left: 0px;
}

.about-container {
  background-color: rgba(25, 10, 10, 0.05);
}

.statutter-section {
  font-family: serif;
}

.statutter-section h5 {
  font-family: serif;
  font-weight: bolder;
}

.dnv-text {
  line-height: 1.8;
}


/* Submenu */
.submenu {
  background-color: rgba(0, 0, 0, 0.1);
}

.submenu hr {
  margin-left: 5px;
  margin-right: 15px;
}

.hsp-img {
  display: block;
  max-height: 40vh;
  margin: auto;
  max-width: 90vw;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {
  .submenu h4 {
    margin-top: 1rem;
  }

  .submenu ul {
    justify-content: space-evenly;
    padding-left: 0;
    margin-top: 1rem !important;
    padding-bottom: 1rem;
  }

  .col-md-9 h1 {
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

}

.about-btn {
  width: 15em;
  margin: 25px;
}

    .header-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media (max-width: 768px) {
        .header-area {
            flex-direction: column;
            align-items: flex-start;
        }
    }