{% extends 'base.html' %}
{% load static %}

{% block title %}Alle Sjiraffenvers{% endblock %}

{% block content %}


<div class="container custom-container text-center mt-3 bg-white shadow rounded">
    <h1 class="mb-2">Sjiraffenvers</h1>
    <div class="row mb-4 mt-3">
        <div class="col-md-3 mx-auto">
            <a class="btn btn-default w-100" href="{% url 'undergroups:sjiraffenvers_main' %}">Tilbake til Sjiraffenvers-generator</a>
        </div>
    </div>
    <hr>
    <div class="white-box">
        {% for verse in verses %}
            <h2>{{ verse.title }}</h2>
            <p>{{ verse.full_verse | linebreaksbr }}</p>
            <p><b>Forfatter: </b> {{ verse.creator }}</p>
            <hr>
        {% endfor %}
    </div>
    <p class="text-white">Jeg sliter med å kode</p>
</div>
{% endblock %}
