{% extends 'base.html' %}
{% load static %}

{% block title %}Sanger{% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/undergroups/css/tåkeluren.css" %}>{% endblock %}

{% block content %}
<div class="container text-center mt-3 mb-3 bg-white shadow rounded">
    <h1 class="mb-4">Kjente og Gamle Sanger</h1>
    <div class="row mb-3">
        <div class="col-md-3 mx-auto">
            <a class="btn btn-default w-100" href="{% url 'undergroups:sjiraffenvers_main' %}">Tilbake til Sjiraffenvers-generator</a>
        </div>
    </div>
    <p>Liste med både tradisjonelle studentersanger og eldre sanger fra Tåkeluren-hefte.</p>
    <div style="background-color: white;">
    {% for creator, group_songs in grouped_songs %}
        {% with group_songs|first as first_song %}
            <h2 class="mt-5 mb-2">{{ first_song.get_creator_display }}</h2>
        {% endwith %}
        {% for song in group_songs %}
            <div class="list-group-item">
                <a class="text-dark" href="{{ song.get_absolute_url }}">{{ song.title }}</a>
            </div>
        {% endfor %}
    {% endfor %}
    <p class="text-white">Jeg sliter med å kode</p>
    </div>
</div>
{% endblock %}
