{% extends 'base.html' %}
{% load static %}

{% block title %}{{ song.title }}{% endblock %}

{% block content %}
<div class="container mt-4 mb-4 bg-white shadow rounded">
    <!-- This row and col-md-8 will center the column in the middle for medium to large screens -->
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="mb-4">{{ song.title }}</h1>
            <div class="row">
                <div class="col-12"> <!-- This will take full width on small screens -->
                    <a class="btn btn-default w-100" href="{% url 'undergroups:song_list' %}">Tilbake til sangliste</a>
                </div>
            </div>
            {% if song.melody %}
            <p class="mt-4"><i><strong>Melodi:</strong> {{ song.melody }}</i></p>
            {% endif %}
            <!-- Preformatted text block for lyrics aligned to the left -->
            <pre style="white-space: pre-wrap; text-align: left;">{{ song.lyrics }}</pre>
        </div>
    </div>
</div>
{% endblock %}    <p class="text-white">Jeg sliter med å kode</p>
