{% extends 'base.html' %}
{% load static %}

{% block title %}Nytt Sjiraffenvers{% endblock %}

{% block content %}
<div class="container text-center mt-4 mb-4 bg-white shadow rounded">
    <h1 class="mb-4">Nytt Sjiraffenvers</h1>
    <div class="row mb-4">
        <div class="col-md-3 mt-1 mx-auto">
            <a class="btn btn-default w-100" href="{% url 'undergroups:sjiraffenvers_main' %}">Tilbake til Sjiraffenvers-generator</a>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3 mx-auto"> <!-- mx-auto for auto margins on the sides -->
                <button type="submit" class="btn btn-default mb-3 mt-3">Send inn</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
