{% extends 'base.html' %}
{% load static %}

{% block title %}Sjiraffenvers-Generator{% endblock %}

{% block content %}
<div class="container text-center mt-3 mb-3 bg-white shadow rounded">
    <h1 class="mb-1">Sjiraffenvers-Generator</h1>
    <div class="p-2">
        <!-- Verse will be loaded here -->
        <p>{{ random_verse.full_verse|linebreaksbr }}</p>
        <p><i>Laget av {{random_verse.creator}}</i></p>
    </div>

    <!-- Logo that acts as a button -->
    <div id="logo-button" class="my-3" onclick="location.reload();">
        <img src="{% static 'undergroups/tåkeluren/tåkeluren_click.png' %}" alt="Generate New Verse" width="180">
    </div>
    <hr>
    <!-- New button to link to Sjiraffenvers page -->
    <div class="row mb-3">
        <div class="col-md-5 mx-auto">
            <a href="{% url 'undergroups:sjiraffenvers_list' %}" class="btn btn-default bg-light mb-3 mt-3">Last inn alle Sjiraffenvers!</a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-md-5 mx-auto">
            <a href="{% url 'undergroups:song_list' %}" class="btn btn-default mb-3 mt-3 bg-light">Gamle Tåkelur-viser og Studentsanger!</a>
        </div>
    </div>
    <hr>
    <div class="row mb-4">
        <div class="col-md-5 mb-3 mx-auto">
            <a href="{% url 'undergroups:suggest_sjiraffenvers' %}" class="btn btn-default mb-3 mt-3 bg-light">Lag nytt Sjiraffenvers</a>
        </div>
    </div>
</div>
{% endblock %}
