{% extends 'base.html' %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" href={% static "/new_student/css/nystudent.css" %}>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}

<section class="innhold">
    <div class="container text-center">
        <h2>Ny student på Marin Teknikk</h2>
        <p>
            Velkommen til Trondheim og Marin Teknikk! 
            Du har uten tvil tatt et godt valg, og vi gleder oss til å møte deg <3
        </p>
    </div>
</section>

<section class="innhold">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <h3>Hva er en linjeforening?</h3>
                <p>
                    En linjeforening er en studentdrevet organisasjon som er dedikert til studenter ved en spesifikk studieretning.
                    Marin Teknikks linjeforening er Mannhullet! Som linjeforening jobber vi for at du som student har det bra under studietiden din.
                    I løpet av året arrangerer vi masse sosialt som alle medlemmer er velkommen til. 
                </p>
            </div>
            <div class="col-md-6 mb-3">
                <h3>Verv</h3>
                <p>
                    I Mannhullet har vi mange forskjellige undergrupper som man kan ha verv i, du kan lese om de <a href={% url 'undergroups:undergroup_list' %}> her</a>. 
                    I løpet av fadderperioden vil du også få høre om og bli litt kjent med alle undergruppene våre,
                    og i ukene etter fadderpeioden er det opptak til disse! Det er også mulig å søke på verv utenfor Mannhullet, f.eks. 
                    på Studentersamfundet og i Teknologiporten.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="innhold bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
            </br></br>
                <h3>Marina</h3>
                <p>
                    Mannhullet har sin egen linjeforeningsavis som heter Marina! For dere som skal begynne på marin, har redaktørene
                    laget en egen velkomstutgave. Les den <a href="{% static 'undergroups/marina/Velkomstutgaven.pdf' %}" target="_blank"> her</a>!
                </br></br>

                I utgaven vil det være nyttig info angående bl.a. fadderperioden og opplegget i disse ukene, så det er lurt å lese denne;)
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <center>
                <img class="img-fluid pb- partner_img center-block"
          src={% static '/img/velkomstutgave.jpg' %}
          alt="Samarbeidspartner1" style="width:50%">
                </center>
            </div>
        </div>
    </div>
</section>



<section class="innhold bg-light">
    <div class="container">
        <center><h2>Fadderperioden</h2></center>
        <div class="row">
            <div class="col-md-6 mb-3">
                <p></br>
                    Dersom du begynner på <b>5-årig master</b>, har du fått plass i en faddergruppe og vil bli kontaktet av en av fadderne dine.
                    Det er også fadderne dine som vil gi deg info om opplegg og tidspunkt osv.
            </br></br>
                    For deg som begynner på <b>2-årig master</b>, må du <u>melde deg på</u> fadderperioden. Det kan du gjøre 
                    <a href='https://forms.gle/xYairQXpDNbXDFD39'> her</a>. Etter du har meldt deg på, vil du få plass i en faddergruppe!
            </br></br>
                    Se Marina-utgaven lenger opp for mer detaljert plan av fadderukene <3
            
                </br></br>
                    Til fadderperioden (og resten av semesteret) er det noen ting som er lurt å pakke med seg hjemmefra, 
                    se pakkelisten ->
                </p>
            </div>
            <div class="col-md-6 mb-3">
            </br>
                <ul class="list-unstyled">
                    <li><b>Turklær/treningstøy:</b> Tur med COMA i fadderukene</li>
                    <li><b>Kostymer </b> Tenk hatter, briller og pirat!</li>
                    <li><b>Hvitt laken:</b> Billig hvitt laken uten stretch til å bruke som Toga på Togafest.</li>
                    <li><b> Klær du ikke er redd for: </b> Et fullt skift med klær (gjerne inkludert sko) som du aldri kommer til å bruke igjen. 
                        Gjerne ull, eller litt varmere klær </li>
                    <li><b>Pent antrekk:</b> Dress/kjole til Mannhullets galla</li>
                    <li><b>Kjellersko:</b> Sko man ikke er spesielt redd for og som tåler å bli skitne og slitte</li>
                    <li><b>Gammel/stygg dressjakke:</b> Som kan gjøres om til en Tåkelur-jakke (svart eller mørkeblå)</li>
                    <li><b>Fotballtøy:</b> dersom du ønsker å spille for Marin FK/FKK</li>
                    <li><b>Regntøy:</b> det regner og blåser MYE i Trondheim!</li>
                </ul>
            </div>
        </div>
    </div>
</section>




<section class="innhold">
    <div class="container">
        <h3> Til skolestart </h3>
        <div class="row">
            <div class="col-md-6 mb-3">
                <ul>
                    <li> Betal semesteravgift</li>
                    <li> Søk om lån og stipend hos lånekassen </li>
                    <li> Meld deg inn på mannhullet.no og teknologiporten.no </li>
                    <li> Skaff deg adgangskort ved skolestart </li>
                    <li> Kjøp brukte skolebøker! Det er nok flere i eldre årstrinn som har bøker de vil selge, spør fadderne dine! 
                        (Mest sannsynlig klarer du deg fint uten bøker også)
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mb-3">
                <p><b>Nyttige apper og nettsider: </b></p>
                <ul>
                    <li> Studentbevis-appen </li>
                    <li> MazeMap: Maps for campus </li>
                    <li> Bruk nettsiden ntnu.1024.no for å lage timeplanen din </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock %}
