{% extends 'base.html' %}
{% load static %}

{% block title %} Marina {% endblock %}

{% block app_css %}
<link rel="stylesheet" href="{% static '/marina/css/marina.css' %}">{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="marina-wrapper">
    <div class="title"><h1>Marina</h1></div>
      <!-- Add the form here -->
    <p>Søk opp eldre Marinaer her! Putt inn start og slutt år.</p>
    <form action="{% url 'marina_archive:paper_archive_filtered' %}" method="get">
      <label for="start_year">Start:</label>
      <input type="number" id="start_year" name="start_year">

      <label for="end_year">Slutt:</label>
      <input type="number" id="end_year" name="end_year">

      <button type="submit">Sorter</button>
    </form>
      {% for year, papers in papers_by_year.items %}
      <hr>
      <h2 class="year-header mt-4 mb-4">{{ year }}</h2>
      <hr>
      <div class="team"> <!-- This is the start of the flex container for the year -->
        {% for paper in papers %}
          <div class="team_member">
            <img src="{{ paper.frontpage.url }}" alt="">
            <h2>{{ paper.title }}</h2>
            <a href="{{ paper.file.url }}" target="_blank">Les her</a>
          </div>
        {% endfor %}
      </div> <!-- This is the end of the flex container for the year -->
    {% endfor %}

  {% else %}
    <h1 class="text-center mt-5"> Oi, her var det ikke noe! </h1>
    <p class="text-center mt-2"> For å lese Marina må du logge deg på ;) </p>
    <a class="text-center btn btn-default marina-btn" href="{% url 'login' %}?next={{ request.path }}">Logg inn her</a>
  {% endif %}

  </div>
</div>
{% endblock %}
