{% extends 'base.html' %}
{% load static %}

{% block title %} Marina {% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/css/marina_archive.css" %}>{% endblock %}


{% block content%}
<div class="container-fluid text-center">
  <h1>Podcaster</h1>

  <div class="row">
    <div class="col-md-12">
      <ul class="marina_list">
        {% for podcast in podcast_list %}
        <li class="list-marina-item">
          <a class="marina_link" href="{{podcast.file.url}}"> 
            <p>{{podcast.title}}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>

{% endblock %}
