{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Mannhullet fyller 105! </title>
   <!-- Scripts -->
 <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
 <script src={% static "global/js/popper.min.js"%}></script>
 <script src={% static "global/js/bootstrap.min.js" %}></script>
  <script
      src="https://kit.fontawesome.com/ab01cf2660.js"
      crossorigin="anonymous"
    ></script>
  <script
      src= {% static "jubileum/js/jub.js" %}
  ></script>
   <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href={% static "global/css/bootstrap.min.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'jubileum/css/jubileum.css' %}"/>
  <link rel="stylesheet" href="{% static 'jubileum/css/jub-contact.css' %}">
  <link rel="stylesheet" href="{% static 'jubileum/css/jub-event.css' %}">
  <link rel="stylesheet" href="{% static 'jubileum/css/jub-returnerende.css' %}">
  {% block app_css %}{% endblock %}
<head>

<body>
<header>
   <nav class=" navbar navbar-expand-md navbar-dark shadow-lg">
   <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src={% static "global/img/logo2.png" %} alt="Logo" style="width:30px;">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        {# navigation links#}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="len1" class="hoverable" href={% url 'jubileum:jub-home'%}>Hjem</a>
          </li>
          <li class="nav-item">
            <a id="len2" class="hoverable" href={% url 'jubileum:jub-events' %}>Arrangementer</a>
          </li>
          <li class="nav-item">
           <a id="len3" class="hoverable" href={% url 'jubileum:jub-returnerende' %}>Returnerende</a>
          </li>
          <li class="nav-item">
            <a id="len4" class="hoverable" href={% url 'jubileum:jub-contact' %}>Kontakt</a>
          </li>
          <li class="nav-item">
            <a id="len5" class="hoverable" href={% url 'jubileum:jub-samarbeidspartnere' %}>Samarbeidspartnere</a>
          </li> 
          <li class="nav-item">
            <a id="len6" class="hoverable" href={% url 'jubileum:jub-funker' %}>Billetter</a>
          </li> 
        </ul>
      </div>
    </div>  
  </nav>
</header>
 {% block content %} 
<main>
  <section class="content">
   
  </section>
</main>
 {% endblock %}
<footer class='jub-footer'>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</footer>
</body>
