{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Arrangement{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'jubileum/css/jub-event.css' %}">
{% block content %}
<main>
<div class="img-container">
  <img class="placeholder-img" src={% static "jubileum/img/mannhullet-placeholder.png" %}>
</div>¨
<div style="margin-bottom: 170px">
<h1 class="place-title"> Program slippes i løpet av høsten! </h1>
</div>
</main>
{% endblock %}