{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Billetter{% endblock %}
 <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
 <script src={% static "global/js/popper.min.js"%}></script>
 <script src={% static "global/js/bootstrap.min.js" %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'jubileum/css/jub-event.css' %}">
{% block content %}
<main>
<div class="container">
      <h2 style="color:rgb(192,192,192); text-align: center"> -Billetter kan kjøpes via Favrit- </h2>
</div>


<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'jubileum/img/qr-code.png' %}" style="width:100%">
  </div> 
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
</div>

<script src= {% static "jubileum/js/slides.js" %}></script>

<h2 class="returnerende-title">Info om billetter</h2>

<p class="returnerende-description">Her kommer litt informasjon om uttak av billetter/bånd og hvilke tider du kan gjøre det på. Det gjelder følgende arrangementer:

  <ul style="color:rgb(192,192,192); font-size: 12px;">
    <li>Revy Torsdag og Fredag</li>
    <li>Konsert med Trang Fødsel</li>
    <li>Jubileumsgalla</li>
    <li>20.30: Hovedretten serveres</li>
     <li>Underholdning på scenen underveis.</li>
  </ul>

</p>
<p class="returnerende-description"> 
Bruk av utdelte billett-bånd er det som viser at du har gyldig inngangsbillett, og om du er over eller under 20 år. Dette kan du få utdelt ved hovedinngangen på Tyholt (MTS). Her må du oppgi fullt navn og vise kvittering for å hente ut båndene. Om du har kjøpt av noen andre må dette også oppgis.
NB! For dere som ikke finner kvittering på billettkjøpet, kan du sende en mail til <a href="mailto: jubkom-billett@mannhullet.no">jubkom-billett@mannhullet.no</a> og etterspørre kvittering på de arrangementene du har kjøpt til.
</p>

<h3 class="returnerende-title">Tider for uttak av billetter RETURNERENDE-HELG:</h3>
<p class="returnerende-description"> 
Uttak av billett-bånd gjøres kun ved hovedinngangen på MTS på de gitt tidspunktene. Hvis du ikke vil stå i kø ved inngangen anbefaler vi å hente i tidsrommet 12-16.
<ul style="color:rgb(192,192,192); font-size: 12px;">
  <li>TORSDAG 17. MARS: 12.00-22.00</li>
  <li>FREDAG 18. MARS: 12.00-22.00</li>
  <li>LØRDAG 19. MARS: 12.00-15.00</li>
<ul>
</p>

<div class="container">
 <h2 style="color:rgb(192,192,192); text-align: center"> -Kjøpsbetingelser- </h2>
  <ul style="color:rgb(192,192,192);">
  <li>Som jubileums-funk får til du mulighet til å kjøpe ÉN funke-billett (altså en billett til redusert pris) per arrangement. Du kan ikke kjøpe flere funke-billetter. Kjøper du funkebillet uten å være funk, vil du ikke slippe inn på arrangementet og heller ikke få refundert beløpet</li>
  <li>Refusjon av billetter er ikke mulig, med unntak av en eventuell avlysning av arrangementer. Dersom du ikke kan bruke billetten din, står du selv ansvarlig for å selge billetten din videre.
      Dersom du selger billetten din videre, ta kontakt med jubkom-billett@mannhullet.no. Videre salg og kjøp av billetter kan gjøres på <a href="https://www.facebook.com/groups/245012782293185/"> Mannhullet - Markedplass</a></li>
  <li>Det er mulig å kjøpe flere billetter til samme arrangment (MAKSIMALT 4 BILLETTER*. Kjøper du flere billetter enn det som er lov vil kun 4 av disse være gyldige!</li>
  <li> Kjøper du flere billetter til ett og samme arrangment er den som kjøper ansvarlig for å ta ut billetter til alle ved innslipp. MØT OPP SAMMEN! </li>
  <li> Vi forbeholder oss retten til å be om korona-sertifikat eller negativ hurtigtest ved innslipp dersom dette kreves av lokale eller nasjonale myndigheter.</li>    
</ul>  

</div>
</main>
{% endblock %}