{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Arrangement{% endblock %}
 <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
 <script src={% static "global/js/popper.min.js"%}></script>
 <script src={% static "global/js/bootstrap.min.js" %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'jubileum/css/jub-event.css' %}">
{% block content %}
<main>
<!-- Event container, thank you very much uka-->
  <div class="container pb-4" id="event-container">
    <!-- TORSDAG 27. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_27"
				    aria-controls="eventContent_27" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> TORSDAG - 10. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_27">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/galla-event.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Lunch & Learn med DNV </h2>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/196/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
        </div>
    </div>
    <!-- FREDAG 11. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_28"
				    aria-controls="eventContent_28" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> FREDAG - 11. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_28">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/åpent-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Åpningsfest: Maskerade </h2>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/195/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
        </div>
    </div>
    <!-- LØRDAG 12. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_1"
				    aria-controls="eventContent_1" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> LØRDAG - 12. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_1">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/artist-placeholder.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Mannhullets Mesterskap </h2>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/197/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/artist1.jpg' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Sushi x Kobe </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 650 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 190/300 NOK</div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> Vrimle </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- MANDAG 14. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_31"
				    aria-controls="eventContent_31" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> MANDAG - 14. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_31">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/buldring.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Morgenbuldring </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 30 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> Free </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> Trondheim Buldresenter </div>
              </div>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/199/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/chugntag.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Tag'n chug </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 60 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 150 NOK</div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> MTS </div>
              </div>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/202/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/birthday-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Barnebursdag </h2>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/200/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
        </div>
    </div>
     <!-- TIRSDAG 01. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_01"
				    aria-controls="eventContent_01" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> TIRSDAG - 15. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_01">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/beer-tasting.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Ølsmaking </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 36 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 200 NOK</div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> ØX Tap Room </div>
              </div>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/203/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/swing-swang.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Swingkurs </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 60 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 50 NOK</div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> Dragvoll </div>
              </div>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/204/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/må-på-behandling.jpg' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Må på behandling</h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 200 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 150 NOK </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              </div>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/205/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
        </div>
    </div>
     <!-- ONSDAG 02. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_02"
				    aria-controls="eventContent_02" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> ONSDAG - 16. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_02">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/paddle.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Padel </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 24 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> Free </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> Trondheim Padel </div>
              </div>
              <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/206/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/åpent-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Marintekniske dager </h2>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/181/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
    </div>
    <!-- Marks start of returnerende weekend-->
    <div class="container">
      <h2 style="color:rgb(192,192,192); text-align: center"> -Returnerende helg- </h2>
    </div>
    <!-- TORSDAG 03. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_03"
				    aria-controls="eventContent_03" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> TORSDAG - 17. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_03">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/åpent-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Marintekniske dager </h2>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/181/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/revy-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Jubileumsrevy 18:00 </h2>
            <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 200 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 150/250 NOK </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              </div>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/207/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/revy-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Jubileumsrevy 20:00 </h2>
            <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 200 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 150/250 NOK </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              </div>
             <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/207/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/åpent-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Apent hus </h2>
            </div>
          </div>
        </div>
    </div>
    <!-- FREDAG 04. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_04"
				    aria-controls="eventContent_04" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> FREDAG - 18. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_04">
          <div class="row collapse show" id="eventContent_27">
            <div class="event-card" style="background-image: url({% static 'jubileum/img/hoegh-card.png' %})">
              <div class="event-card-inner">
                <h2 class="card-title"> Lunsj med Höegh LNG </h2>
                <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/221/"><button class="button-65" role="button">Mer info</button></a></p>
              </div>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/revy-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Revy og konsert - Returnerende</h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 200 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 550 NOK </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              </div>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/artist2.jpg' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Trang Fødsel</h2>
               <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 400 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 190/300 NOK </div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> Vrimle </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <!-- LØRDAG 05. -->
    <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_05"
				    aria-controls="eventContent_05" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> LØRDAG - 19. Mars </div>
			  </div>
        <div class="row collapse show" id="eventContent_05">
          <div class="event-card" style="background-image: url({% static 'jubileum/img/åpent-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Mimredag </h2>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/210/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/revy-card.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Supperevy </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 150 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 50/100 NOK</div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              </div>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/211/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
          <div class="event-card" style="background-image: url({% static 'jubileum/img/galla-event.png' %})">
            <div class="event-card-inner">
              <h2 class="card-title"> Jubileumsgalla </h2>
              <div class="card-info-row">
                <div class="card-tickets"> <i class="fas fa-users"></i> 750 </div>
                <div class="card-price"><i class="fas fa-dollar-sign"></i> 450/750 NOK</div>
                <div class="card-location"> <i class="fas fa-map-marker-alt"></i> Tapperiet på Dahls </div>
              </div>
               <p class="card-description"><a style="color: black" href="https://mannhullet.no/arrangementer/212/"><button class="button-65" role="button">Mer info</button></a></p>
            </div>
          </div>
        </div>
    </div>
  </div>  
</main>
{% endblock %}