{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Samarbeidspartnere{% endblock %}
 <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
 <script src={% static "global/js/popper.min.js"%}></script>
 <script src={% static "global/js/bootstrap.min.js" %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'jubileum/css/jub-event.css' %}">
{% block content %}

<main>
<div class="wrapper">
  <div class="title"><h2>Samarbeidspartnere</h2></div>
  <p style="color:rgb(192,192,192)"> Jubileumskomiteen vil gjerne utrekke en stor takk til samarbeidspartnere våre, som lar oss gjøre jubileet best mulig! </p>
  <div class="row">
    <div class="logo-container">
    <img src={% static 'jubileum/img/imt-logo.PNG'%} alt="IMT-logo">
    </div>
    <div class="logo-container">
    <img src={% static 'global/img/DNV_logo.png'%} alt="DNV-logo">
    </div>
  </div>
<div>
</main>

{% endblock%}