{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Arrangement{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'jubileum/css/jub-contact.css' %}">
{% block content %}

<main>
 <div class="wrapper">
  <div class="title"><h2>Jubileumskomiteen</h2></div>
  <div class="team">
    <div class="team_member">
      <img src={% static 'jubileum/img/borgar-greeting.JPG'%} alt="borgar_image">
      <h2>Leder</h2>
      <h3>Borgar Larsen</h3>
      <a href="mailto: jubkom-leder@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/sofie.JPG' %} alt="team_member_image">
      <h2>Nestleder</h2>
      <h3>Sofie Wettre</h3>
       <a href="mailto: jubkom-nestleder@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/harald.JPG'%} alt="team_member_image">
      <h2>Blæsteansvarlig</h2>
      <h3>Harald Haugli</h3>
       <a href="mailto: jubkom-blaest@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
      <div class="team_member">
      <img src={% static 'jubileum/img/thea.JPG'%} alt="team_member_image">
      <h2>Økonomiansvarlig</h2>
      <h3>Thea Kvalheim</h3>
       <a href="mailto: jubkom-okonomi@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/dorthe.JPG'%} alt="team_member_image">
      <h2>Arrangementansvarlig</h2>
      <h3>Dorthe A. Slotvik</h3>
       <a href="mailto: jubkom-arrangement@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/mille.JPG'%} alt="team_member_image">
      <h2>Arrangementansvarlig</h2>
      <h3>Mille C. Sæther</h3>
       <a href="mailto: jubkom-arrangement@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/mathias.JPG'%} alt="team_member_image">
      <h2>Web- og Billettansvarlig</h2>
      <h3>Mathias Solheim</h3>
       <a href="mailto: jubkom-billett@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/reiten.JPG'%} alt="team_member_image">
      <h2>Konsertansvarlig</h2>
      <h3>Henrik Reiten</h3>
       <a href="mailto: jubkom-konsert@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/maiten.JPG'%} alt="team_member_image">
      <h2>Konsertansvarlig</h2>
      <h3>Maiten Corona</h3>
       <a href="mailto: jubkom-konsert@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/grinchen.JPG'%} alt="team_member_image">
      <h2>Sponsoransvarlig</h2>
      <h3>Einar Steen Johnsen</h3>
       <a href="mailto: jubkom-spons@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/robin.JPG'%} alt="team_member_image">
      <h2>Teknisk ansvarlig</h2>
      <h3>Robin Stokke</h3>
       <a href="mailto: jubkom-teknisk@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/even.JPG'%} alt="team_member_image">
      <h2>Baransvarlig</h2>
      <h3>Even Stensvand</h3>
       <a href="mailto: jubkom-bar@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
    <div class="team_member">
      <img src={% static 'jubileum/img/ingvild.JPG'%} alt="team_member_image">
      <h2>Vertskapsjef</h2>
      <h3>Ingvild Flåm</h3>
       <a href="mailto: jubkom-vertskap@mannhullet.no"><i class="far fa-envelope"></i></a>
    </div>
  </div>
</div>
</main>

{% endblock%}