{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Hjem{% endblock %}
<script src= {% static "jubileum/js/jub.js" %}></script>
{% block content %}
<main>

<div class="img-container-one">
  <img class="placeholder-img" src={% static "jubileum/img/logo-new.png" %}>
</div>
<div class="container">
  <h2 style="color:rgb(192,192,192); text-align: center"> 11. Mars - 19. Mars 2022 </h2>
</div>
<div class="greeting-card">
    <div class="greeting-card-inner">
    <h2 class="greeting-title"> Ærede Mannhullitter! </h2>
    <p class="greeting-description"> 
    I år fyller vår kjære linjeforening hele 105 år! Mannhullet går en spennende tid i vente, med byggingen av Ocean Space Centre og omplassering fra vårt kjære Tyholt. Vi ønsker derfor å invitere til en helt spesiell feiring, hvor vi både har linjeforeningen og MTS i fokus. 
    Grunnet Covid-19 restriksjoner har vi sett os nødt til å utsette Jubileet fra den originale datoen 27. Januar. Men nå ser tidene lysere ut og vi er fra 11. Mars 
    klare til å fylle MTS i 9 dager med konserter, fester, faglig innhold og viktigst av alt; flotte Mannhullitter fra alle årskull!
    </p>
    <p class="greeting-description"> 
    Vi jobber for et jubileum hvor det er plass til alle Mannhullitter som ønsker å komme, og vi håper at alle som tidligere har fått nyte Kjelleren, Ruffen og Vrimle kan få si farvel med et realt sjøslag! 
    Slik kan vi også føre arven videre til de som en dag skal vandre i Ocean Space Centre’s ganger. Vi sees der! 
    </p>
    <p class="greeting-signature"> Borgar Larsen<br>
    Leder av Jubileumskomiteen </p>
    </div>
    <img class="greeting-card-img" src={% static "jubileum/img/borgar-greeting.JPG" %}> 
</div>
<hr>
<div class="container">
      <h2 style="color:rgb(192,192,192); text-align: center"> -Konsert- </h2>
</div>
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img src="{% static 'jubileum/img/artist1.jpg' %}" style="width:100%">
    <div class="text" style="color: white">Sushi x Kobe: 12. Mars</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="{% static 'jubileum/img/artist2.jpg' %}" style="width:100%">
    <div class="text">Trang Fødsel: 18. Mars</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script src= {% static "jubileum/js/slides.js" %}></script>

<hr>

<div class="countdown-container">
  <div id="countdown">
    <ul>
      <!--<li class="countdown-li"><span class="countdown-span" id="days"></span>-->
      <p>
      Jubileet er i gang! </p>
    </ul>
  </div>
</div>

</main>

<footer class='jub-footer-fixed'>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</footer>
{% endblock %}