{% extends 'jubileum/jub-base.html' %} {% load static %} {% block title %}Arrangement{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'jubileum/css/jub-returnerende.css' %}">
{% block content %}
<main>
<div class="returnerende-info">
<h2 class="returnerende-title">Ærede Mannhulliter!</h2>
<p class="returnerende-description">
  Her kommer litt info om Jubileums-gallaen på lørdag.
  Først en viktig beskjed fra Dahls Tapperi: Det vil ikke være mulig å oppbevare bagger, poser eller lignende i garderoben. Kom derfor tomhendt, med finstasen på!
  Under følger en rov kjøreplan for Jubileums-galla:
  <ul style="color:rgb(192,192,192); font-size: 12px;">
    <li>Alle må hente ut bånd før gallaen. Dette kan gjøres fra 12.00-15.00 på Tyholt, ved hovedinngangen, på lørdag formiddag. Dette kan også gjøres på torsdag og fredag. Se under for informasjon om hvor man kan hente billetter.</li>
    <li>18.30: Innslipp og baren åpner.</li>
    <li>20.00: Underholdning begynner på scenen</li>
    <li>20.30: Hovedretten serveres</li>
   <li>Underholdning på scenen underveis.</li>
   <li>21.50: Desserten serveres</li>
   <li>23.00: Hovedunderholdning</li>
   <li>01.00: Arrangementet stenger.</li></ul> </p>
  </p>
<h2 class="returnerende-title">Info om billetter</h2>

<p class="returnerende-description">Her kommer litt informasjon om uttak av billetter/bånd og hvilke tider du kan gjøre det på. Det gjelder følgende arrangementer:

  <ul style="color:rgb(192,192,192); font-size: 12px;">
    <li>Revy Torsdag og Fredag</li>
    <li>Konsert med Trang Fødsel</li>
    <li>Jubileumsgalla</li>
    <li>20.30: Hovedretten serveres</li>
     <li>Underholdning på scenen underveis.</li>
  </ul>

</p>
<p class="returnerende-description"> 
Bruk av utdelte billett-bånd er det som viser at du har gyldig inngangsbillett, og om du er over eller under 20 år. Dette kan du få utdelt ved hovedinngangen på Tyholt (MTS). Her må du oppgi fullt navn og vise kvittering for å hente ut båndene. Om du har kjøpt av noen andre må dette også oppgis.
NB! For dere som ikke finner kvittering på billettkjøpet, kan du sende en mail til <a href="mailto: jubkom-billett@mannhullet.no">jubkom-billett@mannhullet.no</a> og etterspørre kvittering på de arrangementene du har kjøpt til.
</p>

<h3 class="returnerende-title">Tider for uttak av billetter RETURNERENDE-HELG:</h3>
<p class="returnerende-description"> 
Uttak av billett-bånd gjøres kun ved hovedinngangen på MTS på de gitt tidspunktene. Hvis du ikke vil stå i kø ved inngangen anbefaler vi å hente i tidsrommet 12-16.
<ul style="color:rgb(192,192,192); font-size: 12px;">
  <li>TORSDAG 17. MARS: 12.00-22.00</li>
  <li>FREDAG 18. MARS: 12.00-22.00</li>
  <li>LØRDAG 19. MARS: 12.00-15.00</li>
<ul>
</p>

{% if user.is_authenticated %}
<div style="text-align: center;">
<div class="form-container">
      <form class="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="fieldWrapper">
            <ul class="form-errors"> {{ form.title.errors }} </ul>
            <p class="form-title">Bildenavn:</p>
            <p>{{form.title}}</p>
          </div>
          <div class="fieldWrapper">
            <ul class="form-errors"> {{ form.image.errors }} </ul>
            <p class="form-title">Bilde:</p>
            <p> Maks-størrelse på bilder er 1 mb. <br> Vennligst ikke last opp større enn dette :)</p>
            <p>{{ form.image}}</p>
          </div>
          <div class="fieldWrapper">
            <ul class="form-errors"> {{ form.description.errors }} </ul>
            <p class="form-title">Beskrivelse:</p>
            <p style="width: 100%">{{ form.description}}</p>
          </div>
          <button class="form-button" type="submit">
            Last opp
          </button>
          {% if img_obj %}
          <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  {% endif %}
  </form>
</div>  
</div>  
{% endif %}
<div class="blank-space">
</div>
</main>
{% endblock %}