<!-- Event container, thank you very much uka-->
  <div class="container pb-4" id="event-container">
    <div class="showing-container"> 
        <!-- LØRDAG 29. -->
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_1"
				    aria-controls="eventContent_1" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> LØRDAG - 29. Januar </div>
			  </div>
        <div class="row collapse show" id="eventContent_1">
          <div class="event-card">
            <div class="event-card-inner">
              <h2 class="card-title"> Konsert - TBA </h2>
              <div class="card-info-row">
              <div class="card-time"> <i class="fas fa-calendar-alt"></i> Mandag 12.10 kl.19:00 </div>  
              <div class="card-tickets"> <i class="fas fa-users"></i> 140 </div>
              <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              <div class="card-location"> <i class="fas fa-dollar-sign"></i> Free </div>
            </div>
          </div>
        </div>
    </div>
      <!-- Markerer start på returnerende -->
      <div class="container">
      <h2 style="color: rgb(192, 192, 192)">--Returnerende helg--</h2>
      </div>

      <!-- TORSDAG 03.-->
      <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_03"
				    aria-controls="eventContent_03" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> Torsdag - 03. Februar </div>
			  </div>
        <div class="row collapse show" id="eventContent_03">
          <div class="event-card">
            <div class="event-card-inner">
              <h2 class="card-title"> Jubileumsrevy x 2 </h2>
              <div class="card-info-row">
              <div class="card-time"> <i class="fas fa-calendar-alt"></i> Mandag 12.10 kl.19:00 </div>  
              <div class="card-tickets"> <i class="fas fa-users"></i> 140 </div>
              <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              <div class="card-location"> <i class="fas fa-dollar-sign"></i> Free </div>
            </div>
          </div>
        </div>
      </div>

    <!-- FREDAG 04. -->
      <div class="showing-container"> 
		  	<div class="row no-gutters showing-container-header p-1 mt-3 mb-2 d-flex justify-content-start"
			      style="cursor: pointer; color: rgb(192, 192, 192);"
				    data-toggle="collapse"
				    data-target="#eventContent_04"
				    aria-controls="eventContent_04" aria-expanded="false"
				    aria-label="Toggle navigation">
			     <div class="dropdown-toggle font-weight-bold"> Torsdag - 03. Februar </div>
			  </div>
        <div class="row collapse show" id="eventContent_04">
          <div class="event-card">
            <div class="event-card-inner">
              <h2 class="card-title"> Jubileumsrevy </h2>
              <div class="card-info-row">
              <div class="card-time"> <i class="fas fa-calendar-alt"></i> Mandag 12.10 kl.19:00 </div>  
              <div class="card-tickets"> <i class="fas fa-users"></i> 140 </div>
              <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
              <div class="card-location"> <i class="fas fa-dollar-sign"></i> Free </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>


<!--
  {% for event in jub_events_list %}
  <div class="event-card" style="background-image:{{event.image}}">
    <div class="event-card-inner">
     <h2 class="card-title"> {{event.title}} </h2>
     <p class="card-description">{{event.description|striptags|safe}}</p>
     <div class="card-info-row">
      <div class="card-time"> <i class="fas fa-calendar-alt"></i> {{event.start_time}} </div>  
      <div class="card-tickets"> <i class="fas fa-users"></i> {{event.max_attendees}} </div>
      <div class="card-location"> <i class="fas fa-map-marker-alt"></i> {{event.location}} </div>
      <div class="card-location"> <i class="fas fa-dollar-sign"></i> Free </div>
     </div>
    </div>
  </div>
   {% endfor %}
   <div class="event-card">
    <div class="event-card-inner">
    <h2 class="card-title"> Borgar blotter seg for første klasse </h2>
    <p class="card-description"> Tradisjonen tro skal leder av Jubileumskomiteen Borgar Larsen blotte seg for hele førsteklasse. Det blir veldig fint. 
     "Oh no, Borgar. What is you doing? Someone please call the police!" - En førstis sannsynligvis. (Haha, nå var du morsom Mathias :^)) </p>
    <div class="card-info-row">
      <div class="card-time"> <i class="fas fa-calendar-alt"></i> Mandag 12.10 kl.19:00 </div>  
      <div class="card-tickets"> <i class="fas fa-users"></i> 140 </div>
      <div class="card-location"> <i class="fas fa-map-marker-alt"></i> T2 </div>
      <div class="card-location"> <i class="fas fa-dollar-sign"></i> Free </div>
    </div>
  </div>
-->