{% extends '../base_bk.html' %}

{% block title %} Bedrifter {% endblock %}
{% block info%}
{% load static %}
{% load app_filters %}
<!--Image top-->
<br><br>
<div class="row align-items-end">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h1 class="row justify-content-center">Bedriftliste</h1>
  </div>
  <div class="col-md-3">
    <a class="btn btn-primary float-right align-center button-company" href="{% url 'bedriftskontakt:create_company'%}">Lag ny bedrift</a>
  </div>
</div>
<hr class="py-2">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-left">
      <h2>Bedrift</h2>
    </div>
    <div class="col-md-3 text-left">
      <h2>Til bedrift</h2>
    </div>
    <div class="col-md-3 text-left">
      <h2>Logg</h2>
    </div>
    <div class="col-md-2 text-left">
      {% if request.user|has_BK_admin_permission %}
      <h2>Slett</h2>
      {% endif %}
    </div>
  </div>

  {% for company in company_list %}
    <div class="row company-overview">
      <div class="col-md-4 text-left">
        <h3>{{company.company_name}}</h3>
      </div>
      <div class="col-md-3 text-left">
        <a class="btn btn-primary float-left align-center button-company" href="{% url 'bedriftskontakt:company_details' pk=company.pk %}">Bedrift</a>
      </div>
      <div class="col-md-3 text-left">
        <a class="btn btn-primary float-left align-center button-company" href="{% url 'bedriftskontakt:company_log' pk=company.pk %}">Logg</a>
      </div>
      <div class="col-md-2 text-left">
        {% if request.user|has_BK_admin_permission %}
        <form action="{% url 'bedriftskontakt:delete_company' company.pk %}" method="post">
          {% csrf_token %}
          <button class="btn btn-danger button-company float-left align-center event-delete-btn">
            Slett
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  {% endfor %}


</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script type="text/javascript">
  $('.company-overview')
    .filter(":even")
    .addClass('grey-color')
</script>

<script>
  $(document).on('click', '.event-delete-btn', function(){
      return confirm('Er du sikker på at du vil slette denne bedriften?');
  })
</script>

{% endblock %}
