{% extends '../base_bk.html' %}
{% load static %}
{% block info %}
<br><br>
<div class="align-items-end">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 class="row justify-content-center">{{company.company_name}}</h1>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary float-left align-center button-company" href="{% url 'bedriftskontakt:edit_company' pk=company.pk%}">Endre</a>
      <form action="{% url 'bedriftskontakt:delete_company' company.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger button-company float-right align-center event-delete-btn">
          Slett
        </button>
      </form>
    </div>
  </div>
</div>
<hr class="py-2">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="blue-company">
        <h3>Kontaktinformasjon</h3>
        <hr class="py-2">
        <div class="row">
          <div class="col-md-12">
            <strong>Kontaktperson:</strong> {{company.company_contact}}<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Mail:</strong> {{company.company_contact_email}}<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Tlf:</strong> {{company.company_contact_phone}}<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Hjemmeside:</strong> <a href="{{company.company_homepage}}" target="_blank" >Link</a><br><br>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <div class="blue-company">
        <h3>Om bedriften</h3>
        <hr class="py-2">
        <div class="row">
          <div class="col-md-8">
            {{ company.company_summary|safe}}
          </div>
          <div class="col-md-4">
              <img class = "img-fluid" {% if company.company_logo %} src="{{ company.company_logo.url }}" {% else %} src = "" {% endif %} alt="{{ company.company_name }} logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script>
  $(document).on('click', '.event-delete-btn', function(){
      return confirm('Er du sikker på at du vil slette denne bedriften?');
  })
</script>


{% endblock %}
