{% extends '../base_bk.html' %}

{% block title %}Registrere nytt Firma{% endblock %}

{% block content %}
{% load static %}
<div id="container" class="container" style="padding-top: 5px;">
  <div class="row">
    <div class="col-sm-offset-0 col-sm-8 col-md-offset-1 col-md-6">
      <h3> Registrer Firma </h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <h3>{{ field.label_tag }}</h3>
        <p>{{ field }}</p>
        <p>{{field.help_text}}</p>
        <p>{{field.errors}}</p>

        {% endfor %}
        <button class="btn btn-default" type="submit" style="width:100%"
        >Lagre</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
<script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>
{% endblock %}
