
.card {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 1em;
  border: None;
}

.card-img-top {
    object-fit: cover;
    width: 100%;  /* or any specific value like '200px' */
    max-width: 25vw;  /* to make sure it doesn't grow beyond this size */
    height: auto;  /* to maintain the aspect ratio */
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}


.button1 {
  background-color: rgba(0, 0, 0, 0.1); /*opprinnelig: white*/
  color: black;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.save-btn {
  width: 12em;
}


.date_box {
  display: block;
  margin: .5rem 0;
}

.calendar {
    width: 100%;
    max-width: 100%;  /* ensures that it takes up the full width */
    border-collapse: collapse;
    table-layout: fixed;  /* makes columns of equal width */
}

.calendar th, .calendar td {
    border: 1px solid #e0e0e0;  /* adding border to table headers */
    vertical-align: top;
    text-align: center;
    background-color: #f5f5f5;  /* the same background for header and body */
    align-items: center;  /* vertically centers content */
    justify-content: center; /* horizontally centers content */
    height: 100%;  /* takes full height */
    padding: 10px 0;  /* some padding on top and bottom for better aesthetics */
}

.date {
    display: block;
    margin-top: 0px;
    margin-bottom: 15px;
    color: gray;
}

.rental-list {
    list-style: none;
    padding: 0;
}

.rental-item {
    background-color: #404d75;  /* adjust color as necessary */
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.week-header th {
    font-weight: bold;
}

.error-message-container {
    display: inline-block;
}

.clear-btn {
    clear: both;
    display: block;
}

html, body {
    height: 100%;
}

.full-height {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calendar {
    min-height: 150px !important; /* or whatever minimum height you desire */
}

/* Ensure links don't show the typical behavior (blue color, underlined) */
a.month-arrow-left,
a.month-arrow-right {
    color: #404d75; /* Replace with your desired color code */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for hover state */
}

/* Change color on hover */
a.month-arrow-left:hover,
a.month-arrow-right:hover {
    color: #402d65; /* Replace with a slightly darker shade of your primary color for a subtle hover effect */
}

/* Increase size of arrows */
i.fa-angle-double-left,
i.fa-angle-double-right {
    font-size: 2.5em; /* Change value as needed */
}

/* For full-width container and to ensure arrows are at the extreme ends */
.row.calender-top-section {
    justify-content: space-between; /* This will push the arrows to the extreme ends */
}

.calender-top-section .col-1 {
    flex-grow: 1;
    display: flex;
    align-items: center; /* To vertically center the arrow */
}

.month-arrow-left, .month-arrow-right {
    margin: 0;
}

.card-image {
    display: flex;
    flex-direction: row;
    align-items: center; /* This will align items vertically centered */
}

.card-body {
    flex: 6; /* This will make the content grow to take up available space */
}

.card-image .card-img-top {
    max-width: 350px; /* Adjust this value as needed */
    height: auto; /* Keeps the image aspect ratio */
    margin-left: auto; /* Pushes the image to the right */
    margin-right: auto;
}

/* For larger screens */
@media screen and (min-width: 768px) {
    .card-image img {
        max-width: 30%;
        height: auto;
    }
}

/* For smaller screens */
@media screen and (max-width: 767px) {
    .card-image img {
        width: 100%;
        height: auto;
    }
}

.rental-btn {
  width: 15em;
  margin: 25px auto; /* Adjusts the margin to auto on the left and right */
  display: block; /* Ensures the button is a block-level element */
}