{% extends 'base.html' %}
{% load static %}

{% block title %} All news {% endblock %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Nyheter</h1>
        </div>
    </div>

    {% if banners %}
        <div class="row mt-4">
            {% for banner in banners %}
                <!-- Endret til col-12 for små skjermer og col-md-4 for medium og opp -->
                <div class="col-12 col-md-4 mb-4">
                    {% include 'news/news_card.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}