{% extends 'base.html' %}
{% load static %}

{% block title %} {{ banner.title }} {% endblock %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Dette er bildet ditt -->
    <div class="row mb-3">
        <div class="col-12">
            {% if banner.picture %}
                <img src="{{ banner.picture.url }}" class="img-fluid rounded" alt="{{ banner.title }}">
            {% endif %}
        </div>
    </div>

    <!-- Dette er knappen din -->
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary btn-block custom-btn">Klikk Meg</button>
        </div>
    </div>
</div>
{% endblock %}