{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}" />
{% endblock %}

<div class="card h-100">
  {% if banner.picture %}
  <img src="{{ banner.picture.url }}" class="news-card-img" alt="{{ banner.title }}">
  {% endif %}
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ banner.title }}</h5>
    <p class="card-text flex-grow-1">{{ banner.ingress }}</p>
    <a href="{{ banner.get_absolute_url }}" class="btn btn-primary mt-auto">Les mer</a>
  </div>
</div>