@media only screen and (max-width: 760px) {
    .wrapper .title {
      max-width: 1vw;
      font-size: 10px;
      width: 50%;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      position: relative;
    }
  }
  
  .marina-wrapper {
    margin-top: 25px;
    text-align: center;
  }
  
  .marina-wrapper .title {
    max-width: 1vw;
    font-size: 100%;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    display: inline;
    position: relative;
  }
  
  .marina-wrapper .team {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .marina-wrapper .team .team_member {
    width: 305px;
    margin: 5px;
    border-radius: 3px;
    border: 2px solid black;
    background: whitesmoke;
  }
  
  .marina-wrapper .team .team_member img {
    width: 100%;
    height: 85%;
    object-fit: fill;
    border: 2px solid white;
  }
  
  .marina-wrapper .team .team_member h2 {
    margin-top: 8px;
    font-size: 14px;
    text-decoration: underline;
  }


  .marina-wrapper .team .team_member a {
    font-size: 12px;
  }


  .marina-btn {
  width: 30em;
  margin: 25px;
  }

  .year-header {
    clear: both; /* Ensures that this element drops to a new line */
    display: block; /* Ensures that the header takes up the full width */
  }

  .marina-btn {
  width: 15em;
  margin: 25px auto; /* Adjusts the margin to auto on the left and right */
  display: block; /* Ensures the button is a block-level element */
  }
