.calendar {
  margin-top: 2em;
  margin-bottom: 5em;
  padding-left: 0px;
}

@media screen and (max-width: 780px) {
  .calendar {
    padding-left: 15px;
  }
}

.content {
  margin: 0px;
}

.table {
  table-layout: fixed;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .table {
    width: 300%;
  }
}

.calender-top-section {
  font-size: 50px;
  text-align: center !important;
}

@media screen and (max-width: 780px) {
  .calender-top-section {
    font-size: 30px;
  }
}

.calendar-title {
  width: 80%;
  float: left;
}


.month-arrow-left {
  color: #404d75;
  width: 10%;
}

.month-arrow-right {
  color: #404d75;
  width: 10%;
}

.toggle-calendar {
  font-size: 20px;
  padding: 7px;
}

.event-btn {
  width: 15em;
  margin: 25px;
}

.modal-event-btn {
    width: 15em;
}

@media only screen and (max-width: 450px) {
  .modal-event-btn {
    width: 5em;
  }
}

.modal-close-btn {
  background-color: #404d75;
  color: white;
}

.modal-close-btn:hover{
  color:white!important;
}

.event-delete-btn {
  margin-top: 2em;
  margin-bottom: 2em;
}

.table-calendar {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.table-calendar td {
  padding-top: .5rem;
}

.table-calendar ul {
  list-style-type: none;
  min-height: 50px;
  padding-left: 0;
  margin-bottom: 0;
}

#week {
  width: 5%;
}

.weekday {
  width: 13%;
}

.week-number {
  height: 90px;
}

.date {
  color: gray;
}

.today {
  font-weight: 700;
  color: black;
}

.eventDay {
  font-size: 0.7rem;
  border-radius: 3px;
  padding: 0 5px;
  margin-bottom: 5px;
}

.normalEvent {
    background-color:#404d75 ;
  /* #404d75 Different for each undergruppe */
}

.BP {
  background-color:#6A80C5 ;
  /* #404d75 Different for each undergruppe */
}

.RUKA {
  background-color:#bc1423 ;
  /* #404d75 Different for each undergruppe */
}

.Jubileum {
  background-color:#C9AE5D ;
}

.Bedriftsdagen {
  background-color:#00a7e6 ;
}

.eventDay:first-child {

  margin-top: 5px;
}

.eventDay:last-child {
  margin-bottom: 0;
}

.eventDay li {
  white-space: nowrap;
  overflow: hidden;
}

.eventDay a {
  display: block;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventDayBP li {
  white-space: nowrap;
  overflow: hidden;
}

.eventDayBP a {
  display: block;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventDayRUKA a {
  display: block;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notInMonth {
  background-color: #f2f2f2;
}

.event-detail-container {
  margin-top: 2em;
  margin-bottom: 5em;

}

.event-block {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 1em;
}

.year-item {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-color: white;
  border-width: 4px;
  min-width: 32px;
  height: 32px;
  border: solid;
  padding: 2px;
  border-radius: 3px;
}

.year-list {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
}

.event-detail-title {
  overflow-wrap: break-word;
}


#list-btn {
  bottom: -2px;
}


/* event list cards */

.card-title a {
  color: black;
}

.card-title a:hover {
  text-decoration: none;
}

.bg-eventcard{
  background-color: #0b2165;
}

.evnt-helptext{
  margin-top: 0px;
  font-size: 0.8em;
}

.overskrift{
  margin-top: 15px;
  margin-bottom: 25px;
}