{% extends './base_bk.html' %}

{% block title %} Om oss {% endblock %}
{% block info%}
{% load static %}
    <h1 class="font-weight-normal">Om oss</h1>
    <h4>Bedriftskontakt er en gruppe frivillige studenter fra Institutt for Marin Teknikk ved NTNU.  </h4>
    <div class="row justify-content-center">
      <div class="col-md-9">
    		 <p>Bedriftskontakt Marin er et studentinitiativ ved Norges teknisk-naturvitenskapelige universitet. </p>
    	   <p>Vårt mål er å fungere som et bindeledd mellom instituttets studenter og det marintekniske næringsliv. </p>
         Organisasjonen ble opprettet på 80-tallet.
         Bedriftskontakt Marin tilbyr tjenester og skaper arrangementer som gir bedrifter mulighet til å profilere seg ovenfor studentene ved Institutt for Marin Teknikk.
         Arbeidet består av å arrangere en rekke aktiviteter som bedriftspresentasjoner, gjesteforelesninger, faglige  ekskursjoner, jobbformidling mm.
         <br>

         <br>
         Bedriftskontakt er en frivillig organisasjon for og av Marin Teknikk studenter.
         Overskuddet av inntektene vi mottar fra bedriftene går til vår linjeforening.
         <br>

         <br>
         Bedriftskontakt er en innsatsvillig gjeng og vi håper på et godt og konstruktivt samarbeid med dere i næringslivet.
      </div>

      <div class="col-md-3">
        <img style="float:left"
          src={% static '/img/BK.png' %}
          alt="BK forside">
    </div>

{% endblock %}
