{% load static %}
{% load app_filters %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Mannhullet.no </title>
  <link rel="apple-touch-icon" sizes="180x180" href={% static "global/favicon/apple-touch-icon.png" %}>
  <link rel="icon" type="image/png" sizes="32x32" href={% static "global/favicon/favicon-32x32.png" %}>
  <link rel="icon" type="image/png" sizes="16x16" href={% static "global/favicon/favicon-16x16.png" %}>
  <link rel="manifest" href={% static "global/favicon/site.webmanifest" %}>
  <link rel="mask-icon" href={% static "global/favicon/safari-pinned-tab.svg" %} color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href={% static "global/css/bootstrap.min.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href={% static "global/css/styles.css" %}>
  {% block app_css %}{% endblock %}
</head>


<body>
  {% block additional_styles %}
  {% endblock %}
  <header>
    <nav class=" navbar navbar-expand-md navbar-dark shadow-lg">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src={% static "global/img/logo2.png" %} alt="Logo" style="width:60px;">
        </a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="/bedriftskontakt/Team-BK">
          <img src={% static "global/img/BK2.png" %} alt="Logo" style="width:60px;">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        {# navigation links#}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href={% url 'bedriftskontakt:team_bk' %}>Team BK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'bedriftskontakt:business_presentations' %}>Bedriftspresentasjoner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'bedriftskontakt:ad_list' %}>Stillingsannonser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'bedriftskontakt:for_company' %}>For Bedriften</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'bedriftskontakt:for_student' %}>For Studenten</a>
          </li>
          {%  if request.user|has_BK_permission%}
          <li class="nav-item dropdown mr-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              BK Intern
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'bedriftskontakt:companyoverview' %}"> Firmaer </a>
              {% if semester_last %} <a class="dropdown-item" href="{% url 'bedriftskontakt:call_list' slug=semester_last.slug %}"> Ringeliste</a> {% endif %}
              <a class="dropdown-item" href="{% url 'bedriftskontakt:ad_create' %}"> Opprett Stillingsannonse</a>
              <a class="dropdown-item" href="{% url 'events:create_event' %}"> Opprett Bedriftspresentasjon</a>

            </div>
          </li>
          {% endif %}
        </ul>
        {#end of navigation-links#}
        <ul class="nav navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle btn-color" href="#" id="navbardrop1" data-toggle="dropdown">
              Profil
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <p1 class="dropdown-item">
                <center> <strong>{{user.first_name}}</strong> </center>
              </p1>
              <hr>
              {% if user.is_admin%}
              <a class="dropdown-item" href={% url 'admin:index' %}>Admin</a>
              {% endif %}
              <a class="dropdown-item" href={% url 'brukerinfo' %}>Brukerinformasjon</a>
              <a class="dropdown-item" href={% url 'logout' %}> Logg ut </a>
            </div>
          </li>
          {% else %}
          <li class="dropdown ">
            <a class="dropdown-toggle btn-color" href={% url 'login' %} id="navbardrop2" data-toggle="dropdown">
              Logg inn <span class="caret"></span>
            </a>
            <form class="dropdown-menu dropdown-menu-right login" action={% url 'login' %} method="post">
              {% csrf_token %}
              <centering>
                <input class="form-control mb-1" type="text" placeholder="Email" name="username">
                <input class="form-control mb-1" type="password" placeholder="Passord" name="password">
                <button class="btn btn-default" type="submit">Logg inn</button>
                <center>
                  <a href={% url 'signup' %}> Registrer ny bruker </a>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="content">
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
    </section>
  </main>

  <footer class="">
    <div class="container justify-content-center">
      <div class="row">
        <div class="col-12 col-md-4  ">
          <h2>Bedriftskontakt Marin</h2>
          <p>Bedriftskontakt for marin teknikk på NTNU. <a href={% url 'bedriftskontakt:team_bk' %} class="btn-color">Kontakt</a></p>
          <div class="social-icons">
            <a href="https://www.instagram.com/bedriftskontakt.marin/" target="_BLANK"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/BedriftskontaktMarin/" target="_BLANK"><i
                class="fa fa-facebook-square"></i></a>
          </div>
        </div>
        <div class="col-12 col-md-4 ">
          Samarbeidspartnere: <br>
          <a href="https://www.equinor.com/no.html" target="_BLANK"><img src={% static "/img/equinor_white.png"%}
              width="150" alt=""></a>
        
        </div>
        <div class="col-12 col-md-4 ">
          <p>Laget av Sekstanten, {% now 'Y' %}</p>
          <p>Feil på nettsiden? <br> <a href="mailto:web@mannhullet.no" class="btn-color">Rapporter til web@mannhullet.no </a></p>
        </div>
      </div>
    </div>
  </footer>


  <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
  <script src={% static "global/js/popper.min.js"%}></script>
  <script src={% static "global/js/bootstrap.min.js" %}></script>
</body>

</html>
