{% extends './base_BK2.html' %}
{% load static %}
{% block app_css %}<link rel="stylesheet" href={% static "/bedriftskontakt/css/bedriftskontakt.css" %}>{% endblock %}
{% block content %}
<div class="container">
<div class="pt-2">
      {% block info %}
      {% endblock %}
</div>
</div>
{% endblock %}
