{% extends './base_bk.html' %}

{% block title %} Om oss {% endblock %}
{% block content%}
{% load static %}

<br>


<h1 class="row justify-content-center">Bedriftspresentasjoner</h1>
<hr class="py-1">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img class="img-business-presentation-front"
        src={% static '/img/bk_logo_alt2.png' %}
        alt="Bedriftspresentasjon bilde">
    </div>
  </div>
</div>

{% if not event_list %}
<center> <h2 class="row justify-content-center business-presentation-123" > <br> Beklager det er dessverre ingen kommende bedriftspresentasjoner. <br>
    Kom tilbake senere!</h2> </center>
{% else %}
  <div class="row justify-content-center">
    <h2>Neste Bedriftspresentasjon</h2>
  </div>
  <hr class="py-1">
  <div class="container event-detail-container">
    <div class="business-presentation-box">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="event-block">
            <div class="row">
              <div class="col-sm-12">
                <h2>{{event_list.0.title}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                {{ event_list.0.description|safe }}
              </div>
            </div>
          </div>
          <div class="event-block">
            <div class="row">
              <div class=" col-sm-12 col-md-12">
                <h2>Om {{event_list.0.company.company_name}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 col-md-9">
                {{ event_list.0.company.company_summary|safe }}
              </div>
              <div class="col-md-3 col-sm-3">
                <img class = "img-fluid" {% if event_list.0.company.company_logo %} src="{{ event_list.0.company.company_logo.url }}" {% else %} src="" {% endif %} alt=""{{ event.company.company_name }} logo" >
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="event-block">
            <div class="row">
              <div class=" col-sm-12 col-md-12">
                <strong>Starter: </strong> {{event_list.0.start_time }} <br>
                <strong>Slutter: </strong> {{event_list.0.end_time }} <br>
                <strong>Sted: </strong> {{event_list.0.location}} <br>
                <strong>Arrangør: </strong> {{event_list.0.organizer}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>Dette arrangmentet er åpent for:</p>
                <div class="year-list">
                  {% for y in event_list.0.invited_years %}
                  {% if y == '9' %}
                  <p class="year-alumni-item">Alumni</p>
                  {% else %}
                  <p class="year-item">{{y}}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                {% if user in attendees %}
                <p><em>Du har plass på dette arrangementet.</em></p>
                {% elif user in waiting %}
                <p><em>Du er på venteliste.</em></p>
                {% endif %}
              </div>
            </div>

            <div class="row" style="margin: auto">
              <div class="col-sm-12 col-md-12 justify-content-center" style="text-align: center;">
                {% if user.is_authenticated %}
                  {% if open %}
                    {% if user.year|stringformat:"s" in event.invited_years %}
                      {% if user in attendees or user in waiting %}
                        <form method='POST'>
                          {% csrf_token %}
                          <button class="btn btn-default event-btn" name='not_attending' type="submit">Meld av</button>
                        </form>
                      {% elif attendees|length == event.max_attendees %}
                        <form method='POST'>
                          {% csrf_token %}
                          <button class="btn btn-default event-btn" name='attending' type="submit">Meld på venteliste</button>
                        </form>
                      {% else %}
                        <form method='POST'>
                          {% csrf_token %}
                          <button class="btn btn-default event-btn" name='attending' type="submit">Meld på</button>
                        </form>
                      {% endif %}
                    {% endif %}
                  {% elif closed %}
                    <p>Det er ikke lenger mulig å melde seg på arrangementet</p>
                  {% elif event.registration %}
                    <p>Påmelding åpner {{event.registration_starts}}</p>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <h2 class="row justify-content-center">Kommende Bedriftspresentasjoner</h2>
    <hr class="py-2">
    {% for event in event_list %}
      {% if event != event_list.0 %}
        <div class="row mb-2 mt-2 c-padding-20 business-presentation-list">
          <a class = "btn btn-block col-md-12 col-sm-12 col-xs-12" href="{% url 'events:event_details' pk=event.pk %}" style="height:150px">
            <div class="media">
              <div class="media-body col-md-9 col-sm-12 col-xs-12 text-left">
                <h2 class="mt-0 mb-0">{{event.company.company_name}}</h2>
                <h5 class="mt-0 mb-0">Tidspunkt: {{event.start_time}} </h5>
                <h5 class="mt-0 mb-0">Sted: {{event.location}}</h5>
              </div>
              <div class="col-md-3">
                <img class=" float-right" {% if event.company.company_logo %}src="{{event.company.company_logo.url}}" {% else %} src = "" {% endif %} alt= "Company logo" style="height:120px">
              </div>
            </div>
          </a>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
  <script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>
{% endblock %}
