{% extends './base_bk.html' %}<!-- vår base, likt for alle sider til BK -->

{% block title %} Ringeliste {% endblock %}
{% block content%}
{% load static %}
{% load app_filters %}

<div class="row align-items-end">
  <div class="col-md-3">
    <form method="get" class="auto_submit_form" id="asignee-filter">
    {{ filter.form.company_asignee}}
    </form>
  </div>
  <div class="col-md-6">
      <h1 class="row justify-content-center">Ringeliste {{semester}}</h1>
  </div>
  <div class="col-md-3">
  </div>
</div>
<hr class="py-1">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="btn-group">
      <a class="btn btn-primary align-center call-list-button-active" href="{% url 'bedriftskontakt:call_list' slug=semester.slug %}">Hele Ringelisten</a>
      <a class="btn btn-primary align-center call-list-button" href="{% url 'bedriftskontakt:personal_call_list' slug=semester.slug %}">Personlig Ringeliste</a>
      {% if request.user|has_BK_admin_permission %}
        <a class="btn btn-primary align-center call-list-button" href="{% url 'bedriftskontakt:call_list_admin' slug=semester.slug %}">Administrer</a>
      {% endif %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 text-left">
      <h2>Firma</h2>
    </div>
    <div class="col-md-4 text-left">
      <h2>Ansvarlig</h2>
    </div>
    <div class="col-md-3 text-left">
      <h2>Status</h2>
    </div>
    <div class="col-md-2 text-left">
      <h2>Frist</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% for obj in call_list %}
        {% if obj in filter.qs %}
          <a class = "call-list-btn no-underline col-md-12 align-items-center" href="{% url 'bedriftskontakt:company_log' pk=obj.company.pk %}">
            <div {% if company_log_list_all|index:forloop.counter0 == "Ikke interessert" %}class="row c-padding call-list-orange  align-items-center"
            {% elif company_log_list_all|index:forloop.counter0 == "Ikke relevant" %} class="row c-padding call-list-red align-items-center"
            {% elif company_log_list_all|index:forloop.counter0 == "Ikke kontaktet" %} class="row c-padding call-list-default align-items-center"
            {% elif company_log_list_all|index:forloop.counter0 == "Ikke fått svar" %} class="row c-padding call-list-yellow align-items-center"
            {% elif company_log_list_all|index:forloop.counter0 == "Kommer" %} class="row c-padding call-list-green align-items-center"
            {% elif company_log_list_all|index:forloop.counter0 == "Interessert" %} class="row c-padding call-list-purple align-items-center"
            {% elif company_log_list_all|index:forloop.counter0 == "Sponsor" %} class="row c-padding call-list-blue align-items-center"
            {% else %}class="row c-padding call-list-default align-items-center"{% endif %}>
                <div class="col-md-3 text-left">
                  <h3>{{obj.company}}</h3>
                </div>
                <div class="col-md-4 text-left">
                  <p>{{obj.company_asignee.first_name}} {{obj.company_asignee.last_name}}<p>
                </div>
                <div class="col-md-3 text-left">
                  <p>{{company_log_list_all|index:forloop.counter0}}<p>
                </div>
                <div class="col-md-2 text-left">
                  <p>{{obj.deadline}}</p>
                </div>
            </div>
            </a>
          {% endif %}
      {% endfor %}
  </div>
</div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script type="text/javascript">
  $(function() {
  $(".auto_submit_form").change(function() {
    this.submit();
  });
});
</script>
{% endblock %}
