{% extends './base_bk.html' %}

{% block title %} Ringeliste {% endblock %}
{% block content%}
{% load static %}
{% load app_filters %}

<h1 class="row justify-content-center">Ringeliste {{semester}}</h1>
<hr class="py-1">
<div class="row justify-content-center">
  <div class="btn-group">
    <a class="btn btn-primary align-center call-list-button" href="{% url 'bedriftskontakt:call_list' slug=semester.slug %}">Hele Ringelisten</a>
    <a class="btn btn-primary align-center call-list-button" href="{% url 'bedriftskontakt:personal_call_list' slug=semester.slug %}">Personlig Ringeliste</a>
    <a class="btn btn-primary align-center call-list-button-active" href="{% url 'bedriftskontakt:call_list_admin' slug=semester.slug %}">Administrer</a>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form method="get" class="auto_submit_form" id="asignee-filter">
      {{ filter.form.company_asignee.label_tag }}
      {{ filter.form.company_asignee}}
      </form>
    </div>
    <div class="col-md-6 text-right">
      <form method="post">
        <div class="row">
        {% csrf_token %}
        <div class="col-md-8">
          <p>{{ form.semester }}{{form.semester.help_text}}{{form.semester.errors}}</p>
          </div>
          <div class="col-md-4">

            <button class="btn-default float-right" type="submit" name ='newsemesterbtn'>Nytt Semester</button>
          </div>
          </div>
      </form>
    </div>
  </div>
  <div class="row">
    <form method="post">
      {% csrf_token %}
      <p>{{ form_deadline }}</p>
      <button class="btn-default float-right" type="submit" name ='newdeadline'>Endre frist</button>
    </form>

  </div>
</div>
<hr class="py-1">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-left">
      <h2>Firma</h2>
    </div>
    <div class="col-md-4 text-center">
      <h2>Ansvarlig</h2>
    </div>
    <div class="col-md-4 text-center">
      <h2>Ringefrist</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <form method="post">
      {% csrf_token %}
      {{formset.management_form}}
      {% for form in formset %}
      {% if call_list|index:forloop.counter0 in filter.qs %}
      <div class= "row c-padding call-list-admin align-items-center">
        <div class="col-md-4 text-left">
          <h3>{{call_list|index:forloop.counter0}}</h3>
        </div>
        {% for field in form %}
          <div class="col-md-4 text-center">
            {{field}}{{field.help_text}}{{field.errors}}
          </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
      <button class="btn btn-default mt-2" type="submit" name ="asigneebtn"
      >Lagre</button>
    </form>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script type="text/javascript">
  $(function() {
  $(".auto_submit_form").change(function() {
    this.submit();
  });
});
</script>
<script type="text/javascript">
  $('.call-list-admin')
    .filter(":even")
    .addClass('grey-color')
</script>

{% endblock %}
