{% extends './base_bk.html' %}
{% block title %} Opprett logg {% endblock %}
{% block content%}
{% load static %}
{% load app_filters %}

<h1 class ="row justify-content-center"> Legg til logg for {{company}} for {{semester}}</h1>
<hr class="py-1">
<div id="container" class="container">
  <div class="row">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <h3>{{ field.label_tag }}</h3>
        <p>{{ field }}</p>
        <p>{{field.help_text}}</p>
        <p>{{field.errors}}</p>
        {% endfor %}
        <button class="btn btn-default" type="submit" style="width:100%"
        >Lagre</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
