{% extends "./base_bk.html" %}

{% block content %}
{% load static %}
{% load app_filters %}
<h1 class="row justify-content-center">Kontaktlogg for {{company.company_name}}</h1>
<hr class="py-1">
<div class="row justify-content-center">
  <div class="btn-group">
    <a class="btn btn-primary align-center call-list-button" href="{% url 'bedriftskontakt:call_list' slug=semester_list.0.slug %}">Hele Ringelisten</a>
    <a class="btn btn-primary align-center call-list-button" href="{% url 'bedriftskontakt:personal_call_list' slug=semester_list.0.slug %}">Personlig Ringeliste</a>
  </div>
</div>
{% for semester in semester_list %}
<div class="row align-items-end">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h2 class ="row justify-content-center mt-5">{{semester}}</h2>
  </div>
  <div class="col-md-1">
    {% if forloop.counter == 1 %}
      <a class="btn btn-primary float-right align-center" href="{% url 'bedriftskontakt:company_log_create' pk=company.pk %}">+</a>
    {% endif %}
  </div>
</div>
    <div class="table-respo44nsive">
      <table class="table" style="table-layout: fixed; width: 100%;">
        <thead>
          <tr class="d-flex">
            <th class= "col-2">Loggtid</th>
            <th class="col-2"">Bruker</th>
            <th class="col-2">Kontaktperson</th>
            <th class="col-2">Kontaktinfo</th>
            <th class="col-4">Kommentar </th>
          </tr>
        </thead>
        <tbody>
            {% for instance in company_log_list %}
                {% if instance.company == company %}
                  {% if instance.semester == semester %}
                    <tr {% if instance.log_status == 'Kommer' %} class="call-list-green d-flex"
                        {% elif instance.log_status == 'Sponsor' %} class="call-list-blue d-flex"
                        {% elif instance.log_status == 'Ikke relevant' %} class="call-list-red d-flex"
                        {% elif instance.log_status == 'Ikke interessert' %} class="call-list-orange d-flex"
                        {% elif instance.log_status == 'Interessert' %} class="call-list-purple d-flex"
                        {% elif instance.log_status == 'Ikke fått svar' %} class="call-list-yellow d-flex"
                        {% else %} class="call-list-default d-flex"{% endif %}>
                        <td class="col-2" style="white-space: normal; word-wrap: break-word;">{{ instance.log_timeStamp }}</td>
                        <td class="col-2" style="white-space: normal; word-wrap: break-word;">{{ instance.log_user }}</td>
                        <td class="col-2" style="white-space: normal; word-wrap: break-word;">{{ instance.log_contact_person }}</td>
                        <td class="col-2" style="white-space: normal; word-wrap: break-word;">{{ instance.log_contact_info }}</td>
                        <td class="col-4" style="white-space: normal; word-wrap: break-word;">{{ instance.log_comment }}</td>
                    </tr>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
{% endfor %}

{% endblock content %}
