{% extends './base_bk.html' %}

{% block title %} Medlem {% endblock %}
{% block info%}
{% load static %}
<div class="container" style="padding-top: 5px;">
  <div class="row">
    <div class="col-sm-offset-0 col-sm-8 col-md-offset-1 col-md-12">
      <h3> Opprett medlem</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <h3>{{ field.label_tag }}</h3>
          <p>{{ field }}</p>
          <p>{{field.help_text}}</p>
          <p>{{field.errors}}</p>
        {% endfor %}
        <button class="btn btn-default" name="submit" style="width:100%">
          Lagre
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
