{% extends './base_bk.html' %}

{% block title %} For bedriften {% endblock %}
{% block info%}
{% load static %}
<h1 class="row justify-content-center">For Bedriften</h1>
<hr class="py-2">
<div class="row mb-3">
  <div class="col-md-9 col-sm-9 mr-4">
    <p>Bedriftskontakt marin en organisasjon som jobber for å sette studentene ved Marin teknikk,
      NTNU og næringslivet i kontakt. Dersom dere ønsker å komme i kontakt med oss send gjerne
      mail til <a href="mailto:bedriftskontakt@marin.ntnu">bedriftskontakt@marin.ntnu</a> en av våres respektive medlemmer i <a href="../Team-BK">Team BK</a>.<br>
    </p>

    <p>
      Ønsker dere å komme å avholde bedriftspresentasjon hos oss? Meld interesse via vedlagt skjema, så tar vi kontakt!
      <a href="https://forms.gle/ZHpHc9CkAef7P9LV7">Interesseskjema til bedriftspresentasjon</a>.<br>
    </p>

  </div>
  <div class="col-md-2 col-sm-3 ml-4">
    <img class="img-fluid"
    src={% static '/global/img/BK2.png' %}
    alt="BK forside">
  </div>
</div>
<h2 class = "row justify-content-center">Hva Bedriftskontakt Marin kan gjøre for deres bedrift?</h2>
<hr class="py-1">
<p><b>Bedriftspresentasjon:</b> En kveld der studentene skal bli bedre kjent med bedriften.
  Kvelden begynner som regel med en presentasjon fra bedriften på ca 1 time, etterfulgt av en
  form for bespisning. Her har vi mange ulike tilbud i ulike prisklasser. Bespisningen kan foregå
  enten på SIT-kantinen, Tyholt-tårnet eller en foretrukken restaurant. Dersom bedriften
  ønsker det fortsetter kvelden på marinstudentenes eget sted, Skipslogen der det er mulighet
  for mingling. Arrangementet er svært fleksibelt og det er bedriften som bestemmer det meste.
  Dere velger dato, hvor mange som skal inviteres og fra hvilke klassetrinn, samt bespisning.
  Bedriftspresentasjonen kan holdes i forbindelse med ansettelse, eller kun for å gi studentene
  et inntrykk av bedriften.
</p>
<p><b>Deling av stillingsannonser:</b> Dersom dere ønsker å ansette marin studenter deler
   vi gjerne stillingsannonsen for dere. Vi kan sende mail til de aktuelle studentene,
   legge annonsen ut på nettsiden samt legge ut et innlegg på facebook.
   Vi deler både sommerjobber, deltidsjobber, samt fulltidsstillinger etter endt studie.
   Disse tjenestene er helt gratis.</p>
<p><b>Arrangere intervjurunder:</b> Dersom dere ønsker å intervjue flere studenter ved
  Marin teknikk tar vi gjerne kontakt med aktuelle studenter.
  Vi kan også ordne med rom og forfriskninger utover dagen. Dette tilbudet fungerer
  veldig bra å kombinere med en bedriftspresentasjon.
</p>
<p><b>Instagram Takeover: </b> Dersom dere ønsker å vise marinstudenten hvordan en dag i arbeidslivet fungerer
  kan dere ta over vår instagram-konto. Dere kan da legge ut stories om en arbeidsdag hvor det vil bli
  lagret og være tilgjengelig på forsiden på vår instagram-konto   <a href="https://www.instagram.com/bedriftskontakt.marin/" target="_BLANK"><i class="fa fa-instagram"></i></a>.
</p>
<p><b>Samarbeid om  diplomoppgave: </b>Dersom dere ønsker å samarbeide med en masterstudent om diplomoppgave hjelper vi dere gjerne med å komme i kontakt med aktuelle studenter.
</p>
<h2 class = "row justify-content-center">Hvem er marinstudenten?</h2>
<hr class="py-1">
<p>Marin teknikk er et masterstudie på NTNU som utdanner sivilingeniører.
  Fra 3. året på marin velger studentene en hovedprofil blant 6 ulike som studenten spesialisere seg innenfor.
  De ulike hovedprofilene er:
</p>
<p><b>Marin Konstruksjonsteknikk: </b>Hovedprofilen gir deg kunnskap om beregningsmetoder for
  virkningen av ulike laster. Den gir deg kunnskap om hvordan bestemme konstruksjonens styrke
  og hvordan kontrollere lastens virkning. Et overordnet mål er å utforme og dimensjonere
  konstruksjoner slik at de tilfredsstiller funksjons- og sikkerhetskravene på en optimal måte.
  Det er viktig å kunne beherske grunnleggende konstruksjonsmekanikk, for å kunne kontrollere
  resultatene av slike analyser, og for å kunne utvikle nye konstruksjoner.
</p>
<p><b>Marin Kybernetikk: </b>Hovedprofilen kombinerer teoretisk og praktisk forståelse av
  disiplinen reguleringsteknikk. Man oppnår en grundig innsikt i hvordan andre, relevante
  disipliner kan modelleres matematisk. Studentene blir dermed i stand til å utvikle avanserte,
  automatiserte regulerings- og overvåkningssystemer for ulike formål innen offshorevirksomhet,
  skipsteknikk og fiskeri/havbruk
</p>
<p><b>Marin Hydrodynamikk: </b>Hovedprofilen skal gi kunnskap om motstand, propulsjon (framdrift)
  og sjøegenskaper til konvensjonelle skip og hurtiggående fartøy. Den gir også kunnskap om
  bølgeinduserte bevegelser og belastninger på offshore konstruksjoner samt metoder og teknikker
  for modellering og analyse av marine konstruksjoner. Etter at plattformer, rørledninger og
  andre typer offshore-konstruksjoner er ferdig konstruerte og utplasserte i havet, blir det
  gjennomført omfattende og kompliserte operasjoner både på havoverflaten og nedover i dypet.
  Hovedprofilen skal også gjøre deg i stand til å delta i planlegging og oppfølging av slike
  marine operasjoner.
</p>
<p><b>Marin Prosjektering: </b>Prosjektering er å utvikle systemer som er sammensatt av mange
  elementer og som tilfredsstiller en sluttbrukers krav. Arbeidet er karakterisert ved at man
  bygger opp en plan for et fartøy, anlegg eller system. Undervisningsvirksomheten ved
  hovedprofilen Marin prosjektering retter seg særlig mot tre anvendelsesområder: Prosjektering
  av skip og anlegg, inkludert sjøtransport og logistikksystemer, Prosjektering av fiskefartøy
  og havbruk og prosjektering av undervannssystemer.
</p>
<p><b>Marint Maskineri: </b>De som velger denne hovedprofilen vil få utstrakte kunnskap om blant
  annet: produksjon av elektrisk og mekanisk energi til sjøs, i denne forbindelse også
  forbrenningsmotorer, regulering av maskinerisystemer, måling av mekaniske og termiske størrelser
  samt væske- og varmetransport og mekaniske svinginger. Studentene får opplæring i hvordan
  kunnskapen kan anvendes til å utforme og dimensjonere komplette maskinerianlegg for både skip
  og plattformer. De lærer også å analysere, modellere og simulere maskinerisystemer matematisk.
</p>
<p><b>Sikkerhet og Driftsledelse. </b>Moderne skip og offshore produksjonsanlegg for olje og gass
  er kapitalintensive. De stiller høye krav til sikkerhet, miljøhensyn og effektivitet. Evne til
  å drive slike enheter optimalt er derfor meget viktig. Hovedprofilen skal gi studentene
  grunnleggende innsikt i driftsteknikk for marine systemer og anlegg. Den gir kunnskap om
  elementene som påvirker effektivitet, sikkerhet, miljø og kostnader, og om hvordan man tar
  hensyn til disse i ulike livsfaser hos et teknisk anlegg. Videre får studentene grunnleggende
  kunnskap om strategier, systemer og krav til kontroll og styring av disse elementene.
</p>
{% endblock %}
