{% extends './base_bk.html' %}

{% block title %} For bedriften {% endblock %}
{% block info%}
{% load static %}
<h1 class="row justify-content-center">For Studenten</h1>
<hr class="py-2">
<div class="row mb-3">
  <div class="col-md-12 col-sm-12 mr-4">
    <h3>Hva er en bedriftspresentasjon?</h3>
    <p>Bedriftskontakt Marin arrangerer hvert semester bedriftspresentasjoner for studentene ved Marin teknikk. Bedriftspresentasjonene foregår som regel på Marin Teknisk Senter, der representanter fra bedriften presenterer sin bedrift for marinstudentene. Presentasjonene blir ofte etterfulgt av bespisning og ulike aktiviteter for å bli kjent med bedriften og hva de holder på med. Her er representanter fra bedriften tilgjengelige for spørsmål og samtale. En bedriftspresentasjon er derfor en glimrende mulighet for studenter til å få kontakt med næringslivet og lære mer om arbeidshverdagen etter utdanningen.</p>
  </div>
</div>
<hr class="py-1">
  <h3>På- og avmelding</h3>
  <p>Bedriftspresentasjoner åpner for påmelding klokken 12:00 en uke før presentasjonen.
    For å melde deg på/av må du være innlogget på <a href="https://teknologiporten.no/nb/arrangementer/" target="_blank">teknologiporten.no</a>. Registrer deg og studentkortet
    ditt på teknologiportens sider. Arrangementet vil du fremdeles finne på mannhullet.no, hvor påmeldingen på teknologiporten sine sider vil være lenket. Ved oppmøte på bedriftspresentasjon identifiseres du i
    påmeldingssystemet ved å dra studentkortet.  Dersom du har glemt kortet kan du registrere
    deg med ditt NTNU-brukernavn. Dersom du opplever at ditt studentkort ikke fungerer ved oppmøte,
    ta kontakt med IT-ansvarlig i BK.</p>
    <br>
    <p>Frist for avmelding er klokken 12:00 dagen før presentasjonen.</p>

<hr class="py-1">
<h3>Venteliste</h3>
<p>Personer som melder seg på etter at bedriftspresentasjonen er blitt full settes på venteliste.
   Disse vil få tilsendt mail senest kl. 12.00 dagen før dersom en plass blir ledig. Når de påmeldte
   senere har blitt sluppet inn på bedriftspresentasjonen vil eventuelle ledige plasser kunne fylles opp.
   Her prioriteres de som står på venteliste, videre øvrige fremmøtte.</p><br>
<p><b>VIKTIG!</b> Meld deg av innen kl. 12:00 dagen før presentasjonen om du ikke kan komme! Avmeldingsfristen gjelder også hvis du står på venteliste. Ved manglende oppmøte vil du tildeles en prikk.</p>

  <hr class="py-1">
  <h3>Prikksystemet</h3>
  <p> Manglende oppmøte dersom man er påmeldt et arrangement «straffes» med en prikk.  To prikker i samme semester medfører utestengelse fra påmeldingssystemet i 3 måneder.</p><br>

{% endblock %}
