{% extends './base_bk.html' %}

{% block title %} Om oss {% endblock %}
{% block info%}
{% load static %}
<h1 class="row justify-content-center">Team BK</h1>
<hr class="py-1">
<P>Bedriftskontakt Marin er et studentinitiativ ved Norges teknisk-naturvitenskapelige universitet.
Vårt mål er å fungere som et bindeledd mellom instituttets studenter og det marintekniske næringsliv.
Bedriftskontakt er en frivillig organisasjon for og av Marin Teknikk studenter hvor
overskuddet av inntektene vi mottar fra bedriftene går til vår linjeforening.</p>
<hr class="py-1">
  <img class="img-fluid pb-3"
  src={% static '/img/Bk.202425.png' %}
  alt="BK forside">
  <hr class="py-1">
  
  <p> Organisasjonen ble opprettet på 80-tallet. Bedriftskontakt Marin tilbyr tjenester og skaper arrangementer som gir bedrifter mulighet til å profilere seg ovenfor studentene ved Institutt for Marin Teknikk.
  Arbeidet består av å arrangere en rekke aktiviteter som bedriftspresentasjoner, gjesteforelesninger, faglige  ekskursjoner, jobbformidling mm.
  </p>

  <p>
  Bedriftskontakt er en innsatsvillig gjeng og vi håper på et godt og konstruktivt samarbeid med dere i næringslivet!</p>

  <p>
    Ønsker dere å komme å avholde bedriftspresentasjon hos oss? Meld interesse via vedlagt skjema, så tar vi kontakt!
    <a href="https://forms.gle/ZHpHc9CkAef7P9LV7">Interesseskjema til bedriftspresentasjon</a>.<br>
  </p>


  <h1 class="text-center" id="partner_overskrift">Samarbeidspartner</h1>
  <hr class="py-1">

  <div class="row">
      <div class="col-md-6 offset-md-3">
          <img class="img-fluid pb- partner_img center-block"
          src={% static '/img/equinor_logo.png' %}
          alt="Samarbeidspartner1" style="width:100%">
      </div>
      
  </div>

{% now "n" as todays_month %}
{% now 'Y' as todays_year %}
{% if todays_month|add:"0" >= 6 %}
  <h1 class="row justify-content-center pt-5">Bedriftskontakt Marin {{todays_year}} / {{ todays_year|add:"1" }}</h1>
{% else %}
  <h1 class="row justify-content-center pt-5">Bedriftskontakt Marin {{todays_year|add:"-1" }} / {{ todays_year }}</h1>
{% endif %}

  <hr class="py-4">

       <div class="row justify-content-center pl-2 pb-5">
         {% for instance in members%}
         <div class="col-md-4 pb-5">
           <div class="liu_card shadow text-center w-75">

             <img class="card-img-top" {% if not instance.member_image %} src="{% static 'about/img/business_alt.png' %}" {% else %}
               src="{{ instance.member_image.url }}" {% endif %} onerror="imgError(this)" alt="{{instance.member_name}} Bilde">
             <div class="card-body">
               <h5 class="card-title">{{instance.member_name}}</h5>
               <h6 class="card-subtitle font-weight-light font-italic"> {{instance.member_position}}</h6>
               <p class="card-text"> Email: <span> <br> <a href="mailto:{{instance.member_email}}">{{instance.member_email}}</a> </span> </p>

             </div>
           </div>
         </div>
         {% endfor %}
       </div>
       <script type="text/javascript">
         function imgError(image) {
           image.onerror = '';
           image.src = "{% static 'about/img/buisness_alt.png' %}";
           return true;
         }
       </script>
{% endblock %}
