{% extends 'status_codes_base.html' %}
{% load static %}

{% block title %}Tilgang avvist{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="col-xs-12 text-center">
      <i class="fa fa-lock"></i>
      <h2>Tilgang avvist. Du har ikke rettigheter til denne siden.</h2>
  </div>
</div>
{% endblock %}
