{% extends 'status_codes_base.html' %}
{% load static %}

{% block title %}Side ikke funnet{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="col-xs-12 text-center">
        <img id="img404" src={% static "status_codes/img/ship.jpg" %} alt="">
        <h2>Obs! Siden ble ikke funnet. Kanskje en gammel link eller en skrivefeil?</h2>
        <p>Forventet du å finne noe her? Send gjerne en
          <a href="mailto:web@mannhullet.no">mail</a>
        </p>
    </div>
  </div>
{% endblock %}
