{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Mannhullet.no </title>
  <link rel="apple-touch-icon" sizes="180x180" href={% static "global/favicon/apple-touch-icon.png" %}>
  <link rel="icon" type="image/png" sizes="32x32" href={% static "global/favicon/favicon-32x32.png" %}>
  <link rel="icon" type="image/png" sizes="16x16" href={% static "global/favicon/favicon-16x16.png" %}>
  <link rel="manifest" href={% static "global/favicon/site.webmanifest" %}>
  <link rel="mask-icon" href={% static "global/favicon/safari-pinned-tab.svg" %} color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href={% static "global/css/bootstrap.min.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href={% static "global/css/styles.css" %}>
  {% block app_css %}{% endblock %}
</head>


<body>
  {% block additional_styles %}
  {% endblock %}
  <header>
    <nav class=" navbar navbar-expand-md navbar-dark shadow-lg">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src={% static "global/img/logo2.png" %} alt="Logo" style="width:60px;">
        </a>
        {% if special_events.Bedriftsdagen%}
        <a class="navbar-brand" href="http://www.bedriftsdagen.no" target="_blank">
            <img src={% static "undergroups/bedriftsdagen.png" %} style="width:45px;" alt="">
        </a>
        {% endif %}
        {% if special_events.Jubileum %}
        <a class="navbar-brand" href={% url 'jubileum:jub-home'%}>
            <img src={% static "jubileum/img/logo-new.png" %} alt="jub-logo" style="width:60px;">
        </a>
        {% endif %}

        {% if special_events.RUKA %}
        <a href="https://www.ruka.no" target="_BLANK"><img src={% static "global/img/ruka.png"%}
          width="50px" alt=""></a>
        {% endif %}

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        {# navigation links#}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href={% url 'general_info' %}>Om oss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'events:calendar' %}>Arrangementer</a>
          </li>
          <li class="nav-item dropdown mr-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Undergrupper
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'undergroups:undergroup_list' %}"> Om Undergruppene </a>
              {% for group in group_list %}
              <a class="dropdown-item" href="{{ group.get_absolute_url }}"> {{ group.name }}</a>
              {% endfor %}
              <a class="dropdown-item" href="{% url 'nths:nths-home' %}"> NTHS </a>

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'varslingsskjema' %}"> Varslingsskjema </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bedriftskontakt/Team-BK">Bedriftskontakt Marin</a>
          </li>
          <li class="nav-item dropdown mr-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop_virksomhet" data-toggle="dropdown">
            Virksomhet
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'marina_archive:Marina_paper' %}"> Les Marina her </a>
            {% if user.is_authenticated %}
              <a class="dropdown-item" href={% url 'all' %}>Utleie</a>
              <a class="dropdown-item" href="{% url 'undergroups:sjiraffenvers_main' %}">Tåkelurens Håndbok</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="requestMarinHjelpPassword()">Marin Hjelp</a>
            {% endif %}
            <a class="dropdown-item" href="{% static 'undergroups/marinepinnar/marine_pinnar_oppskrift.pdf' %}" target="_blank"> Strikkeoppskrift </a>
            <a class="dropdown-item" href="{% url 'news:all' %}"> Nyheter </a>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'new_student' %}">Ny student?</a>
          </li>
        </ul>
        {#end of navigation-links#}
        <ul class="nav navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle btn-color" href="#" id="navbardrop1" data-toggle="dropdown">
              Profil
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <p1 class="dropdown-item">
                <center> <strong>{{user.first_name}}</strong> </center>
              </p1>
              <hr>
              {% if user.is_staff or user.is_admin %}
              <a class="dropdown-item" href={% url 'admin:index' %}>Admin</a>
              {% endif %}
              {% if is_styret_member %}
              <a class="dropdown-item" href={% url 'user_list' %}>Oppdater Rang</a>
              {% endif %}
              {% if is_styret_member or is_undergruppeadmin %}
              <a class="dropdown-item" href={% url 'undergroups:faq' %}>FAQs</a>
              {% endif %}
              <a class="dropdown-item" href={% url 'brukerinfo' %}>Brukerinformasjon</a>
              <a class="dropdown-item" href={% url 'logout' %}> Logg ut </a>
            </div>
          </li>
          {% else %}
          <li class="dropdown ">
            <a class="dropdown-toggle btn-color" href={% url 'login' %} id="navbardrop2" data-toggle="dropdown">
              Logg inn <span class="caret"></span>
            </a>
            <form class="dropdown-menu dropdown-menu-right login" action={% url 'login' %} method="post">
              {% csrf_token %}
              <centering>
                <input class="form-control mb-1" type="text" placeholder="Brukernavn" name="username">
                <input class="form-control mb-1" type="password" placeholder="Passord" name="password">
                <button class="btn btn-default" type="submit">Logg inn</button>
                <center>
                  <a href={% url 'signup' %}> Registrer ny bruker </a>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="content">
      {% block content %}
      {% endblock %}
    </section>
  </main>

  <footer class="">
    <div class="container justify-content-center">
      <div class="row">
        <div class="col-12 col-md-4  ">
          <h2>Mannhullet</h2>
          <p>Linjeforeningen for marin teknikk på NTNU. <a href={% url 'styret' %} class="btn-color">Kontakt</a></p>
          <div class="social-icons">
            <a href="https://www.instagram.com/mannhullet/" target="_BLANK"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/pages/Mannhullet/161454280549602" target="_BLANK"><i
                class="fa fa-facebook-square"></i></a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          Hovedsponsor: <br>
          <a href="https://www.dnv.no/karriere/index.html" target="_BLANK"><img src={% static "global/img/DNV_logo_white_RGB.png"%}
              width="150" alt=""></a>
        </div>
        <div class="col-12 col-md-4 ">
          <p>Laget av Sekstanten, {% now 'Y' %}</p>
          <p>Feil på nettsiden? <br> <a href="mailto:web@mannhullet.no" class="btn-color">Rapporter til web@mannhullet.no </a></p>
        </div>
      </div>
    </div>
  </footer>


  <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
  <script src={% static "global/js/popper.min.js"%}></script>
  <script src={% static "global/js/bootstrap.min.js" %}></script>
  <script type="text/javascript">
  function requestMarinHjelpPassword() {
      var password = prompt("Please enter the password for access:");
      if(password) {
          window.location.href = `/marin-hjelp?password=${password}`;
      }
  }
  </script>
</body>

</html>
