{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta http–equiv=“Content-Type” content=“text/html; charset=UTF-8” />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %} | Mannhullet.no </title>
<link rel="apple-touch-icon" sizes="180x180" href={% static "global/favicon/apple-touch-icon.png" %}>
<link rel="icon" type="image/png" sizes="32x32" href={% static "global/favicon/favicon-32x32.png" %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static "global/favicon/favicon-16x16.png" %}>
<link rel="manifest" href={% static "global/favicon/site.webmanifest" %}>
<link rel="mask-icon" href={% static "global/favicon/safari-pinned-tab.svg" %} color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href={% static "global/css/bootstrap.min.css" %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href={% static "global/css/styles.css" %}>
<style>

html {
  /*position: relative;*/
  background-color: #e8ecef;
  margin: 50px;
}

body {
  /*margin: 0 0 250px;/*
  /* bottom = footer height */
  min-height: 500px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.1) ;
}

br {
    line-height: 20%;
}
</style>

</head>
<body>
    <div>
        <div class="nav" style="background-color: #404d75; width: 100%; height: 120px; padding: 10px;">
            <img src="https://storage.googleapis.com/mannhullet_static_prod/global/img/logo2.png" style="max-width:100%; max-height:100%;" alt="img" />
        </div>
        <div style="text-align: center; height: 300px">
            <h2>
                {{ contents|safe }}
            </h2>
        </div>
    </div>
    <div class="nav" style="background-color: #404d75; width: 100%; min-height: 120px">
        <div style="text-align: center; width: 100%; color: white; margin: 10px">
            <h2 style="margin: 0px">Mannhullet</h2> <br style="line-height: 50%;"/>
            <p style="margin: 0px">Linjeforeningen for marin teknikk på NTNU</p>
        </div>
    </div>
</body>