{% extends 'base.html' %} {% load static %} {% block title %}Hjem{% endblock %}
{% block app_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}"/>
<link rel="stylesheet" href="{% static 'news/css/news.css' %}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container-fluid hp_bg" style="background-image: url({% static 'global/img/17mai-2024-2.JPG' %});">
  <span class="scroll-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg>
  </span>
</div>




{# navigation links#}
    <div class="container">
      <div class="row">
          {% if events_list %}
          <div class="col-md-6">
                <h3 class="text-center mb-5 mt-3">Kommende arrangementer</h3>
                    {% for event in events_list%}
                      {% include 'events/comingevents.html' %}
                    {% endfor %}
                    {% if events_list|length == 5%}
                    <a class="job-ad" href="{% url 'events:calendar' %}">
                      <div class="card my-4">
                      <div class="card-header bg-white">
                        <div class="card-title">
                          <h4 class="text-center">Se flere arrangementer her!
                          </h4>
                        </div>
                      </div>
                    </div>
                    </a>
                    {% endif %}
          </div>
          {% endif %}

          {% if jobads_list %}
            <div class="col-md-6">
                  <h3 class="text-center mb-5 mt-3"> Stillingsannonser</h3>
                  {% for ad in jobads_list %}
                    {% include 'bedriftskontakt/ad/ad_frontpage.html' %}
                  {% endfor %}
                  {% if jobads_list|length == 5%}
                  <a class="job-ad" href="{% url 'bedriftskontakt:ad_list' %}">
                    <div class="card my-4">
                    <div class="card-header bg-white">
                      <div class="card-title">
                        <h4 class="text-center">Se flere stillingsannonser her!
                        </h4>
                      </div>
                    </div>
                  </div>
                  </a>
                  {% endif %}
            </div>
          {% endif %}
      </div>
    </div>
{#end of navigation-links #}


<div class="container-fluid hsp-container mb-5">
  <div class="row">
    <h2 class="hsp-text">Vår hovedsamarbeidspartner</h2>
  </div>
  <div class="row">
    <div style="margin-top: 10px;">
      <img class="hsp-img" src={% static 'global/img/Design uten navn-1.png' %} style="width: auto; height: auto; max-width: 80%; max-height: 80%;">

    </div>
  </div>
</div>


{% if banners %}
  <a href="{% url 'news:all' %}">
    <div class="row">
      <h2 class="news-head">
        Nyheter
      </h2>
    </div>
  </a>

    
  </div>  
  <div class='flex-container'>
    {% if banners|length >= 3 %}
      {% with banners|slice:":3" as sliced_banners %}
        {% for banner in sliced_banners %}
          <div class='flex-item'>
            {% include 'news/news_card.html' %}
          </div>
        {% endfor %}
      {% endwith %}
    {% else %}
      {% for banner in banners %}
        <div class='flex-item'>
          {% include 'news/news_card.html' %}
        </div>
      {% endfor %}
    {% endif %}
{% endif %}



{% if user.is_authenticated %}
{% if not user.has_logged_in_this_semester %}
<!-- Modal -->
  <div class="modal fade" id="semesterCheckModal" tabindex="-1" aria-labelledby="semesterCheckModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100">Semester Informasjons Sjekk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
            <p><b>NB!</b> Dobbeltsjekk info som klassetrinn, fordypning og at mailen er riktig. Husk å endre fra @stud.ntnu.no før du er ferdig på studiet! Er du 3. klassing eller over må du sette fordypning!</p>
          <p><b>Bruker:</b> {{ user.get_full_name}}</p>
          <p><b>Epost:</b> {{ user.email}}</p>
          <p><b>Fordypning:</b> {{ user.main_specialization}}</p>
          <p><b>Allergier:</b> {{ user.allergies}}</p>
          <p><b>Klasse:</b> {{ user.get_year_display}}</p>
          <p><b>Kortnummer:</b> {{ user.card_id|default:"Ikke innskrevet" }}</p>
          <p><b>Prikker:</b> {{ user.dots }}</p>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 d-flex justify-content-end">
              <button type="button" class="modal-close-btn btn btn-default modal-logged-in-btn" data-dismiss="modal">Dette stemmer!</button>
            </div>
            <div class="col-6 d-flex justify-content-start">
              <a href="{% url 'edit_profile' %}" class="btn btn-default modal-logged-in-btn">Endre info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
  $(document).ready(function() {
    // Show the modal
    $('#semesterCheckModal').modal('show');
  });
</script>
{% endif %}
{% endblock %}