{% extends 'base.html' %}
{% load static %}

{% block title %}Varslingsskjema{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1 class="row justify-content-center">Varslingsskjema</h1>
  <hr class="py-2">
    <div class="row mb-3">
      <div class="col-md-12 col-sm-12 mr-4">
        <p>
            I løpet av de siste ti årene har det vært en generell økning i psykiske plager blant studenter og mange opplever å føle seg ensomme. Dette er noe linjeforeningen tar på alvor, samtidig som vi ønsker at alle medlemmer skal føle seg trygge. Da er det viktig å si ifra når ting ikke er som det skal være.<br><br>
            Meldeskjema er Mannhullets nettverk for å ivareta sine medlemmer, og her finnes det absolutt ingen begrensninger for hva du kan kontakte oss om. Det kan dreie seg om psykiske problemer og bekymringer du har for deg selv, eller ufine hendelser og bekymringer du har for andre. ITV-ene er underlagt taushetsplikt og er åpne for å kunne ha en fortrolig samtale om det er ønskelig at vi skal følge opp avviket videre. Du kan selvfølgelig også velge å være anonym. Ingen saker er for små, og vi ønsker å støtte deg i å finne den hjelpen du trenger.<br><br>
            Det er kun ITV-ene som har tilgang til meldeskjema. ITV-ene har signert taushetsplikt, så saken vil kun bli mellom deg og ITV-ene. Du kan rapportere inn uønskede hendelser, som for eksempel seksuell trakassering, mobbing eller ugrei stemning mellom medlemmer. ITV-ene er her for deg, og husk at ingen sak er for liten eller ingen sak er for stor! Mannhullet ønsker at alle skal føle seg trygge på våre arrangement. <br><br>



        </p>
             

          <b>Meld inn saker <a href="https://forms.office.com/e/YAChMw9pVE" target="_blank"> <u>her</u></a>.</b><br><br>

        <p>Dersom det er saker som ikke angår Mannhullet, men NTNU generelt kan det varsles til NTNU's varslingsside <a href="https://i.ntnu.no/sifra"  traget ="_blank"> <u>sifra</u></a></p>
          
    </div>
  </div>
{% endblock %}
