.content {
    margin: -1rem auto 0 auto;
    padding: 0;
    position: relative;
}

.carousel-item {
    height: 80vh;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.10);
    position: relative;
}


.carousel-caption {
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
}


.hp_bg{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
}

/* Scroll icon */
.scroll-icon{
    position: relative;
    color: white;
    top: 85vh;
    width: 1.5rem;
    left: calc(50% - 1.5rem);
}


a.job-ad {
  text-decoration: none;
  color: inherit;
}


.hsp-text {
    margin: auto;
    padding-top: 1em;
}


.hsp-img {
    margin: auto;
    height: 20vh;
}

.asp-img{
  margin: auto;
  height: 15vh;
}

.hsp-container {
    background-color: white;
    text-align: center;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-logged-in-btn {
    width: 15em;
}

@media only screen and (max-width: 450px) {
  .modal-logged-in-btn {
    width: 5em;
  }
}

.modal-close-btn {
  background-color: #404d75;
  color: white;
}

.modal-close-btn:hover{
  color:white!important;
}
