{% extends 'nths/nths-base.html' %} {% load static %} {% block title %}About{% endblock %}

{% block content %}
         <div class = "container">
                     <div class = "row">
                        <div class = "col-lg-12">
                            <div class = "panel panel-default">
                                <div class = "panel-body">
                                    <img class = "featuredImg"  src={% static 'nths/img/NTHS-countries3.png'%} width = "100%">
                                    <p>Since 1948, the annual Nordic Technical Universities Shipbuilders' Congress, NTHS, has been arranged for marine technology students from the five Nordic technical universities:
                                        <ul>
                                            <li>Aalto University of Science and Technology - Helsinki, Finland</li>
                                            <li>Chalmers University of Technology - Gothenburg, Sweden</li>
                                            <li>Royal Institute of Technology - Stockholm, Sweden</li>
                                            <li>The Norwegian University of Science and Technology - Trondheim, Norway</li>
                                            <li>The Engineering College of Copenhagen - Copenhagen, Denmark</li>
                                        </ul>
Ten students from each university, i.e. fifty students in total, are meeting to visit maritime industry in Sweden. These are students at the start of their careers as naval architects, eager to learn more about the industry and to gain invaluable social networks.</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="page-header">
                  <h3> The Norwegian Delegation </h3>
                </div>
                <hr>
         </div>
                <div class="card-container mx-auto">
                    <div class="card-group">
                      {% for member in nthsmember_list%}
                        <div class="col mt-4" style="max-width: 240px;">
                          <div class="card shadow text-center w-200 h-100">
                            <img class="card-img-top" {% if not member.image %} src="{% static 'img/business_alt.png' %}" {% else %}
                              src="{{ member.image.url }}" {% endif %} onerror="imgError(this)" alt="{{member.first_name}} Bilde">
                            <div class="card-body">
                              <h5 class="card-title"> {{member.first_name}} {{member.surname}} </h5>
                              <h6 class="card-subtitle font-weight-light font-italic mb-1">{{member.year}}. klasse</h6>
                              <p class="card-text"> Mail: <a style="font-size: 0.9em;" href="mailto:{{member.mail}}"> <br> {{member.mail}} </a></p>
                              <p class="card-text"> Phonenumber: <br> <a style="font-size: 0.9em;" href="mailto:{{member.mail}}">{{member.phonenumber}}</a></p>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
                <script type="text/javascript">
                  function imgError(image) {
                    image.onerror = '';
                    image.src = "{% static 'about/img/buisness_alt.png' %}";
                    return true;
                  }
                </script>
{% endblock %}
