{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Nordens Tekniska Högskolors Skeppsbyggare | Mannhullet</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={% static "nths/css/bootstrap.min.css" %} rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href={% static "global/favicon/favicon-16x16.png" %}>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">
        <link href = {% static "nths/css/nths-styles.css" %} rel = "stylesheet">
        <link href = {% static "nths/css/NTHS.css" %} rel = "stylesheet">
        {% block app_css %}{% endblock %}
    </head>
    <body>
        {% block additional_styles %}
        {% endblock %}
        <header>
            <nav class=" navbar navbar-expand-md navbar-dark shadow-lg">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                    <img src={% static "global/img/logo_blå.png" %} alt="Logo" style="width:75px;">
                  </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  {# navigation links#}
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link"  style="color: black;" href={% url 'nths:nths-home' %}>About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  style="color: black;" href={% url 'nths:nths-program' %}>Program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  style="color: black;" href={% url 'nths:nths-partners' %}>Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  style="color: black;" href={% url 'nths:nths-statutes' %}>Statutes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  style="color: black;" href={% url 'nths:nths-reports' %}>Reports</a>
                    </li>
                    <li class="nav-item dropdown mr-auto">
                      <a class="nav-link dropdown-toggle"  style="color: black;" href="#" id="navbardrop" data-toggle="dropdown">
                        Other sites
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href= "http://www.nths.se" target="_blank"> NTHS.se </a>
                        <a class="dropdown-item" href= "http://www.aalto.fi/en/" target="_blank"> Aalto University of Science and Technology </a>
                        <a class="dropdown-item" href= "http://www.chalmers.se/" target="_blank">Chalmers University of Technology </a>
                        <a class="dropdown-item" href= "http://www.kth.se/en" target="_blank"> Royal Institute of Technology </a>
                        <a class="dropdown-item" href= "http://www.ntnu.edu/" target="_blank"> The Norwegian University of Science and Technology </a>
                        <a class="dropdown-item" href= "http://www.dtu.dk/" target="_blank"> Technical University of Denmark </a>
                     </div>
                 </li>
                </ul>
                  {#end of navigation-links#}
             </div>
            </nav>
        </header>
    <main>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </main>
        <script src={% static "global/js/jquery-3.3.1.min.js" %}></script>
        <script src={% static "global/js/popper.min.js"%}></script>
        <script src={% static "global/js/bootstrap.min.js" %}></script>
        <script src = {% static "nths/js/jqBootstrapValidation.js" %}></script>
        <script src = {% static "nths/js/contact_me.js" %}></script>

    </body>
