{% extends 'nths/nths-base.html' %}
{% load static %}

{% block title %} Program {% endblock %}


{% block content %}

{% for program in programs %}
  <div class="container mt-2 centered-content">
    <div>
      <h3 style="text-align: center;"> {{program.year|safe}} </h3>
    </div>
    <div>
      {{program.program|safe}}
    </div>
  </div>
{% endfor %}
{% endblock %}
