{% extends 'nths/nths-base.html' %}
{% load static %}

{% block title %} Rapports {% endblock %}


{% block content %}


<div class="container bcontent">
        <h2 class="mt-2" style="text-align: center;"> NTHS Rapports </h2>
        <hr />
        {% for rapport in rapport_list %}
          <div class="card" style="width: 1000px;">
              <div class="row no-gutters">
                  <div class="col-sm-5">
                      <img class="card-img report-img" {% if not rapport.country %} src="{% static 'nths/img/NTHSlogo.png' %}" {% else %}
                        src="{{ rapport.country.url }}" {% endif %} onerror="imgError(this)" alt="{{rapport.title}} Bilde">
                  </div>
                  <div class="col-sm-7">
                      <div class="card-body">
                          <h5 class="card-title-top">{{rapport.title}}</h5>
                          <p class="card-text">{{rapport.description|safe}}</p>
                          <a class="btn btn-outline-secondary btn-lg" href="{{rapport.file.url}} " target="_blank">Read here!</a>
                          <img class="card-img nths-logo float-sm-right" src="{% static 'nths/img/NTHSlogo.png' %}">
                      </div>
                  </div>
              </div>
          </div>
          <hr />
        {% endfor %}
</div>

{% endblock %}
