{% extends 'nths/nths-base.html' %}
{% load static %} 
{% block title %}Partners{% endblock %}

{% block content %}


<div class="sponsors">
    <h3 class="sponsors_heading mb-3">Our partners</h3>
    <div class="container-fluid">
            {% if sponsors_hsp %}
                <h3 class="sponsors_heading ">Hovedsamarbeidspartner</h3>
                <div class="row-spons">
                {% for hsp in sponsors_hsp %}
                    <li class="list-item-tier-3">
                        <div class="list-content">
                            <a href="{% if 'http://' not in hsp.url and 'https://' not in hsp.url %}http://{% endif %}{{ hsp.url }}" target="_blank">
                                <img class="sponsors-3" src= "{{ hsp.logo.url }}" alt="">
                            </a>
                        </div>
                    </li>
                {% endfor %}
                </div>
            {% endif %}

            {% if sponsors_sp %}
                <h3 class="sponsors_heading">Samarbeidspartnere</h3>
                <div class="row-spons">
                {% for sp in sponsors_sp %}
                    <li class="list-item-tier-2">
                        <div class="list-content text-center">
                            <a href="{% if 'http://' not in sp.url and 'https://' not in sp.url %}http://{% endif %}{{ sp.url }}" target="_blank">
                                <img class="sponsors-2" src= "{{ sp.logo.url }}" alt="">
                            </a>
                        </div>
                    </li>
                {% endfor %}
                </div>
            {% endif %}

            {% if sponsors_op %}
                <h3 class="sponsors_heading">Ordinære partnere</h3>
                <div class="row-spons">
                {% for op in sponsors_op %}
                    <li class="list-item-tier-1">
                        <div class="list-content text-center">
                            <a href="{% if 'http://' not in op.url and 'https://' not in op.url %}http://{% endif %}{{ op.url }}" target="_blank">
                                <img class="sponsors-1" src= "{{ op.logo.url }}" alt="">
                            </a>
                        </div>
                    </li>
                {% endfor %}
                </div>
            {% endif %}
    </div>
</div>
{% endblock %}