{% extends './registration_base.html' %}

{% block title %}Endre profil{% endblock %}
{% load static %}

{% block content %}
<div class="container bg-faded registration-container pb-5">
  <div class="col-md-6 mx-auto">
    <div class="card card-body mb-8">
            <h1 class="text-center">Endre profil</h1>
            {% if messages %}
                <ul class="messages danger text-center">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}><b>{{ message }}</b></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <hr class="mx-0">
            <form method="post" class="text-center">
                {% csrf_token %}
                {% for field in change_form %}
                    {% if field.name != 'password' %}
                        <div class="row">
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                        </div>
                        <p style="font-size: 10px; text-align: left;">{{ field.help_text|linebreaksbr }}</p>
                        <ul class="form-errors">{{ field.errors }}</ul>
                    {% endif %}
                {% endfor %}
                <button name="edit_user" class="btn btn-default w-25" type="submit">Lagre</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
