{% extends 'base.html' %}
{% load static %}
{% block title %}Lag Ny Fiktiv Bruker{% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/css/users.css" %}>{% endblock %}

{% block content %}
<div class="centered-form p-lg-5 p-md-5 p-sm-5">
    <div class="form-box">
        <h1 class="text-center">Lag Ny Fiktiv Bruker</h1>
        <form method="post">
            {% csrf_token %}
            <!-- Render form fields with errors -->
            <div class="form-group">
                {{ form.first_name.label_tag }} {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="error-message">
                        {{ form.first_name.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label_tag }} {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="error-message">
                        {{ form.last_name.errors.as_text }}
                    </div>
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.rank.label_tag }} {{ form.rank }}
                {% if form.rank.errors %}
                    <div class="error-message">
                        {{ form.rank.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
