{% extends 'users/registration_base.html' %}

{% block title %}Logg inn{% endblock %}

{% block content %}
<div class="container bg-faded registration-container">
  <div class="col-10 mx-auto pb-5">
    <div class="card card-body mb-8">
      <h1 class="text-center">Logg inn</h1>
      <center>
        {% if form.non_field_errors %}
          <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
          </ul>
        {% endif %}
      <form method="post">
        {% csrf_token %}

        <input class="form-control registration-input" type="text" placeholder="Brukernavn" name="username">


        <input class="form-control registration-input" type="password" placeholder="Passord" name="password">

        <button class="btn btn-default mb-1" type="submit">Logg inn</button>
        | <a href= {% url 'password_reset' %} class="btn-color-dark"> Glemt passord?</a> |
        <a href= {% url 'signup' %} class="btn-color-dark"> Registrer ny bruker</a> |
      </form>
    </div>
  </div>
</div>

{% endblock %}
