{% extends 'base.html' %}

{% block title %}Passordet er tilbakestilt{% endblock %}

{% block content %}
<div class="container bg-faded">
  <div class="col-10 mx-auto mt-5">
    <div class="card card-body mb-2">
<!-- The backend for these pages are handled by Django -->

      <h1 class="text-center">Passordet er endret</h1>
      <p class="text-center">Klikk <a href="/">her</a> for å gå tilbake til hovedsiden.</p>
    </div>
  </div>
</div>
{% endblock %}
