{% extends 'base.html' %}

{% block title %}Mail sendt{% endblock %}

{% block content %}
<div class="container bg-faded">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8">
      <center>
      {% csrf_token %}
      <h1>Sjekk innboksen din!</h1>
      <p>Vi har sendt deg en mail med instruksjoner for å tilbakestille passordet ditt.</p>
      <p>Du mottar snart en mail. Det kan hende du må sjekke spam-boksen.</p>
    </div>
  </div>
</div>
{% endblock %}
