{% extends 'users/registration_base.html' %}

{% block title %}Glemt passord{% endblock %}

{% block content %}
<div class="container bg-faded registration-container">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8">
      <h1 class="text-center"> Har du glemt passordet ditt? </h1>
      <hr class="mx-0">
      <p class="text-center">Skriv inn e-posten din under, så sender vi deg videre instruksjoner for å tilbakestille passordet</p>
      <center>
      <form method="POST">
        {% csrf_token %}
        <input class="form-control registration-input w-50" type="text" placeholder="Email" name="email">
        <button class="btn btn-default registration-input w-50" type="submit" value="Tilbakestill passord">
        Tilbakestill passord
        </button>
      </form>
    </div>
</div>
{% endblock %}
