{% extends 'base.html' %}

{% block title %}Tilbakestill passord{% endblock %}

{% block content %}

<div class="container bg-faded registration-container">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8">
      <!-- The backend for these pages are handled by Django -->
      <h1 class='text-center'>Velg nytt passord</h1>
      <hr class="mx-0">
      <center>
      <form method="POST">
      <!-- TODO: Add Norwegian errors/help messages -->
      {% csrf_token %}
      <div class="fieldWrapper">
        {{ form.new_password1.errors }}
        <p> Nytt passord: </p>
        <p>{{ form.new_password1}}</p>
      </div>
      <div class="fieldWrapper">
        <p> Gjenta passordet: </p>
        {{ form.new_password2.errors }}
        <p>{{ form.new_password2}}</p>
      </div>
      <input type="submit" value="Tilbakestill passord">
    </form>
    </div>
  </div>
</div>
{% endblock %}
