{% extends 'base.html' %}

{% block title %}Passordet er tilbakestilt{% endblock %}

{% block content %}
<div class="container bg-faded registration-container">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8">
<!-- The backend for these pages are handled by Django -->

      <h1 class="text-center">Passordet er tilbakestilt</h1>
      <hr class="mx-0">
      <p class="text-center">Du har satt et nytt passord. Du kan nå <a href="{% url 'login' %}">logge inn her</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
