{% extends './registration_base.html' %}

{% block title %}Endre profil{% endblock %}
{% load static %}

{% block content %}
  <div class="col-6 mx-auto mt-5">
    <div class="card card-body">
      <h2 class="text-center"> Endre passord </h2>
      <form class="mx-auto" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group form-inline">
            <label for="exampleInputEmail1"><strong>{{field.label_tag}}</strong></label>
            <div class="col-6"> {{ field }} </div>
          </div>
          <ul class="form-errors"> {{ field.errors }}</ul>
  
        {% endfor %}


        <div class="text-center">
          <button class="btn btn-default w-25" type="submit"> Endre </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
