{% extends 'base.html' %}
{% load static %}
{% block title %}Oppdater Rang{% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/css/users.css" %}>{% endblock %}

{% block content %}
<div class="centered-form p-lg-5 p-md-5 p-sm-5">
    <div class="form-box">
        <h1 class="text-center">Oppdater Rang</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-default" type="submit">Lagre</button>
        </form>
    </div>
</div>

{% endblock %}