{% extends './registration_base.html' %}
{% load static %}

{% block title %}Registrer bruker{% endblock %}

{% block content %}
<div class="container bg-faded registration-container pb-5">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8">
        <h1>Nytt medlem?</h1>
        <hr class="mx-0">
        <center>
        <form class="form" method="post">
          {% csrf_token %}
          <div class="fieldWrapper">
            <div class="row justify-content-center">
              <div class="col-sm-offset-1 col-sm-6">
                <ul class="form-errors"> {{ form.first_name.errors }} </ul>
                <p>{{ form.first_name }}</p>
              </div>
              <div class="col-sm-offset-1 col-sm-6">
                <ul class="form-errors"> {{ form.last_name.errors }} </ul>
                <p>{{ form.last_name}}</p>
              </div>
            </div>
          </div>
          <div class="fieldWrapper">
            <ul class="form-errors"> {{ form.username.errors }} </ul>
            <p>Brukernavn brukes til å logge inn. Velg et du husker, gjerne stud-brukernavnet ditt.</p>
            <p>{{ form.username}}</p>
          </div>
          <div class="fieldWrapper">
            <ul class="form-errors"> {{ form.email.errors }} </ul>
            <p>{{ form.email}}</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-offset-1 col-sm-6">
              <div class="fieldWrapper">
                <ul class="form-errors"> {{ form.year.errors }} </ul>
                <h3>{{ form.year.label_tag }}</h3>
                <p>{{ form.year}}</p>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-6">
              <div class="fieldWrapper">
                <ul class="form-errors"> {{ form.graduation_year.errors }} </ul>
                <h3>{{ form.enrollment_year.label_tag }}</h3>
                <p>{{ form.enrollment_year}}</p>
              </div>
            </div>
          </div>
          <div class="fieldWrapper">
            <ul class="form-errors"> {{form.allergies.errors}} </ul>
            <h3> {{form.allergies.label_tag}} </h3>
            <p> {{form.allergies}} </p>
          </div>
          <div class="fieldWrapper">
            <h3> {{form.card_id.label_tag}} </h3>
            <ul class="form-errors"> {{form.card_id}} </ul>
            <p align=left style="font-size: 10px"> {{form.card_id.help_text}} </p>
            <ul class="form-errors"> {{form.card_id.errors}} </ul>
            <img class="img-fluid w-50 mx-auto"src="{% static 'users/img/korttype_nytt.png' %}">
          </div>
          <div class="col-sm-6">
            {% for checkbox in form.language %}
              {{checkbox}}<br>
            {% endfor %}
          </div>
          <div class="fieldWrapper">
            <h4>Passord</h4>
            <ul class="form-errors"> {{ form.password1.errors }}</ul>
            <p>{{ form.password1 }}<p>
          </div>
          <div class="fieldWrapper">
            <h4>Gjenta passord</h4>
            <ul class="form-errors"> {{ form.password2.errors }}</ul>
            <p>{{ form.password2}}<p>
          </div>
          <div class="fieldWrapper">
          <ul class="form-errors"> {{ form.accepted_terms.errors }} </ul>
            Jeg samtykker til <a href="{% static 'documents/brukervilkar.pdf' %}" target="_blank"><strong id="link" >Mannhullets vilkår for bruk</strong></a>:
            {{ form.accepted_terms}}
          </div>
          <br>
          <button class="btn btn-default w-50" type="submit">
            Registrer deg
          </button>
        </form>
        </center>
    </div>
  </div>
</div>
{% endblock %}
