{% extends 'users/registration_base.html' %}

{% block title %}Registrert{% endblock %}

{% block content %}
<div class="container bg-faded registration-container">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8">
      <h1 class="text-center">Du er nå registrert!</h1>
      <center>
        <p> Før du får tilgang til nettsiden, trenger du godkjenning fra en administrator.
          Dette burde skje i løpet av 24 timer, men om det skulle være noen problemer ta kontakt med <a href="mailto:web@mannhullet" class="btn-color-dark"><u>web@mannhullet.no</u></a>.
        </p>
    </div>
  </div>
</div>
{% endblock %}
