{% for user in users %}
<li class="list-group-item">
    <div class="user-info">
        <span class="first-name">{{ user.first_name }}</span>
        <span class="last-name">{{ user.last_name }}</span>
        <span class="class-year">{{ user.get_year_display }}</span>
        {% if user.is_fictive %}
        <span class="">Nei</span>
        {% else %}
        <span class="">Ja</span>
        {% endif %}
        <span class="update-rank"><a class="btn btn-default" href="{% url 'rank_update' user.id %}">Oppdater</a></span>
    </div>
</li>
{% endfor %}



