{% extends 'base.html' %}
{% load static %}
{% block title %}Brukere{% endblock %}

{% block app_css %}
<link rel="stylesheet" href={% static "/css/users.css" %}>{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <h1 class="mt-3">Brukere</h1>
    <div class="card mx-auto my-4" style="max-width: 60%;"> <!-- Adjust max-width as needed -->
      <div class="card-body">
        <p class="small-text">
          <strong>Hvordan bruke:</strong> Dette er for å holde styr på ranger for Mannhullitter som kommer tilbake på bed.pres. og blir opphøyd. Først søk opp respektiv Mannhullitt, om de har en bruker kan man oppdatere rangen deres. Om de ikke har eksisterende bruker, må man opprette en "Fiktiv" bruker for å holde styr på rangen. Normen er at man går opp en rang for bed.pres. og max rang man kan bli opphøyd til på bed.pres. er Kommandør.
        </p>
      </div>
    </div>
    <a href="{% url 'create_fictive_user' %}" class="btn btn-default user-btn">Lag Ny Fiktiv Bruker</a>

    <button id="reset-btn" class="btn btn-default user-btn">Reload</button>

    <div class="filter-section">
        <!-- Dropdown for class year filter -->
        <select class="pd-3" id="class-year-filter">
            <option value="">Sorter etter klassetrinn</option>
            {% for year_value, year_label in class_years %}
            <option value="{{ year_value }}">{{ year_label }}</option>
            {% endfor %}
        </select>
</div>

<!-- Search container -->
<div class="search-container">
  <input class="p-1 input-search" type="text" id="user-search" placeholder="Søk på navn...">
  <button id="search-btn" class="btn btn-default user-btn">Søk</button>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Separate header row outside of the ul that gets replaced -->
        <ul class="users_list">
            <li class="list-group-item header-text">
                <div class="user-info">
                    <span class="first-name">Fornavn</span>
                    <span class="last-name">Etternavn</span>
                    <span class="class-year">Klassetrinn</span>
                    <span class="class-year">Ekte Bruker</span>
                    <span class="update-rank">Oppdater Rang</span>
                </div>
            </li>
        </ul>
        <!-- ul element where the user list items will be dynamically inserted -->
        <ul class="users_list" id="user-list">
            <!-- Include the user list partial which lists the users -->
            {% include 'users/users_list_partial.html' %}
        </ul>
        <!-- Load more button container to keep the button centered -->
        <div class="load-more-container">
            {% if users.has_next %}
                <button id="load-more" class="btn btn-default user-btn" data-next-page="{{ users.next_page_number }}">Last inn flere</button>
            {% endif %}
        </div>
    </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function() {
    var classYearFilter = document.getElementById('class-year-filter');
    var userlist = document.getElementById('user-list');
    var searchBtn = document.getElementById('search-btn');
    var userSearch = document.getElementById('user-search');
    var resetBtn = document.getElementById('reset-btn');
    var loadMoreBtn = document.getElementById('load-more');

    function applyFilter(year = '', search = '') {
        var classYear = year || classYearFilter.value;
        var searchQuery = search || userSearch.value;
        var params = new URLSearchParams({
            'class_year': classYear,
            'search': searchQuery,
            'page': 1
        });

        fetch(`?${params.toString()}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            userlist.innerHTML = data.users_html;
            if(data.has_next) {
                if(loadMoreBtn){
                    loadMoreBtn.style.display = 'block';
                    loadMoreBtn.setAttribute('data-next-page', data.next_page_number);
                }
            } else {
                if(loadMoreBtn) loadMoreBtn.style.display = 'none';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    classYearFilter.addEventListener('change', function() {
        applyFilter(this.value);
    });

    searchBtn.addEventListener('click', function(e) {
        e.preventDefault(); // Prevent default form submission
        applyFilter(classYearFilter.value, userSearch.value);
    });

    userSearch.addEventListener('keypress', function(e) {
        if (e.key === 'Enter') {
            e.preventDefault(); // Prevent default form submission
            searchBtn.click();
        }
    });

    resetBtn.addEventListener('click', function() {
        window.location.reload();
    });

    if(loadMoreBtn){
        document.addEventListener('click', function(event) {
            if (event.target.id === 'load-more') {
                var currentPage = parseInt(event.target.getAttribute('data-next-page'), 10);
                var params = new URLSearchParams({
                    'class_year': classYearFilter.value,
                    'search': userSearch.value,
                    'page': currentPage
                });

                fetch(`?${params.toString()}`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    userlist.insertAdjacentHTML('beforeend', data.users_html);
                    if(data.has_next) {
                        event.target.setAttribute('data-next-page', data.next_page_number);
                    } else {
                        event.target.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });
    }
});

</script>

{% endblock %}
