{% extends 'users/registration_base.html' %}

{% block title %}Brukerinformasjon{% endblock %}

{% block content %}
<div class="container bg-faded registration-container">
  <div class="col-10 mx-auto">
    <div class="card card-body mb-8 text-center">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      {% if messages %}
          <ul class="messages danger text-center">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}><b>{{ message }}</b></li>
              {% endfor %}
          </ul>
      {% endif %}

      <div class="user-info">
        <p><strong>Epostadresse:</strong> {{ user.email }}</p>
        <p><strong>Brukernavn:</strong> {{ user.username }}</p>
        <p><strong>Trinn:</strong>
          {% if user.year > 6 %}Alumni{% else %}{{ user.year }}. klasse{% endif %}
        </p>
        <p><strong>Startår:</strong> {{ user.enrollment_year }}</p>
        <p><strong>Rang:</strong> {{ user.rank }}</p>
        <p><strong>Fordypning:</strong> {{ user.main_specialization }}</p>
        <p><strong>Allergier:</strong> {{ user.allergies }}</p>
        <p><strong>Kortnummer:</strong> {{ user.card_id|default:"Ikke innskrevet" }}</p>
        <p><strong>Prikker:</strong> {{ user.dots }}</p>
      </div>

      <div class="row justify-content-center">
        <button onclick="location.href = '{% url 'edit_profile' %}'" class="btn btn-default w-25 mt-2 mb-1 mx-2">Endre profil</button>
        <button onclick="location.href = '{% url 'password_change' %}'" class="btn btn-default w-25 mt-2 mb-1 mx-2">Endre passord</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}



