{% load static %}

{% block app_css %}<link rel="stylesheet" href={% static "/bedriftskontakt/css/bedriftskontakt.css" %}>{% endblock %}


<a class="job-ad" href="{% url 'bedriftskontakt:ad_single' pk=ad.pk %}">
  <div class="card my-4">
  <div class="card-header bg-jobadcard card-round-edge">
    <div class="card-title">
        <h4 class="text-center text-white"><a href="{% url 'bedriftskontakt:ad_single' pk=ad.pk %}"
            class="stretched-link text-light">{{ad.company}} -  {{ad.title}}</a>
      </h4>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text flew-row">
      <div class="col-sm-12 col-md-6 pull-left">
        <p>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            <path
              d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
          </svg>
          &nbsp;
          <strong> Frist: </strong>{{ad.deadline}}</p>
        <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
          &nbsp;
          <strong> Sted: </strong>{% if ad.location.count == 1%} {{ad.location.last}} {% else %}Flere {% endif %}</p>
        <p>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
          </svg>
          &nbsp;
          <strong> Stilling: </strong>{{ad.position}}</p>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 jobad-box">
        <img class=" float-right frontpage-image" {% if ad.company.company_logo %} src="{{ad.company.company_logo.url}}" {% else %} src = "" {% endif %} alt="Company logo">
      </div>
    </div>
  </div>
</div>
</a>
