{% extends '../base_BK2.html' %}
{% load static %}
{% block app_css %}<link rel="stylesheet" href={% static "/bedriftskontakt/css/bedriftskontakt.css" %}>{% endblock %}
{% block content %}
<div class="container-fluid m-0 p-0 overflow-hidden">
  <div class="row">
    <div class="col-md-3 submenu pt-3">
      <ul class="nav nav-pills nav-stacked flex-column affix-top rounded mt-5 pt-2">
        <li class="nav-item">
          <h4 class="font-weight-normal">Filter</h4>
          <hr>
        </li>
        <form method="get" class = "auto_submit_form">
          <li class="form-group">
            {{ filter.form.position.label_tag }}
            {{ filter.form.position}}
          </li>
          <li class="form-group">
            {{ filter.form.location.label_tag }}
            {{ filter.form.location}}
          </li>
        </form>
      </ul>
    </div>
    <div class="col-md-9 pt-5">
        {% block info %}
        {% endblock %}
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script type="text/javascript">
  $(function() {
  $(".auto_submit_form").change(function() {
    this.submit();
  });
});
</script>
{% endblock %}
