{% extends './ad_filter.html' %}

{% block title %} Annonser {% endblock %}
{% block info%}
{% load static %}
<!--Image top-->
<div class="ad-container">
    <h1>Stillingsannonser</h1>
    <hr class="py-2">
  </div>
</div>
<body style="background-color:#DCDCDC"></body>
<div class="container">

  {% for ad in filter.qs %}
    <div class="col-md-12">
        {% include 'bedriftskontakt/ad/ad_bk_list.html' %}
    </div>
  {% endfor %}
</div>

{% endblock %}
