{% extends '../base_bk.html' %}
{% load static %}
{% load app_filters %}
{% block info %}
{%  if request.user|has_BK_permission%}
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
      <a class="btn button-company align-center float-right" href="{% url 'bedriftskontakt:change_ad' pk=ad.pk %}">Endre</a>
    </div>
    <div class="col-md-2">
      <form action="{% url 'bedriftskontakt:ad_delete' ad.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger button-company  float-left align-center job-ad-delete-btn">
          Slett
        </button>
      </form>
    </div>
  </div>
{% endif %}
<div class="container event-detail-container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="event-block">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            {{ ad.description|safe }}
          </div>
        </div>
      </div>
      <div class="event-block">
        <div class="row">
          <div class=" col-sm-12 col-md-12">
            <h2>Om {{ad.company.company_name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-md-9">
            {{ ad.company.company_summary|safe }}
          </div>
          <div class="col-md-3 col-sm-3">
            <img class = "img-fluid" {% if ad.company.company_logo %} src="{{ ad.company.company_logo.url }}" {% else %} src = "" {% endif %} alt="{{ ad.company.company_name }} logo">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="event-block">
        <div class="row">
          <div class=" col-sm-12 col-md-12">
            <strong>{{ad.title }}</strong> <br>
            <hr class = "py-1">
            <strong>Bedrift: </strong> {{ad.company.company_name }} <br>
            <strong>Stilling: </strong> {{ad.position }} <br>
            <strong>Lokasjon: </strong> {% for obj in ad.location.all %} {{obj}}{% if obj != ad.location.all.last %},{% endif %} {% endfor %} <br>
            <strong>Søknadsfrist: </strong> {{ad.deadline}} <br>
            {% if ad.contact_person %}
              <strong>Kontaktperson: </strong> {{ad.contact_person}} <br>
            {% endif %}
            {% if ad.contact_mail %}
              <strong>Email: </strong> <a href="{{ad.contact_mail}}">{{ad.contact_mail}}</a> <br>
            {% endif %}
            {% if ad.contact_phone %}
              <strong>Telefon: </strong> {{ad.contact_phone}} <br>
            {% endif %}
            <div class="row pl-2 pr-2">
              <a href= "{{ ad.homepage }}" class = "btn btn-block" style="border: solid black;">
                  <strong>Søk Stilling</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
<script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>

<script>
  $(document).on('click', '.job-ad-delete-btn', function(){
      return confirm('Er du sikker på at du vil slette denne stillingsannonsen?');
  })
</script>

{% endblock %}
