{% extends '../base_bk.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 5px;">
  <div class="row">
    <div class="col-sm-offset-0 col-sm-8 col-md-offset-1 col-md-8">
      <h1> Endre annonse </h1>
      <p>NB! Eventuell ny lokasjon må lagres før du endrer stillingsannonsen.</p>
      <form method="post">
        {% csrf_token %}
          <h3>{{ location_form.label_tag }}</h3>
          <p>{{ location_form }}</p>
          <p>{{location_form.help_text}}</p>
          <p>{{location_form.errors}}</p>

        <button class="btn btn-default" type="submit"  name="newlocationbtn">
          Opprett lokasjon
        </button>
      </form>



      <form method="post" name="newadbtn">
        {% csrf_token %}
        {% for field in form %}
          <h3>{{ field.label_tag }}</h3>
          <p>{{ field }}</p>
          <p>{{field.help_text}}</p>
          <p>{{field.errors}}</p>
        {% endfor %}
        <button class="btn btn-default" name="newadbtn" type="submit">
          Lagre
        </button>
      </form>
      <br>
      <form action="{% url 'bedriftskontakt:ad_delete' ad.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-default  float-left align-center job-ad-delete-btn">
          Slett
        </button>
      </form>
    </div>
  </div>
</div>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
  <script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>
  <script>
    $(document).on('click', '.job-ad-delete-btn', function(){
        return confirm('Er du sikker på at du vil slette denne stillingsannonsen?');
    })
  </script>
{% endblock %}
