.event-block {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1em 1em 1em 1em;
  border-radius: 10px;
}

.event-btn {
  width: 15em;
}

.event-detail-container {
  margin-top: 0em;
  margin-bottom: 2em;
  border-radius: 10px;

}

.year-item {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-color: white;
  border-width: 4px;
  width: 32px;
  height: 32px;
  border: solid;
  padding: 2px;
  border-radius: 3px;
}

.year-alumni-item {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-color: white;
  border-width: 4px;
  width: 64px;
  height: 32px;
  border: solid;
  padding: 2px;
  border-radius: 3px;
}

.year-list {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
}

.business-presentation-list {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.business-presentation-box  {
  width: 100;
  height: 100;
  border-radius: 10px;
  border: 1px solid gray;
}


.business-presentation-123 {
  margin-bottom: 30px;
}


.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.ad-container {
  position: relative;
  text-align: left;
  color: black;
}

.ad-list {
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.ad-list-expiring {
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border-style: ridge;
  border-color:#FF4C4C;
}

.img-business-presentation-front {
  max-width: 100%;

  margin-bottom: 2em;
}

.call-list {
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border-style: ridge;
  border-color:#FF4C4C;
}

.call-list-admin {
  background-color: #FFFFFF;
}

.call-list-default {
  background-color: #FFFFFF;
  border-bottom: 2px solid grey;
}
.call-list-red {
  background-color: #ff7f7f;
  border-bottom: 2px solid grey;
}

.call-list-orange {
  background-color: #ffb347;
  border-bottom: 2px solid grey;
}

.call-list-green {
  background-color: #80FF80;
  border-bottom: 2px solid grey;
}

.call-list-yellow {
  background-color: #ffffb3;
  border-bottom: 2px solid grey;
}

.call-list-blue {
  background-color: #add8e6;
  border-bottom: 2px solid grey;
}
.call-list-purple {
  background-color: #b19cd9;
  border-bottom: 2px solid grey;
}
.call-list-btn {
  display: inline-block;
  width: 100%;
  color: black;
}

.call-list-text-right {
  right: 10px;
}

.call-list-top {
  text-align: left;
  display: inline-block;
  width: 100%;
}
a.no-underline {
  text-decoration: none;
}

a.job-ad {
  text-decoration: none;
  color: inherit;
}

.btn-semester {
  float: right;
  border: 1px solid green;
}

.grey-color {
  background-color: #f2f2f2;
}

ul.ba {
    list-style-type: none;
}

.blue-company {
  background-color: #bacce0;
  border-radius: 0px;
  padding: 20px;
  box-shadow: inset 0 0 20px #a5b6c9;
}
.button-company{
  background-color: #93a9c2;
  color: white;
}
.button-company:hover {
  background-color: #7690ad
}


.call-list-button{
  background: #bacce0;
  color: black;
  border: 1px solid grey;
  padding: 6px 12px;
  border-radius: 2px;
  width: 200px;
  align: center;
}


.call-list-button-active{
  background: #bacce0;
  color: black;
  border: 3px solid black;
  padding: 6px 12px;
  border-radius: 2px;
  width: 200px;
  align: center;
}

.frontpage-image{
  max-width: 100%;
  max-height: 120px;
  position: right;
}

.jobad-box{
  width: 204px;
  float: right;
}

.sponsor_div{
  width: 100px;
  height: 50px;
  background-color: red;
}

#partner_overskrift{
  margin-top: 100px;

  text-align: center;
}

.partner_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.liu_card{
  margin: auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.bg-jobadcard{
  background-color: #0b2165;
}

.card-round-edge{
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
