{% extends './event_base.html' %}
{% load static %}

{% load static %}

{% block title %}Endre arrangement{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-6">
      <h3> Endre arrangement </h3>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <h3>{{ field.label_tag }}</h3>
          <p class="evnt-helptext">{{field.help_text}}</p>
          <p>{{ field }}</p>
          <div class="form-errors">
            <p>{{field.errors}}</p>
          </div>
        {% endfor %}

        <button class="btn btn-default event-btn" name="submit">
        Lagre</button>
      </form>

      <form action="{% url 'events:delete_event' event.pk %}" method="post">
        {% csrf_token %}
         <div class="modal fade" id="deleteEventModal" tabindex="-1" role="dialog" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEventModalLabel">Slett arrangement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Sikker på at du vil slette arrangementet {{event.title}}?
              </div>
              <div class="modal-footer">
                <div class="col-sm-6">
                  <button class="modal-close-btn btn btn-default modal-event-btn">Lukk</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-danger modal-event-btn">Slett arrangement</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-danger event-btn event-delete-btn" data-toggle="modal" data-target="#deleteEventModal">
          Slett arrangement
        </button>
      </form>

    </div>
    <div class="col-sm-10 col-md-6">
      <div class="row">
        <div class="col-sm-6 col-md-4" style="margin-bottom: 15px;">
          <form action="{% url 'events:export_attendees' event.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-default">
              Eksporter deltagere
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h3>
            Deltagere
          </h3>
          {% for attendance in attendees %}
            {% if not attendance.has_attended %}
                <div class="row">
                  <div class="col-sm-10 col-md-8">
                    <p>{{ attendance.attendee.first_name }} {{attendance.attendee.last_name}}</p>
                  </div>
                  <div class="col-sm-2 col-md-4">
                    {% if not event_finished %}
                    <form action="{% url 'events:register_attendance' event.pk attendance.attendee.email %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-default">
                        Reg
                      </button>
                    </form>
                    {% elif not attendance.recieved_dot %}
                      <form action="{% url 'events:register_dots' event.pk attendance.attendee.email %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-default">
                          Prikk
                        </button>
                      </form>
                    {% endif %}
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-6">
          <h3>
            Møtt opp
          </h3>
          {% for attendance in attendees %}
            {% if attendance.has_attended %}
              <div class="row">
                <div class="col-sm-10 col-md-8">
                  <p>{{ attendance.attendee.first_name }} {{attendance.attendee.last_name}}</p>
                </div>
                {% if not event_finished %}
                <form action="{% url 'events:remove_attendance' event.pk attendance.attendee.email %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-default">
                    UnReg
                  </button>
                </form>
              </div>
              {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
<script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src={% static "/admin/js/core.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/admin/RelatedObjectLookups.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/calendar.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/admin/DateTimeShortcuts.js" %}></script>
<script type="text/javascript" src={% static "admin/js/vendor/jquery/jquery.js" %}></script>
<script type="text/javascript" src={% static "admin/js/jquery.init.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "admin/css/widgets.css" %} />

{% endblock %}
