{% extends './event_base.html' %}
{% load static %}

{% load static %}

{% block title %}Opprett arrangement{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-offset-0 col-sm-8 col-md-offset-1 col-md-6">
      <div class="overskrift">
        <h1> Opprett arrangement </h1>
      </div>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <h3>{{ field.label_tag }}</h3>
          <p class="evnt-helptext">{{field.help_text}}</p>
          <p>{{ field }}</p>
          <div class="form-errors">
            <p>{{field.errors}}</p>
          </div>
        {% endfor %}

        <button class="btn btn-default event-btn" name="submit">
          Lagre
        </button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
<script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src={% static "/admin/js/core.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/admin/RelatedObjectLookups.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/calendar.js" %}></script>
<script type="text/javascript" src={% static "/admin/js/admin/DateTimeShortcuts.js" %}></script>
<script type="text/javascript" src={% static "admin/js/vendor/jquery/jquery.js" %}></script>
<script type="text/javascript" src={% static "admin/js/jquery.init.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "admin/css/widgets.css" %} />
{% endblock %}
