{% extends './event_base.html' %}
{% load static %}
{% load template_tags %}
{% block title %}Kalender{% endblock %}

{% block additional_styles %}
  <style>
    body {
      background-color: #FFFFFF;
    }
  </style>
{% endblock %}

{% block content %}
<div class="wrap" style="margin-left: -1em">
  <div class="content">
    <div class="container">
        <div class="calendar clearfix">
          <div class="row calender-top-section">
            <div class="col-1 justify-content-center">
              <a href={% url 'events:calendar_month' year=prev_year month=prev_month %} class="month-arrow-left">
                <i class="fa fa-angle-double-left arrow-left"></i>
              </a>
            </div>
            <div id="calendar-title" class="col-10 calendar-title">
              Arrangementer for {{month}}
            </div>
            <div class="col-1 justify-content-center">
              <a href={% url 'events:calendar_month' year=next_year month=next_month %} class="month-arrow-right">
                <i class="fa fa-angle-double-right arrow-right"></i></a>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                <div class="pull-left toggle-calendar">
                  {% if request.user|has_event_permisson %}
                    <a href="{% url 'events:create_event'%}" class="btn-color-dark"> <i class="fa fa-plus mr-2"></i>Nytt arrangement</a>
                  {% endif %}
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-left toggle-calendar">
                  <a><i class='fa fa-circle' style='color: #404d75'></i> Mannhullet</a>
              </div>
              <div class="pull-left toggle-calendar">
                    <a><i class='fa fa-circle' style='color: #6A80C5'></i> Bedriftpresentasjon</a>
              </div>
              {% if special_events.RUKA %}
                 <div class="pull-left toggle-calendar">
                      <a><i class='fa fa-circle' style='color: #bc1423'></i> RUKA</a>
                 </div>
              {% endif %}

               {% if special_events.Bedriftsdagen %}
                 <div class="pull-left toggle-calendar">
                      <a><i class='fa fa-circle' style='color: #00a7e6'></i> Bedriftsdagen</a>
                 </div>
              {% endif %}

               {% if special_events.Jubileum %}
                 <div class="pull-left toggle-calendar">
                      <a><i class='fa fa-circle' style='color: #C9AE5D'></i> Jubileum</a>
                 </div>
              {% endif %}

              <div class="pull-right toggle-calendar">
                <a  href="{% url 'events:events' %}" class="btn-color-dark"><i class="fa fa-list"></i></a>
              </div>
            </div>
          </div>
          <div>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-bordered table-hover table-calendar">
                <thead>
                  <tr>
                    <th id="week">Uke</th>
                    <th class="weekday">Mandag</th>
                    <th class="weekday">Tirsdag</th>
                    <th class="weekday">Onsdag</th>
                    <th class="weekday">Torsdag</th>
                    <th class="weekday">Fredag</th>
                    <th class="weekday">Lørdag</th>
                    <th class="weekday">Søndag</th>
                  </tr>
                </thead>
                {{calendar}}
              </table>
           </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    console.log("{% url 'events:events' %}")
    window.location.replace("{% url 'events:events' %}")

    //month = "{{month}}"
    //document.getElementById('calendar-title').innerHTML = month.charAt(0).toUpperCase() + month.slice(1);
  }
</script>
{% endblock %}
