{% extends './event_base.html' %}
{% load static %}
{% load template_tags %}
{% block title %}Arrangementer{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="wrap">
  <div class="content">
    <div class="container overflow-hidden">
      {% if events_list %}
      <div class="row">
        <div class="col-md-12 clearfix">
          <h3 class="text-center">Kommende arrangementer</h3>
          <div class="pull-left">
            {%  if request.user|has_event_permisson%}
            <a href="{% url 'events:create_event'%}" class="btn-color-dark"> <i class="fa fa-plus mr-2"></i>Nytt
              arrangement</a>
            {% endif %}
          </div>
          <div class="d-none d-md-block pull-right">
            <a href="{% url 'events:calendar' %}" class="btn-color-dark"> <i
                class="fa fa-calendar mr-2"></i>Kalender</a>
          </div>
          <div class="col-sm-12 col-md-9 mt-5 mx-auto">
            {% for event in events_list %}
            <div class="card my-4">
              <div class="card-header bg-white my-1">
                <div class="card-title">
                  <h4 class="text-center"><a href="{% url 'events:event_details' pk=event.pk %}"
                      class="stretched-link">{{event.title}}</a>
                  </h4>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text flew-row">
                  <div class="col-sm-12 col-md-6 pull-left">
                    <p>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        <path
                          d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                      </svg>
                      &nbsp;
                      <strong> Dato: </strong>{{event.start_time|date:"l j. b H:i"|capfirst }}</p>
                    <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      </svg>
                      &nbsp;
                      <strong> Sted: </strong>{{event.location}}</p>
                    <p>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                      </svg>
                      &nbsp;
                      <strong> Undergruppe: </strong>{{event.organizer}}</p>
                  </div>
                  <div class="col-sm-12 col-md-6 pull-right">
                    {% if event.registration %}
                    <p>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-history" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                        <path fill-rule="evenodd"
                          d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                      </svg>
                      &nbsp;
                      <strong> Påmelding starter: </strong>{{event.registration_starts}}</p>
                    <p>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                      </svg>
                      &nbsp;
                      <strong> Påmelding slutter: </strong>{{event.registration_ends}}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="pull-left">
            {% if request.user|has_event_permisson %}
            <a href="{% url 'events:create_event'%}" class="btn-color-dark"> <i class="fa fa-plus mr-2"></i>Nytt
              arrangement</a>
            {% endif %}
          </div>
          <div class="d-none d-md-block pull-right">
            <a href="{% url 'events:calendar' %}" class="btn-color-dark"> <i
                class="fa fa-calendar mr-2"></i>Kalender</a>
          </div>
          <h3 class="text-center">Ingen arrangementer å vise akkurat nå.</h3>
          {% endif %}


        </div>
      </div>


    </div>
  </div>
</div>



{% endblock %}