{% extends './event_base.html' %}
{% load static %}
{% load template_tags %}
{% block title %}{{ event.title }}{% endblock %}

{% block content %}

<div class="container event-detail-container">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <div class="event-block">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="event-detail-title">{{event.title}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ event.description|safe }}
          </div>
        </div>
        {% if event.company %}
          <div class="row">
            <div class="col-sm-12">
            <h2>Om {{event.company.company_name}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              {{ event.company.company_summary|safe }}
            </div>
          </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="row">
          {% if event.registration %}
          <div class="col-sm-6">
            <h3>Påmeldte</h3>
            {# Prints out list of attendees #}
            {% for attendee in attendees %}
            {{attendee.get_full_name}} <br>
            {% endfor %}
          </div>
          {% endif %}
          {% if waiting %}
          <div class="col-sm-6">
            <h3>Venteliste</h3>
            {# Prints out waiting list #}
            {% for attendee in waiting %}
            {{attendee.get_full_name}} <br>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-4 col-sm-12">

      <div class="row">
        <div class="col-sm-7" style="margin: auto;">
          {%  if request.user|has_event_permisson%}
          <a href="{% url 'events:change_event' event.pk %}" class="btn-color-dark">Endre arrangement</a>
          {% endif %}
        </div>
        <div class="col-sm-5" style="padding-right: 0px;">
          <div class="pull-right toggle-calendar position-relative">
            <a href="{% url 'events:events' %}" id="list-btn" class="btn-color-dark position-relative"><i
                class="fa fa-list"></i></a>
            <a href="{% url 'events:calendar' %}" class="btn-color-dark"> <i class="fa fa-calendar mr-2"></i></a>
          </div>
        </div>
      </div>

      <div class="event-block">
        {% if event.company %}
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <img class = "img-fluid" src="{{ event.company.company_logo.url }}" alt="{{ event.company.company_name }} logo">
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class=" col-sm-12 col-md-12">
            <strong>Starter: </strong> {{event.start_time }} <br>
            <strong>Slutter: </strong> {{event.end_time }} <br>
            <strong>Sted: </strong> {{event.location}} <br>
            <strong>Arrangør: </strong> {{event.organizer}} <br>
            {% if event.registration %}
            <br>
            <strong class = lilheader>Påmelding</strong> <br>
            <strong>Stenger: </strong> {{event.registration_ends}} <br>
            <strong>Antall påmeldte/antall plasser:</strong> {{attendees|length}}/{{event.max_attendees}} <br>
            {% endif %}
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-12">
            <div>
              <strong>Dette arrangmentet er åpent for:</strong>
              <div class="year-list">
                {% for y in event.invited_years %}
                {% if y == '9' %}
                <strong class="year-item">Alumni</strong>
                {% else %}
                <strong class="year-item">{{y}}</strong>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            {% if user in attendees %}
            <p><em>Du har plass på dette arrangementet.</em></p>
            {% elif user in waiting %}
            <p><em>Du er på venteliste.</em></p>
            {% endif %}
          </div>
        </div>

        <div class="row" style="margin: auto">
          <div class="col-sm-12 col-md-12 justify-content-center" style="text-align: center;">
            {% if user.is_authenticated %}
                {% if open %}
                      {% if event.business_presentation and user.dots >= 3 %}
                          <p>
                            Du har blitt utestengt fra Mannhullets arrangementer grunnet for mange prikker
                          </p>
                          <br>
                          <p>
                            Dersom du mener dette er feil kan du ta kontakt med bedriftskontakt@marin.ntnu.no
                          </p>
                      {% elif user.year|stringformat:"s" in event.invited_years %}
                        {% if user in attendees or user in waiting %}
                            <form method='POST'>
                            {% csrf_token %}
                            <!-- Modal for attending users-->
                              <div class="modal fade" id="attendingusersModal" tabindex="-1" role="dialog" aria-labelledby="attendingusersModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="attendingusersModalLabel">Meld deg av {{event.title}}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      {% if user in attendees %}
                                        Sikker på at du vil melde deg av arrangementet {{event.title}}?
                                      {% endif %}
                                      {% if user in waiting %}
                                        Sikker på at du vil melde deg av venteliste for arrangementet {{event.title}}?
                                      {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                      <div class="col-sm-6">
                                        <button class="modal-close-btn btn btn-default modal-event-btn">Lukk</button>
                                      </div>
                                      <div class="col-sm-6">
                                        <button class="btn btn-default modal-event-btn" name='not_attending' type="submit">Meld av</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <button type="button" class="btn btn-default event-btn" data-toggle="modal" data-target="#attendingusersModal">
                                Meld av
                              </button>
                            </form>

                        {% elif attendees|length == event.max_attendees %}
                            <form method='POST'>
                              {% csrf_token %}
                              <button class="btn btn-default event-btn" name='attending' type="submit">Meld på venteliste</button>
                            </form>
                        {% else %}
                            <form method='POST'>
                              {% csrf_token %}
                              <button class="btn btn-default event-btn" name='attending' type="submit">Meld på</button>
                            </form>
                        {% endif %}
                      {% elif user.year|stringformat:"s" not in event.invited_years %}
                          <p>Ditt årskull er ikke invitert til dette arrangementet</p>
                      {% endif %}

                {% elif closed %}
                  {% if user in attendees %}
                    {% if can_sign_off %}
                      <form method='POST'>
                        {% csrf_token %}
                        <!-- Modal for attending after closed event users-->
                              <div class="modal fade" id="attendingusersModal" tabindex="-1" role="dialog" aria-labelledby="attendingusersModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="attendingusersModalLabel">Meld deg av {{event.title}}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      {% if user in attendees %}
                                        Sikker på at du vil melde deg av arrangementet {{event.title}}?
                                      {% endif %}
                                      {% if user in waiting %}
                                        Sikker på at du vil melde deg av venteliste for arrangementet {{event.title}}?
                                      {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                      <div class="col-sm-6">
                                        <button class="modal-close-btn btn btn-default modal-event-btn">Lukk</button>
                                      </div>
                                      <div class="col-sm-6">
                                        <button class="btn btn-default modal-event-btn" name='not_attending' type="submit">Meld av</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <button type="button" class="btn btn-default event-btn" data-toggle="modal" data-target="#attendingusersModal">
                                Meld av
                              </button>
                      </form>
                      <br>
                      {% if event.binding_registration and waiting %}
                        <p>Arrangementet har bindende påmelding, men du kan melde deg av sålenge det er venteliste.</p>
                      {% else %}
                        <p>OBS: Det er ikke lenger mulig å melde seg på arrangementet, og avmelding på dette tidspunktet kan føre til at du må betale dersom arrangementet koster penger, eventuelt prikk om arrangementet er en bedriftspresentasjon</p>
                      {% endif %}
                    {% elif event.binding_registration and waiting %}
                      <p>Arrangementet har bindende påmelding, men du kan melde deg av grunnet venteliste.</p>
                    {% elif event.binding_registration %}
                      <p>Arrangementet har bindende påmelding og du kan ikke lenger melde deg av.</p>
                    {% else %}
                      <p>Det er ikke lenger mulig å melde seg av dette arrangementet. Ta kontakt med {{event.organizer}} dersom du ikke kan møte opp.</p>
                    {% endif %}
                  {% elif user in waiting%}
                    <form method='POST'>
                      {% csrf_token %}
                      <!-- Modal for users in waiting list after closed event-->
                              <div class="modal fade" id="attendingusersModal" tabindex="-1" role="dialog" aria-labelledby="attendingusersModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="attendingusersModalLabel">Meld deg av {{event.title}}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      {% if user in attendees %}
                                        Sikker på at du vil melde deg av arrangementet {{event.title}}?
                                      {% endif %}
                                      {% if user in waiting %}
                                        Sikker på at du vil melde deg av venteliste for arrangementet {{event.title}}?
                                      {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                      <div class="col-sm-6">
                                        <button class="modal-close-btn btn btn-default modal-event-btn">Lukk</button>
                                      </div>
                                      <div class="col-sm-6">
                                        <button class="btn btn-default modal-event-btn" name='not_attending' type="submit">Meld av</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <button type="button" class="btn btn-default event-btn" data-toggle="modal" data-target="#attendingusersModal">
                                Meld av
                              </button>
                    </form>
                    <p>Det er ikke lenger mulig å melde seg på arrangementet</p>
                  {% else %}
                    <p>Det er ikke lenger mulig å melde seg på arrangementet</p>
                  {% endif %}
                {% elif event.registration %}
                <p>Påmelding åpner {{event.registration_starts}}</p>
                {% endif %}
            {% endif %}

            {% if not user.is_authenticated and event.registration %}
                <a class="btn btn-default event-btn" href="{% url 'login' %}?next={{ request.path }}">Logg inn for å melde deg på</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% if event.binding_registration %}
      <div class="event-block">
        <h2>Betaling</h2>
        <p>Dette er et arrangement med bindende påmelding.
          Dersom du melder deg av etter avmeldingsfristen
          eller ikke møter opp må du fremdeles betale for arrangementet. </p>
      </div>
      {%endif%}


    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}" ></script>
  <script type="text/javascript" src= "{% static 'plugin/tinymce/init-tinymce.js' %}"></script>
  {% endblock %}
