nav {
  margin-bottom: 0;
}

.content {
  position: relative;
  width: 100%;
  margin-left: 0;
}

.container-fluid {
  height: 100%;
}

.container-fluid .about-row {
  height: 100%;
}

.main {
  min-height: 50vh;
}

/* FRAMSIDE */

.innhold {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.innhold2 {
  width: 100%;
  padding-top: 25px;
}

.to-delt {
  width: 47%;
  float: left;
  margin-left: 0;
  margin-bottom: 20px; /* Redusert margin */
}

.info-section {
  padding: 20px 50px; /* Kombinert padding */
  margin-bottom: 20px; /* Redusert margin */
}

.info-section1 {
  padding: 20px 50px; /* Kombinert padding */
  margin-bottom: 20px; /* Redusert margin */
}

.info-section2 {
  padding: 20px 50px; /* Kombinert padding */
  margin-bottom: 20px; /* Redusert margin */
}

/* Fadderperiode seksjonen */
.info-section.bg-light {
  padding: 40px 0;
  margin: 0;
}
